<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.pms.springmvc.dao.DispatchSettlementMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.pms.springmvc.entity.DispatchSettlement">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="settleSeq" jdbcType="VARCHAR" property="settleSeq" />
    <result column="dispatchId" jdbcType="INTEGER" property="dispatchId" />
    <result column="dispatchSeq" jdbcType="VARCHAR" property="dispatchSeq" />
    <result column="progressDesc" jdbcType="VARCHAR" property="progressDesc" />
    <result column="progressRatio" jdbcType="REAL" property="progressRatio" />
    <result column="acceptanceDesc" jdbcType="VARCHAR" property="acceptanceDesc" />
    <result column="acceptanceRatio" jdbcType="VARCHAR" property="acceptanceRatio" />
    <result column="ratio" jdbcType="VARCHAR" property="ratio" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="confirmTime" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="paymentTime" jdbcType="TIMESTAMP" property="paymentTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="sseId" jdbcType="INTEGER" property="sseId" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="quarter" jdbcType="INTEGER" property="quarter" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="customInfo" jdbcType="OTHER" property="customInfo" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
  </resultMap>
  <sql id="Base_Column_List">
    id, settleSeq, dispatchId, dispatchSeq, progressDesc, progressRatio, acceptanceDesc, 
    acceptanceRatio, ratio, amount, memo, confirmTime, paymentTime, remark, state, sseId, 
    year, quarter, month, customInfo, createTime, createBy, updateTime, updateBy, disabled
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_dispatch_project_settlement
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pm_dispatch_project_settlement
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.pms.springmvc.entity.DispatchSettlement">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_dispatch_project_settlement (settleSeq, dispatchId, dispatchSeq, 
      progressDesc, progressRatio, acceptanceDesc, 
      acceptanceRatio, ratio, amount, 
      memo, confirmTime, paymentTime, 
      remark, state, sseId, 
      year, quarter, month, 
      customInfo, createTime, createBy, 
      updateTime, updateBy, disabled
      )
    values (#{settleSeq,jdbcType=VARCHAR}, #{dispatchId,jdbcType=INTEGER}, #{dispatchSeq,jdbcType=VARCHAR}, 
      #{progressDesc,jdbcType=VARCHAR}, #{progressRatio,jdbcType=REAL}, #{acceptanceDesc,jdbcType=VARCHAR}, 
      #{acceptanceRatio,jdbcType=VARCHAR}, #{ratio,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{confirmTime,jdbcType=TIMESTAMP}, #{paymentTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{sseId,jdbcType=INTEGER}, 
      #{year,jdbcType=INTEGER}, #{quarter,jdbcType=INTEGER}, #{month,jdbcType=INTEGER}, 
      #{customInfo,jdbcType=OTHER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{disabled,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.pms.springmvc.entity.DispatchSettlement">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_dispatch_project_settlement
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="settleSeq != null">
        settleSeq,
      </if>
      <if test="dispatchId != null">
        dispatchId,
      </if>
      <if test="dispatchSeq != null">
        dispatchSeq,
      </if>
      <if test="progressDesc != null">
        progressDesc,
      </if>
      <if test="progressRatio != null">
        progressRatio,
      </if>
      <if test="acceptanceDesc != null">
        acceptanceDesc,
      </if>
      <if test="acceptanceRatio != null">
        acceptanceRatio,
      </if>
      <if test="ratio != null">
        ratio,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="confirmTime != null">
        confirmTime,
      </if>
      <if test="paymentTime != null">
        paymentTime,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="sseId != null">
        sseId,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="quarter != null">
        quarter,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="customInfo != null">
        customInfo,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="updateBy != null">
        updateBy,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="settleSeq != null">
        #{settleSeq,jdbcType=VARCHAR},
      </if>
      <if test="dispatchId != null">
        #{dispatchId,jdbcType=INTEGER},
      </if>
      <if test="dispatchSeq != null">
        #{dispatchSeq,jdbcType=VARCHAR},
      </if>
      <if test="progressDesc != null">
        #{progressDesc,jdbcType=VARCHAR},
      </if>
      <if test="progressRatio != null">
        #{progressRatio,jdbcType=REAL},
      </if>
      <if test="acceptanceDesc != null">
        #{acceptanceDesc,jdbcType=VARCHAR},
      </if>
      <if test="acceptanceRatio != null">
        #{acceptanceRatio,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null">
        #{ratio,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null">
        #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null">
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="sseId != null">
        #{sseId,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
      <if test="quarter != null">
        #{quarter,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="customInfo != null">
        #{customInfo,jdbcType=OTHER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.pms.springmvc.entity.DispatchSettlement">
    update pm_dispatch_project_settlement
    <set>
      <if test="settleSeq != null">
        settleSeq = #{settleSeq,jdbcType=VARCHAR},
      </if>
      <if test="dispatchId != null">
        dispatchId = #{dispatchId,jdbcType=INTEGER},
      </if>
      <if test="dispatchSeq != null">
        dispatchSeq = #{dispatchSeq,jdbcType=VARCHAR},
      </if>
      <if test="progressDesc != null">
        progressDesc = #{progressDesc,jdbcType=VARCHAR},
      </if>
      <if test="progressRatio != null">
        progressRatio = #{progressRatio,jdbcType=REAL},
      </if>
      <if test="acceptanceDesc != null">
        acceptanceDesc = #{acceptanceDesc,jdbcType=VARCHAR},
      </if>
      <if test="acceptanceRatio != null">
        acceptanceRatio = #{acceptanceRatio,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null">
        ratio = #{ratio,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null">
        confirmTime = #{confirmTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null">
        paymentTime = #{paymentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="sseId != null">
        sseId = #{sseId,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=INTEGER},
      </if>
      <if test="quarter != null">
        quarter = #{quarter,jdbcType=INTEGER},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="customInfo != null">
        <!-- customInfo = #{customInfo,jdbcType=JSON}, -->
        <!-- customInfo = JSON_SET (IFNULL(
		    customInfo, "{}"), 
		    <foreach collection="customInfo" item="value" index="key" separator=",">
			    '$.${key}', #{value,typeHandler=com.dp.plat.core.handlers.FastjsonTypeHandler}
		    </foreach>
		), -->
		customInfo = JSON_MERGE_PATCH(IFNULL(customInfo, "{}"), #{customInfo,jdbcType=JSON}),
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        updateBy = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.pms.springmvc.entity.DispatchSettlement">
    update pm_dispatch_project_settlement
    set settleSeq = #{settleSeq,jdbcType=VARCHAR},
      dispatchId = #{dispatchId,jdbcType=INTEGER},
      dispatchSeq = #{dispatchSeq,jdbcType=VARCHAR},
      progressDesc = #{progressDesc,jdbcType=VARCHAR},
      progressRatio = #{progressRatio,jdbcType=REAL},
      acceptanceDesc = #{acceptanceDesc,jdbcType=VARCHAR},
      acceptanceRatio = #{acceptanceRatio,jdbcType=VARCHAR},
      ratio = #{ratio,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      confirmTime = #{confirmTime,jdbcType=TIMESTAMP},
      paymentTime = #{paymentTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      sseId = #{sseId,jdbcType=INTEGER},
      year = #{year,jdbcType=INTEGER},
      quarter = #{quarter,jdbcType=INTEGER},
      month = #{month,jdbcType=INTEGER},
      <!-- customInfo = #{customInfo,jdbcType=JSON}, -->
       <!--  customInfo = JSON_SET (IFNULL(
		    customInfo, "{}"), 
		    <foreach collection="customInfo" item="value" index="key" separator=",">
			    '$.${key}', #{value,typeHandler=com.dp.plat.core.handlers.FastjsonTypeHandler}
		    </foreach>
		), -->
		customInfo = JSON_MERGE_PATCH(IFNULL(customInfo, "{}"), #{customInfo,jdbcType=JSON}),
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createBy = #{createBy,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=VARCHAR},
      disabled = #{disabled,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="com.dp.plat.pms.springmvc.entity.DispatchSettlement" resultMap="BaseResultMap">
    select * from pm_dispatch_project_settlement
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null and '' != id">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="settleSeq != null and '' != settleSeq">
				settleSeq = #{settleSeq, jdbcType=VARCHAR} AND
			</if>
			<if test="dispatchId != null and '' != dispatchId">
				dispatchId = #{dispatchId, jdbcType=INTEGER} AND
			</if>
			<if test="dispatchSeq != null and '' != dispatchSeq">
				dispatchSeq = #{dispatchSeq, jdbcType=VARCHAR} AND
			</if>
			<if test="progressDesc != null and '' != progressDesc">
				progressDesc = #{progressDesc, jdbcType=VARCHAR} AND
			</if>
			<if test="progressRatio != null and '' != progressRatio">
				progressRatio = #{progressRatio, jdbcType=REAL} AND
			</if>
			<if test="acceptanceDesc != null and '' != acceptanceDesc">
				acceptanceDesc = #{acceptanceDesc, jdbcType=VARCHAR} AND
			</if>
			<if test="acceptanceRatio != null and '' != acceptanceRatio">
				acceptanceRatio = #{acceptanceRatio, jdbcType=VARCHAR} AND
			</if>
			<if test="ratio != null and '' != ratio">
				ratio = #{ratio, jdbcType=VARCHAR} AND
			</if>
			<if test="amount != null and '' != amount">
				amount = #{amount, jdbcType=VARCHAR} AND
			</if>
			<if test="memo != null and '' != memo">
				memo = #{memo, jdbcType=VARCHAR} AND
			</if>
			<if test="confirmTime != null and '' != confirmTime">
				confirmTime = #{confirmTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="paymentTime != null and '' != paymentTime">
				paymentTime = #{paymentTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="remark != null and '' != remark">
				remark = #{remark, jdbcType=VARCHAR} AND
			</if>
			<if test="state != null and '' != state">
				state = #{state, jdbcType=INTEGER} AND
			</if>
			<if test="sseId != null and '' != sseId">
				sseId = #{sseId, jdbcType=INTEGER} AND
			</if>
			<if test="year != null and '' != year">
				year = #{year, jdbcType=INTEGER} AND
			</if>
			<if test="quarter != null and '' != quarter">
				quarter = #{quarter, jdbcType=INTEGER} AND
			</if>
			<if test="month != null and '' != month">
				month = #{month, jdbcType=INTEGER} AND
			</if>
			<if test="customInfo != null and '' != customInfo">
				customInfo = #{customInfo, jdbcType=OTHER} AND
			</if>
			<if test="createTime != null">
				createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="disabled != null">
				disabled = #{disabled, jdbcType=BIT} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.pms.springmvc.entity.DispatchSettlement" resultType="long">
    select count(1) from pm_dispatch_project_settlement
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null and '' != id">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="settleSeq != null and '' != settleSeq">
				settleSeq = #{settleSeq, jdbcType=VARCHAR} AND
			</if>
			<if test="dispatchId != null and '' != dispatchId">
				dispatchId = #{dispatchId, jdbcType=INTEGER} AND
			</if>
			<if test="dispatchSeq != null and '' != dispatchSeq">
				dispatchSeq = #{dispatchSeq, jdbcType=VARCHAR} AND
			</if>
			<if test="progressDesc != null and '' != progressDesc">
				progressDesc = #{progressDesc, jdbcType=VARCHAR} AND
			</if>
			<if test="progressRatio != null and '' != progressRatio">
				progressRatio = #{progressRatio, jdbcType=REAL} AND
			</if>
			<if test="acceptanceDesc != null and '' != acceptanceDesc">
				acceptanceDesc = #{acceptanceDesc, jdbcType=VARCHAR} AND
			</if>
			<if test="acceptanceRatio != null and '' != acceptanceRatio">
				acceptanceRatio = #{acceptanceRatio, jdbcType=VARCHAR} AND
			</if>
			<if test="ratio != null and '' != ratio">
				ratio = #{ratio, jdbcType=VARCHAR} AND
			</if>
			<if test="amount != null and '' != amount">
				amount = #{amount, jdbcType=VARCHAR} AND
			</if>
			<if test="memo != null and '' != memo">
				memo = #{memo, jdbcType=VARCHAR} AND
			</if>
			<if test="confirmTime != null and '' != confirmTime">
				confirmTime = #{confirmTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="paymentTime != null and '' != paymentTime">
				paymentTime = #{paymentTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="remark != null and '' != remark">
				remark = #{remark, jdbcType=VARCHAR} AND
			</if>
			<if test="state != null and '' != state">
				state = #{state, jdbcType=INTEGER} AND
			</if>
			<if test="sseId != null and '' != sseId">
				sseId = #{sseId, jdbcType=INTEGER} AND
			</if>
			<if test="year != null and '' != year">
				year = #{year, jdbcType=INTEGER} AND
			</if>
			<if test="quarter != null and '' != quarter">
				quarter = #{quarter, jdbcType=INTEGER} AND
			</if>
			<if test="month != null and '' != month">
				month = #{month, jdbcType=INTEGER} AND
			</if>
			<if test="customInfo != null and '' != customInfo">
				customInfo = #{customInfo, jdbcType=OTHER} AND
			</if>
			<if test="createTime != null">
				createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="disabled != null">
				disabled = #{disabled, jdbcType=BIT} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultMap="BaseResultMap">
    select s.* from pm_dispatch_project_settlement s
    <if test="model != null and model.projectId != null">
    	left join `pm_dispatch_project_header` d 
        	on s.`dispatchId` = d.`id`
    </if>
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					s.id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.settleSeq != null and '' != model.settleSeq">
					s.settleSeq = #{model.settleSeq, jdbcType=VARCHAR} AND
				</if>
				<if test="model.dispatchId != null and '' != model.dispatchId">
					s.dispatchId = #{model.dispatchId, jdbcType=INTEGER} AND
				</if>
				<if test="model.dispatchSeq != null and '' != model.dispatchSeq">
					s.dispatchSeq = #{model.dispatchSeq, jdbcType=VARCHAR} AND
				</if>
				<if test="model.progressDesc != null and '' != model.progressDesc">
					s.progressDesc = #{model.progressDesc, jdbcType=VARCHAR} AND
				</if>
				<if test="model.progressRatio != null and '' != model.progressRatio">
					s.progressRatio = #{model.progressRatio, jdbcType=REAL} AND
				</if>
				<if test="model.acceptanceDesc != null and '' != model.acceptanceDesc">
					s.acceptanceDesc = #{model.acceptanceDesc, jdbcType=VARCHAR} AND
				</if>
				<if test="model.acceptanceRatio != null and '' != model.acceptanceRatio">
					s.acceptanceRatio = #{model.acceptanceRatio, jdbcType=VARCHAR} AND
				</if>
				<if test="model.ratio != null and '' != model.ratio">
					s.ratio = #{model.ratio, jdbcType=VARCHAR} AND
				</if>
				<if test="model.amount != null and '' != model.amount">
					s.amount = #{model.amount, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memo != null and '' != model.memo">
					s.memo = #{model.memo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.confirmTime != null and '' != model.confirmTime">
					s.confirmTime = #{model.confirmTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.paymentTime != null and '' != model.paymentTime">
					s.paymentTime = #{model.paymentTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.remark != null and '' != model.remark">
					s.remark = #{model.remark, jdbcType=VARCHAR} AND
				</if>
				<if test="model.state != null and '' != model.state">
					s.state = #{model.state, jdbcType=INTEGER} AND
				</if>
				<if test="model.sseId != null and '' != model.sseId">
					s.sseId = #{model.sseId, jdbcType=INTEGER} AND
				</if>
				<if test="model.year != null and '' != model.year">
					s.year = #{model.year, jdbcType=INTEGER} AND
				</if>
				<if test="model.quarter != null and '' != model.quarter">
					s.quarter = #{model.quarter, jdbcType=INTEGER} AND
				</if>
				<if test="model.month != null and '' != model.month">
					s.month = #{model.month, jdbcType=INTEGER} AND
				</if>
				<if test="model.customInfo != null and '' != model.customInfo">
					s.customInfo = #{model.customInfo, jdbcType=OTHER} AND
				</if>
				<if test="model.createTime != null">
					s.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					s.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					s.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					s.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.disabled != null">
					s.disabled = #{model.disabled, jdbcType=BIT} AND
				</if>
				<if test="model.projectId != null">
					find_in_set(#{model.projectId}, d.projectIds)
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					s.settleSeq like CONCAT("%", #{fuzzy}, "%") or
					s.dispatchSeq like CONCAT("%", #{fuzzy}, "%") or
					s.progressDesc like CONCAT("%", #{fuzzy}, "%") or
					s.acceptanceDesc like CONCAT("%", #{fuzzy}, "%") or
					s.acceptanceRatio like CONCAT("%", #{fuzzy}, "%") or
					s.ratio like CONCAT("%", #{fuzzy}, "%") or
					s.amount like CONCAT("%", #{fuzzy}, "%") or
					s.memo like CONCAT("%", #{fuzzy}, "%") or
					s.remark like CONCAT("%", #{fuzzy}, "%") or
					s.customInfo like CONCAT("%", #{fuzzy}, "%") or
					s.createBy like CONCAT("%", #{fuzzy}, "%") or
					s.updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
	<if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by s.id desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from pm_dispatch_project_settlement s
    <if test="model != null and model.projectId != null">
    	left join `pm_dispatch_project_header` d 
        	on s.`dispatchId` = d.`id`
    </if>
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					s.id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.settleSeq != null and '' != model.settleSeq">
					s.settleSeq = #{model.settleSeq, jdbcType=VARCHAR} AND
				</if>
				<if test="model.dispatchId != null and '' != model.dispatchId">
					s.dispatchId = #{model.dispatchId, jdbcType=INTEGER} AND
				</if>
				<if test="model.dispatchSeq != null and '' != model.dispatchSeq">
					s.dispatchSeq = #{model.dispatchSeq, jdbcType=VARCHAR} AND
				</if>
				<if test="model.progressDesc != null and '' != model.progressDesc">
					s.progressDesc = #{model.progressDesc, jdbcType=VARCHAR} AND
				</if>
				<if test="model.progressRatio != null and '' != model.progressRatio">
					s.progressRatio = #{model.progressRatio, jdbcType=REAL} AND
				</if>
				<if test="model.acceptanceDesc != null and '' != model.acceptanceDesc">
					s.acceptanceDesc = #{model.acceptanceDesc, jdbcType=VARCHAR} AND
				</if>
				<if test="model.acceptanceRatio != null and '' != model.acceptanceRatio">
					s.acceptanceRatio = #{model.acceptanceRatio, jdbcType=VARCHAR} AND
				</if>
				<if test="model.ratio != null and '' != model.ratio">
					s.ratio = #{model.ratio, jdbcType=VARCHAR} AND
				</if>
				<if test="model.amount != null and '' != model.amount">
					s.amount = #{model.amount, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memo != null and '' != model.memo">
					s.memo = #{model.memo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.confirmTime != null and '' != model.confirmTime">
					s.confirmTime = #{model.confirmTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.paymentTime != null and '' != model.paymentTime">
					s.paymentTime = #{model.paymentTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.remark != null and '' != model.remark">
					s.remark = #{model.remark, jdbcType=VARCHAR} AND
				</if>
				<if test="model.state != null and '' != model.state">
					s.state = #{model.state, jdbcType=INTEGER} AND
				</if>
				<if test="model.sseId != null and '' != model.sseId">
					s.sseId = #{model.sseId, jdbcType=INTEGER} AND
				</if>
				<if test="model.year != null and '' != model.year">
					s.year = #{model.year, jdbcType=INTEGER} AND
				</if>
				<if test="model.quarter != null and '' != model.quarter">
					s.quarter = #{model.quarter, jdbcType=INTEGER} AND
				</if>
				<if test="model.month != null and '' != model.month">
					s.month = #{model.month, jdbcType=INTEGER} AND
				</if>
				<if test="model.customInfo != null and '' != model.customInfo">
					s.customInfo = #{model.customInfo, jdbcType=OTHER} AND
				</if>
				<if test="model.createTime != null">
					s.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					s.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					s.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					s.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.disabled != null">
					s.disabled = #{model.disabled, jdbcType=BIT} AND
				</if>
				<if test="model.projectId != null">
					find_in_set(#{model.projectId}, d.projectIds)
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					s.settleSeq like CONCAT("%", #{fuzzy}, "%") or
					s.dispatchSeq like CONCAT("%", #{fuzzy}, "%") or
					s.progressDesc like CONCAT("%", #{fuzzy}, "%") or
					s.acceptanceDesc like CONCAT("%", #{fuzzy}, "%") or
					s.acceptanceRatio like CONCAT("%", #{fuzzy}, "%") or
					s.ratio like CONCAT("%", #{fuzzy}, "%") or
					s.amount like CONCAT("%", #{fuzzy}, "%") or
					s.memo like CONCAT("%", #{fuzzy}, "%") or
					s.remark like CONCAT("%", #{fuzzy}, "%") or
					s.customInfo like CONCAT("%", #{fuzzy}, "%") or
					s.createBy like CONCAT("%", #{fuzzy}, "%") or
					s.updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </select>
  
  <sql id="sql_model_where">
  	<if test="model != null ">
		<if test="model.id != null and '' != model.id">
			s.id = #{model.id, jdbcType=INTEGER} AND
		</if>
		<if test="model.settleSeq != null and '' != model.settleSeq">
			s.settleSeq like concat("%", #{model.settleSeq, jdbcType=VARCHAR}, "%") AND
		</if>
		<if test="model.dispatchId != null and '' != model.dispatchId">
			s.dispatchId = #{model.dispatchId, jdbcType=INTEGER} AND
		</if>
		<if test="model.dispatchSeq != null and '' != model.dispatchSeq">
			s.dispatchSeq like concat("%", #{model.dispatchSeq, jdbcType=VARCHAR}, "%") AND
		</if>
		<if test="model.progressDesc != null and '' != model.progressDesc">
			s.progressDesc = #{model.progressDesc, jdbcType=VARCHAR} AND
		</if>
		<if test="model.progressRatio != null and '' != model.progressRatio">
			s.progressRatio = #{model.progressRatio, jdbcType=REAL} AND
		</if>
		<if test="model.acceptanceDesc != null and '' != model.acceptanceDesc">
			s.acceptanceDesc = #{model.acceptanceDesc, jdbcType=VARCHAR} AND
		</if>
		<if test="model.acceptanceRatio != null and '' != model.acceptanceRatio">
			s.acceptanceRatio = #{model.acceptanceRatio, jdbcType=VARCHAR} AND
		</if>
		<if test="model.ratio != null and '' != model.ratio">
			s.ratio = #{model.ratio, jdbcType=VARCHAR} AND
		</if>
		<if test="model.amount != null and '' != model.amount">
			s.amount = #{model.amount, jdbcType=VARCHAR} AND
		</if>
		<if test="model.memo != null and '' != model.memo">
			s.memo = #{model.memo, jdbcType=VARCHAR} AND
		</if>
		<if test="model.confirmTime != null and '' != model.confirmTime">
			s.confirmTime = #{model.confirmTime, jdbcType=TIMESTAMP} AND
		</if>
		<if test="model.paymentTime != null and '' != model.paymentTime">
			s.paymentTime = #{model.paymentTime, jdbcType=TIMESTAMP} AND
		</if>
		<if test="model.remark != null and '' != model.remark">
			s.remark = #{model.remark, jdbcType=VARCHAR} AND
		</if>
		<if test="model.state != null and '' != model.state">
			s.state = #{model.state, jdbcType=INTEGER} AND
		</if>
		<if test="model.sseId != null and '' != model.sseId">
			s.sseId = #{model.sseId, jdbcType=INTEGER} AND
		</if>
		<if test="model.year != null and '' != model.year">
			s.year = #{model.year, jdbcType=INTEGER} AND
		</if>
		<if test="model.quarter != null and '' != model.quarter">
			s.quarter = #{model.quarter, jdbcType=INTEGER} AND
		</if>
		<if test="model.month != null and '' != model.month">
			s.month = #{model.month, jdbcType=INTEGER} AND
		</if>
		<if test="model.customInfo != null and '' != model.customInfo">
			s.customInfo = #{model.customInfo, jdbcType=OTHER} AND
		</if>
		<if test="model.createTime != null">
			s.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
		</if>
		<if test="model.createBy != null and '' != model.createBy">
			s.createBy = #{model.createBy, jdbcType=VARCHAR} AND
		</if>
		<if test="model.updateTime != null">
			s.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
		</if>
		<if test="model.updateBy != null and '' != model.updateBy">
			s.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
		</if>
		<if test="model.disabled != null">
			s.disabled = #{model.disabled, jdbcType=BIT} AND
		</if>
		<if test="model.projectId != null">
			find_in_set(#{model.projectId}, h.projectIds)
		</if>
	</if>
  </sql>
  <select id="selectSettlementWidthDispatchPageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="com.dp.plat.pms.springmvc.vo.SettlementVO">
  	select 
	    h.id as `dispatch.id`, h.`dispatchName` as `dispatch.dispatchName`, h.`dispatchNo` as `dispatch.dispatchNo`, 
	    h.`dispatchSeq` as `dispatch.dispatchSeq`, h.`contractNos` as `dispatch.contractNos`, 
	    h.`projectIds` as `dispatch.projectIds`, h.`type` as `dispatch.type`, h.`state` as `dispatch.state`, 
	    h.`customInfo` as `dispatch.customInfo`, h.id as `dispatchId`, h.dispatchSeq as `dispatchSeq`, 
	    ds.settledAmount, h.dispatchAmount as `dispatch.dispatchAmount`,
	    sum(sc.`collected_money_amount`) as collectedAmount, 
        sum(sc.`delivered_money_amount`) as deliveredAmount, 
        sum(sc.`contract_money_amount`) as contractAmount,
	    <!-- ROUND(ds.settledAmount / h.dispatchAmount, 4) as settledRatio, 
	    ROUND(h.collectedAmount / h.deliveredAmount, 4) as collectedRatio,  -->
	    ROUND(ds.settledAmount / h.dispatchAmount, 4) as settledRatio, 
    	ROUND(sum(sc.`collected_money_amount`) / sum(sc.`delivered_money_amount`), 4) as collectedRatio, 
	    s.* 
	from
	    <!-- (select 
	        h.*, 
	        sum(sc.`collected_money_amount`) as collectedAmount, 
	        sum(sc.`delivered_money_amount`) as deliveredAmount, 
	        sum(sc.`contract_money_amount`) as contractAmount 
	    from
	        pm_dispatch_project_header h 
	        left join `sms_ofst_contract_head_sap` sc 
	            on FIND_IN_SET(
	                sc.`contract_num`, h.`contractNos`
	            ) 
	    <where>
			<if test="model != null and model.dispatched != null"> h.`dispatched` = #{model.dispatched} </if>
	    </where>
	    group by h.id) h  -->
	    pm_dispatch_project_header h 
	    left join `pm_dispatch_project_settlement` s 
	        on h.`id` = s.`dispatchId` 
	        and s.`disabled` = false 
        left join `sms_ofst_contract_head_sap` sc 
            on FIND_IN_SET(sc.`contract_num`, h.`contractNos`) 
	    left join 
	        (select 
	            dispatchId, sum(replace(ds.`amount`, ",", "")) as settledAmount 
	        from
	            `pm_dispatch_project_settlement` ds 
	        where ds.`disabled` = false 
	        group by ds.`dispatchId`) ds 
	        on ds.`dispatchId` = h.`id` 
	    left join fnd_department d 
	        on h.`officeCode` = d.`departmentNum` 
	    left join `fnd_basic_data` bd 
	        on s.`state` = bd.`basicDataId` 
	        and bd.`dataTypeCode` = 'settlementState' 
	    left join `fnd_basic_data` bd1 
	        on h.`state` = bd1.`basicDataId` 
	        and bd1.`dataTypeCode` = 'dispatchState' 
	    left join `fnd_basic_data` bd2 
	        on h.`type` = bd2.`basicDataId` 
	        and bd2.`dataTypeCode` = 'dispatchType' 
	<where>
		<trim prefixOverrides="and | or" suffixOverrides="and | or">
			h.disabled = false AND
			<if test="model != null">
				<if test="model.dispatched != null"> h.`dispatched` = #{model.dispatched} AND </if>
				<if test="model.dispatch != null">
					<if test="model.dispatch.dispatchNo != null and '' != model.dispatch.dispatchNo">
						h.dispatchNo like concat("%", #{model.dispatch.dispatchNo, jdbcType=VARCHAR}, "%") AND
					</if>
					<if test="model.dispatch.dispatchSeq != null and '' != model.dispatch.dispatchSeq">
						h.dispatchSeq like concat("%", #{model.dispatch.dispatchSeq, jdbcType=VARCHAR}, "%") AND
					</if>
					<if test="model.dispatch.dispatchName != null and '' != model.dispatch.dispatchName">
						h.dispatchName like concat("%", #{model.dispatch.dispatchName, jdbcType=VARCHAR}, "%") AND
					</if>
					<if test="model.dispatch.smsProjectCode != null and '' != model.dispatch.smsProjectCode">
						h.smsProjectCode like concat("%", #{model.dispatch.smsProjectCode, jdbcType=VARCHAR}, "%") AND
					</if>
					<if test="model.dispatch.contractNos != null and '' != model.dispatch.contractNos">
						h.contractNos like concat("%", #{model.dispatch.contractNos, jdbcType=VARCHAR}, "%") AND
					</if>
					<if test="model.dispatch.type != null and '' != model.dispatch.type">
						h.type like concat("%", #{model.dispatch.type, jdbcType=VARCHAR}, "%") AND
					</if>
				</if>
			</if>
			<include refid="sql_model_where"></include>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					s.settleSeq like CONCAT("%", #{fuzzy}, "%") or
					s.dispatchSeq like CONCAT("%", #{fuzzy}, "%") or
					s.progressDesc like CONCAT("%", #{fuzzy}, "%") or
					s.acceptanceDesc like CONCAT("%", #{fuzzy}, "%") or
					s.acceptanceRatio like CONCAT("%", #{fuzzy}, "%") or
					s.ratio like CONCAT("%", #{fuzzy}, "%") or
					s.amount like CONCAT("%", #{fuzzy}, "%") or
					s.memo like CONCAT("%", #{fuzzy}, "%") or
					s.remark like CONCAT("%", #{fuzzy}, "%") or
					s.customInfo like CONCAT("%", #{fuzzy}, "%") or
					s.createBy like CONCAT("%", #{fuzzy}, "%") or
					s.updateBy like CONCAT("%", #{fuzzy}, "%") or
					h.dispatchNo like CONCAT("%", #{fuzzy}, "%") or
					h.dispatchSeq like CONCAT("%", #{fuzzy}, "%") or
					h.dispatchName like CONCAT("%", #{fuzzy}, "%") or
					h.contractNos like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
	group by h.id, s.`id`
	<if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
		order by settledRatio, s.`id` desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </select>
  
  <select id="countSettlementWidthDispatchPageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
  	select 
	    count(*) 
	from
	    (
	  	select 1 
	  	from
	  		pm_dispatch_project_header h 
		    left join `pm_dispatch_project_settlement` s 
		        on h.`id` = s.`dispatchId` 
		        and s.disabled = false
		<where>
			<trim prefixOverrides="and | or" suffixOverrides="and | or">
				h.disabled = false AND
				<if test="model != null">
					<if test="model.dispatched != null"> h.`dispatched` = #{model.dispatched} AND </if>
					<if test="model.dispatch != null">
						<if test="model.dispatch.dispatchNo != null and '' != model.dispatch.dispatchNo">
							h.dispatchNo like concat("%", #{model.dispatch.dispatchNo, jdbcType=VARCHAR}, "%") AND
						</if>
						<if test="model.dispatch.dispatchSeq != null and '' != model.dispatch.dispatchSeq">
							h.dispatchSeq like concat("%", #{model.dispatch.dispatchSeq, jdbcType=VARCHAR}, "%") AND
						</if>
						<if test="model.dispatch.dispatchName != null and '' != model.dispatch.dispatchName">
							h.dispatchName like concat("%", #{model.dispatch.dispatchName, jdbcType=VARCHAR}, "%") AND
						</if>
						<if test="model.dispatch.smsProjectCode != null and '' != model.dispatch.smsProjectCode">
							h.smsProjectCode like concat("%", #{model.dispatch.smsProjectCode, jdbcType=VARCHAR}, "%") AND
						</if>
						<if test="model.dispatch.contractNos != null and '' != model.dispatch.contractNos">
							h.contractNos like concat("%", #{model.dispatch.contractNos, jdbcType=VARCHAR}, "%") AND
						</if>
						<if test="model.dispatch.type != null and '' != model.dispatch.type">
							h.type like concat("%", #{model.dispatch.type, jdbcType=VARCHAR}, "%") AND
						</if>
					</if>
				</if>
				<include refid="sql_model_where"></include>
				<if test="fuzzySearch == true and fuzzy != ''">
					(
						s.settleSeq like CONCAT("%", #{fuzzy}, "%") or
						s.dispatchSeq like CONCAT("%", #{fuzzy}, "%") or
						s.progressDesc like CONCAT("%", #{fuzzy}, "%") or
						s.acceptanceDesc like CONCAT("%", #{fuzzy}, "%") or
						s.acceptanceRatio like CONCAT("%", #{fuzzy}, "%") or
						s.ratio like CONCAT("%", #{fuzzy}, "%") or
						s.amount like CONCAT("%", #{fuzzy}, "%") or
						s.memo like CONCAT("%", #{fuzzy}, "%") or
						s.remark like CONCAT("%", #{fuzzy}, "%") or
						s.customInfo like CONCAT("%", #{fuzzy}, "%") or
						s.createBy like CONCAT("%", #{fuzzy}, "%") or
						s.updateBy like CONCAT("%", #{fuzzy}, "%")
					)
				</if>
			</trim>
		</where>
		group by h.id, s.`id`) t
  </select>
  
  <!-- 查询SSE新增的付款信息 -->
  <select id="querySSEDispatchSettlementPaymentList" parameterType="com.dp.plat.pms.springmvc.vo.SettlementVO" resultType="com.dp.plat.pms.springmvc.vo.SettlementVO">
    SELECT DISTINCT
	    spp.id, sph.`id` AS dispatchId, sph.dispatchSeq, ROUND(
	        spps.`approveAmount` / REPLACE(sph.`dispatchAmount`, ",", "") * 100, 2
	    ) AS ratio, spps.approveAmount AS amount, spps.`confirmTime`, spps.`paymentTime`, spps.`remark`, spps.`id` AS sseId, spps.`confirmTime` AS createTime, 
	    IFNULL(spp.`createBy`, u.`user_name`) AS createBy, JSON_merge_patch(IFNULL(spp.customInfo, "{}"), 
	    CONCAT(
		'{',
		    CONCAT('"createName":"', IFNULL(spp.customInfo ->> "$.createName", ui.realName), '"'), 
		    CONCAT(',"useage":"', IFNULL(spps.useage,""), '"'), 
		    CONCAT(',"paystate":"', IFNULL(spps.paystate,""), '"'),
		    CONCAT(',"approveState":"', IFNULL(spps.approveState,""), '"'),
		    CONCAT(',"approveAmount":"', IFNULL(spps.approveAmount, ""), '"'), 
		    CONCAT(',"offerNum":"', IFNULL(spps.offerNum, ""), '"'), 
		'}')) AS customInfo
	FROM
	    `pm_subcontract_project_payment_sse` spps 
	    LEFT JOIN `pm_dispatch_project_header` sph 
	        ON sph.`dispatchNo` = REPLACE(spps.`subcontractNo`, " ", "") 
	    LEFT JOIN `pm_dispatch_project_settlement` spp 
	        ON sph.`id` = spp.`dispatchId`
	        AND spp.`disabled` = FALSE
	    LEFT JOIN t_user u
	        ON spps.`workNo` = SUBSTR(u.`user_name`, 2) 
	    LEFT JOIN t_user_info ui
	        ON u.`user_id` = ui.`user_id`
	        <if test="orgId != null">
				and ui.compID = #{orgId, jdbcType=INTEGER}
			</if>
	WHERE sph.id IS NOT NULL 
	    AND 0 = IFNULL(spp.`sseId`, 0)
	ORDER BY spps.`confirmTime`, sph.id
  </select>
</mapper>