<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.pms.springmvc.dao.ExcelAnalysisMapper">
  
  <select id="selectChangedReportDataIdWithSalesIn" resultType="int">
    SELECT 
	    id 
	FROM
	    `ar_report_data` rpd 
	    INNER JOIN 
	        (SELECT 
	            reportId, dataType, dataId, revenueConfirmType 
	        FROM
	            (SELECT #{reportId} AS reportId, 
			        si.`dataId`, si.`dataType`, si.revenueConfirmType, si.`salesInId`, si.`deferredId`,
			        si.`orderCode`, si.`projectName`, si.`contract`, si.`agentCode`, si.`agentName`,
			        si.`secondChannel`, si.`secondChannelName`, si.`channelLevel`, si.`sapId`, 
			        si.`salesType`, si.`contractType`, si.`contractTypeCode`, si.`itemCode`, 
			        si.`itemModel`, si.`itemBigType`, si.`itemType`, 
			        <choose>
			            <!-- 对外披露报告 -->
			            <when test="reportType == 20">si.firstName, si.secondName, si.`mFirstName`, si.`mSecondName`, </when>
			            <otherwise>si.`mFirstName`, si.`mSecondName`, si.firstName, si.secondName, </otherwise>
			        </choose>
			        si.`market`, IFNULL(si.`unitPrice`, 0), IFNULL(si.`quantity`, 0), 
			        IFNULL(si.`sumAmount`, 0), IFNULL(si.`outTaxAmount`, 0), IFNULL(si.`contractAmount`, 0), IFNULL(si.`directCost`, 0), IFNULL(si.`indirectCost`, 0), 
			        IFNULL(si.`supplyChainCost`, 0), IFNULL(si.`otherCost`, 0), IFNULL(si.`salesAfterCost`, 0), si.`accountPeriod`, 
			        si.`seasonPeriodId`, si.`dlvDate`, si.`incomeType`, si.`incomeTypeName`, 
			        IFNULL(si.`serviceOutsourcingCost`, 0), IFNULL(si.`prodCostDiff`, 0), IFNULL(si.`rebate`, 0), IFNULL(si.`customParam0`, 0), 
			        IFNULL(si.`customParam1`, 0), IFNULL(si.`customParam2`, 0), IFNULL(si.`customParam3`, 0), IFNULL(si.`customParam4`, 0), 
			        IFNULL(si.`customParam5`, 0), IFNULL(si.`customParam6`, 0), IFNULL(si.`customParam7`, 0), IFNULL(si.`customParam8`, 0), 
			        IFNULL(si.`customParam9`, 0), IFNULL(si.`spq`, 0), si.`orgId`, 
        			<choose>
	        			<when test="isMerge == true"> si.orgName,</when>
	        			<otherwise> c.compName as orgName, </otherwise>
	    			</choose> 
        			si.deferredFlag, si.`deferredAccountPeriod`, si.`confirmAccountPeriod`, si.`deferredTypeName`, si.`confirmType`
	            FROM
	                <choose>
				        <when test="isMerge == true">ar_salesin_revenue_merge si</when>
				        <otherwise>ar_salesin_revenue_export si
				            left join t_company c 
				            on c.id = si.orgId
				        </otherwise>
				    </choose> 
	            WHERE 
			    <if test="isMerge != true"> orgId = #{orgId} AND </if>
			    <foreach close=")" collection="accountPeriods" item="item" open=" accountPeriod IN (" separator=",">
			       #{item}
			    </foreach>
	            UNION
	            SELECT si.reportId, 
			        si.`dataId`, si.`dataType`, si.revenueConfirmType, si.`salesInId`, si.`deferredId`,
			        si.`orderCode`, si.`projectName`, si.`contract`, si.`agentCode`, si.`agentName`,
			        si.`secondChannel`, si.`secondChannelName`, si.`channelLevel`, si.`sapId`, 
			        si.`salesType`, si.`contractType`, si.`contractTypeCode`, si.`itemCode`, 
			        si.`itemModel`, si.`itemBigType`, si.`itemType`, 
			        si.firstName, si.secondName, si.`mFirstName`, si.`mSecondName`,
			        si.`market`, IFNULL(si.`unitPrice`, 0), IFNULL(si.`quantity`, 0), 
                    IFNULL(si.`sumAmount`, 0), IFNULL(si.`outTaxAmount`, 0), IFNULL(si.`contractAmount`, 0), IFNULL(si.`directCost`, 0), IFNULL(si.`indirectCost`, 0), 
                    IFNULL(si.`supplyChainCost`, 0), IFNULL(si.`otherCost`, 0), IFNULL(si.`salesAfterCost`, 0), si.`accountPeriod`, 
                    si.`seasonPeriodId`, si.`dlvDate`, si.`incomeType`, si.`incomeTypeName`, 
                    IFNULL(si.`serviceOutsourcingCost`, 0), IFNULL(si.`prodCostDiff`, 0), IFNULL(si.`rebate`, 0), IFNULL(si.`rsCustomParam0`, 0), 
                    IFNULL(si.`rsCustomParam1`, 0), IFNULL(si.`rsCustomParam2`, 0), IFNULL(si.`rsCustomParam3`, 0), IFNULL(si.`rsCustomParam4`, 0), 
                    IFNULL(si.`rsCustomParam5`, 0), IFNULL(si.`rsCustomParam6`, 0), IFNULL(si.`rsCustomParam7`, 0), IFNULL(si.`rsCustomParam8`, 0), 
                    IFNULL(si.`rsCustomParam9`, 0), IFNULL(si.`spq`, 0), si.`orgId`, si.orgName,
			        si.deferredFlag, si.`deferredAccountPeriod`, si.`confirmAccountPeriod`, si.`deferredTypeName`, si.`confirmType`
	            FROM
	                `ar_report_data` si 
	            WHERE si.reportId = #{reportId} and si.state = 1) t 
	        GROUP BY reportId, dataType, dataId, revenueConfirmType 
	        HAVING COUNT(*) > 1) t 
	        ON t.reportId = rpd.`reportId` 
	        AND t.dataType = rpd.`dataType` 
	        AND t.dataId = rpd.`dataId` 
	        AND t.revenueConfirmType = rpd.revenueConfirmType
  </select>
  
  <select id="resertAutoIncrement">ALTER TABLE `ar_report_data` AUTO_INCREMENT = 1</select>
  
  <select id="selectReportDataColumnMapping" resultType="com.dp.plat.core.vo.DataTableColumn">
    select * from ar_report_data_column_mapping where status = 1
    <if test="reportType != null and reportType != ''">
	    AND FIND_IN_SET(#{reportType}, reportType)
    </if>
  </select>
  
  <delete id="dropTempTable">
    drop TEMPORARY TABLE if exists ${tempTableName}
  </delete>
  
  <insert id="createTempTable">
    CREATE TEMPORARY TABLE IF NOT EXISTS ${tempTableName}
    SELECT * from ${sourceTableName} limit 0;
  </insert>
  
  <!-- 插入临时数据 -->
  <insert id="insertTempData">
    insert into ${tempTableName} 
    <choose>
	    <when test="columns != null and columns.size() > 0">
            <foreach collection="columns" item="column" open="(" close=")" separator=",">
		        ${column}
		    </foreach>
		    values 
            <foreach collection="list" item="item" separator=",">
			    <foreach collection="columns" item="column" open="(" close=")" separator=",">
	                #{item.${column}}
	            </foreach>
            </foreach>
	    </when>
    </choose> 
  </insert>
  
  <!-- 提交临时表导入数据 -->
  <insert id="submitImportData">
    insert into ${sourceTableName}
    <choose>
	    <when test="columns != null and columns.size() > 0">
			<foreach collection="columns" item="column" open="(" close=")" separator=",">
		        ${column}
		    </foreach>
	    	select 
            <foreach collection="columns" item="column" separator=",">
		        ${column}
		    </foreach>
		    from ${tempTableName} 
		    ON DUPLICATE KEY UPDATE
            <foreach collection="columns" item="column" separator=",">
		        ${column} = IFNULL(VALUES(${column}), ${sourceTableName}.${column})
		    </foreach>
	    </when>
    </choose>
  </insert>
  
  <!-- 插入导入数据 -->
  <insert id="doImportData">
    insert into ${sourceTableName} 
    <choose>
	    <when test="columns != null and columns.size() > 0">
            <foreach collection="columns" item="column" open="(" close=")" separator=",">
		        ${column}
		    </foreach>
		    values 
            <foreach collection="list" item="item" separator=",">
			    <foreach collection="columns" item="column" open="(" close=")" separator=",">
	                #{item.${column}}
	            </foreach>
            </foreach>
		    ON DUPLICATE KEY UPDATE
            <foreach collection="columns" item="column" separator=",">
		        ${column} = IFNULL(VALUES(${column}), ${column})
		    </foreach>
	    </when>
    </choose>
  </insert>
  
  <!-- 根据临时表数据创建变更数据表 -->
  <insert id="createTempReportDataTable">
    CREATE TEMPORARY TABLE IF NOT EXISTS ${tempTableName}_data
	SELECT DISTINCT
	    rpd.*
	FROM
	    ${tempTableName} t 
        INNER JOIN `ar_report_data` rpd 
        ON 
        <choose>
            <when test="adjustType == 'reportLineId'">
                t.id = rpd.`id` 
            </when>
            <when test="adjustType == 'deferredId'">
                t.deferredId = rpd.`deferredId` 
            </when>
            <when test="adjustType == 'salesInId'">
                t.salesInId = rpd.`salesInId` 
            </when>
            <when test="adjustType == 'contract'">
                t.contract = rpd.`contract`
            </when>
            <otherwise>
                t.id = rpd.`id`
		        OR (
		            (t.id = 0 OR t.id IS NULL) 
		            AND (
		                t.deferredId = rpd.`deferredId` 
		                OR (
		                    (t.deferredId = 0 OR t.deferredId IS NULL) 
		                    AND (
		                        t.salesInId = rpd.`salesInId` 
		                        OR (
		                            (t.salesInId = 0 OR t.salesInId IS NULL) 
		                            AND t.contract = rpd.`contract`
		                        )
		                    )
		                )
		            )
		        ) 
          </otherwise>
        </choose>
	WHERE t.reportId = rpd.`reportId`
  </insert>
  
  <!-- 将临时表的数据更新至变更数据 -->
  <update id="updateTempReportDataTable">
    UPDATE ${tempTableName}_data rpd
    INNER JOIN ${tempTableName} t
        ON 
        <choose>
            <when test="adjustType == 'reportLineId'">
                t.id = rpd.`id` 
            </when>
            <when test="adjustType == 'deferredId'">
                t.deferredId = rpd.`deferredId` 
            </when>
            <when test="adjustType == 'salesInId'">
                t.salesInId = rpd.`salesInId` 
            </when>
            <when test="adjustType == 'contract'">
                t.contract = rpd.`contract`
            </when>
            <otherwise>
                t.id = rpd.`id`
                OR (
                    (t.id = 0 OR t.id IS NULL) 
                    AND (
                        t.deferredId = rpd.`deferredId` 
                        OR (
                            (t.deferredId = 0 OR t.deferredId IS NULL) 
                            AND (
                                t.salesInId = rpd.`salesInId` 
                                OR (
                                    (t.salesInId = 0 OR t.salesInId IS NULL) 
                                    AND t.contract = rpd.`contract`
                                )
                            )
                        )
                    )
                ) 
            </otherwise>
        </choose>
    <foreach collection="columns" item="column" open=" SET " separator=",">
        rpd.${column} = t.${column}
    </foreach>
    WHERE rpd.reportId = t.`reportId`
  </update>
  
  <!-- 查询插入临时表的变更数据中与原报告数据不同的所有id -->
  <select id="selectChangedReportDataId" resultType="int">
    SELECT 
	    id 
	FROM
	    (SELECT 
	        * 
	    FROM
	        ar_report_data rpd 
	    WHERE reportId = #{reportId} 
	    UNION
	    SELECT 
	        * 
	    FROM ${tempTableName}_data) t 
	GROUP BY id 
	HAVING COUNT(1) > 1
  </select>
  
  <select id="selectTempData" parameterType="com.dp.plat.core.vo.PageParam" resultType="java.util.HashMap">
    select rd.* from ${customField} rd
    <where>
    	<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
		    <choose>
			    <when test="columns != null and columns.size() > 0">
		            <if test="model != null">
			            <foreach collection="columns" item="column">
					        <if test="model[column.data] != null"> 
					        	rd.${column.data} = #{model.${column.data}} AND
					        </if>
					    </foreach>
		            </if>
				    <if test="fuzzySearch == true and fuzzy != ''">
						<foreach collection="columns" item="column" open="(" close=")" separator=" or ">
				        	rd.${column.data} like CONCAT("%", #{fuzzy}, "%")
					    </foreach>
				    </if>
			    </when>
		    </choose>
	    </trim>
    </where>
    <if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by id desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </select>
  
  <select id="countTempData" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from ${customField} rd
    <where>
    	<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
		    <choose>
			    <when test="columns != null and columns.size() > 0">
		            <if test="model != null">
			            <foreach collection="columns" item="column">
					        <if test="model[column.data] != null"> 
					        	rd.${column.data} = #{model.${column.data}} AND
					        </if>
					    </foreach>
		            </if>
				    <if test="fuzzySearch == true and fuzzy != ''">
						<foreach collection="columns" item="column" open="(" close=")" separator=" or ">
				        	rd.${column.data} like CONCAT("%", #{fuzzy}, "%")
					    </foreach>
				    </if>
			    </when>
		    </choose>
	    </trim>
    </where>
  </select>
</mapper>