<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.pms.springmvc.dao.FacilitatorMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.pms.springmvc.entity.Facilitator">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="bankInfo" jdbcType="VARCHAR" property="bankInfo" />
    <result column="bankAccount" jdbcType="VARCHAR" property="bankAccount" />
    <result column="cnapsCode" jdbcType="VARCHAR" property="cnapsCode" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="needApprove" jdbcType="BIT" property="needApprove" />
    <result column="approveStatus" jdbcType="INTEGER" property="approveStatus" />
    <result column="deliveryIds" jdbcType="VARCHAR" property="deliveryIds" />
    <result column="relateType" jdbcType="VARCHAR" property="relateType" />
    <result column="effectiveFrom" jdbcType="TIMESTAMP" property="effectiveFrom" />
    <result column="effectiveTo" jdbcType="TIMESTAMP" property="effectiveTo" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, name, type, bankInfo, bankAccount, cnapsCode, contacts, tel, email, state, 
    needApprove, approveStatus, deliveryIds, relateType, effectiveFrom, effectiveTo, 
    createBy, createTime, updateBy, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_facilitator
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pm_facilitator
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.pms.springmvc.entity.Facilitator">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_facilitator (code, name, type, 
      bankInfo, bankAccount, cnapsCode, 
      contacts, tel, email, 
      state, needApprove, approveStatus, 
      deliveryIds, relateType, effectiveFrom, 
      effectiveTo, createBy, createTime, 
      updateBy, updateTime)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{bankInfo,jdbcType=VARCHAR}, #{bankAccount,jdbcType=VARCHAR}, #{cnapsCode,jdbcType=VARCHAR}, 
      #{contacts,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{state,jdbcType=BIT}, #{needApprove,jdbcType=BIT}, #{approveStatus,jdbcType=INTEGER}, 
      #{deliveryIds,jdbcType=VARCHAR}, #{relateType,jdbcType=VARCHAR}, #{effectiveFrom,jdbcType=TIMESTAMP}, 
      #{effectiveTo,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.pms.springmvc.entity.Facilitator">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_facilitator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="bankInfo != null">
        bankInfo,
      </if>
      <if test="bankAccount != null">
        bankAccount,
      </if>
      <if test="cnapsCode != null">
        cnapsCode,
      </if>
      <if test="contacts != null">
        contacts,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="needApprove != null">
        needApprove,
      </if>
      <if test="approveStatus != null">
        approveStatus,
      </if>
      <if test="deliveryIds != null">
        deliveryIds,
      </if>
      <if test="relateType != null">
        relateType,
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom,
      </if>
      <if test="effectiveTo != null">
        effectiveTo,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateBy != null">
        updateBy,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="bankInfo != null">
        #{bankInfo,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="cnapsCode != null">
        #{cnapsCode,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
      <if test="needApprove != null">
        #{needApprove,jdbcType=BIT},
      </if>
      <if test="approveStatus != null">
        #{approveStatus,jdbcType=INTEGER},
      </if>
      <if test="deliveryIds != null">
        #{deliveryIds,jdbcType=VARCHAR},
      </if>
      <if test="relateType != null">
        #{relateType,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.pms.springmvc.entity.Facilitator">
    update pm_facilitator
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="bankInfo != null">
        bankInfo = #{bankInfo,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        bankAccount = #{bankAccount,jdbcType=VARCHAR},
      </if>
      <if test="cnapsCode != null">
        cnapsCode = #{cnapsCode,jdbcType=VARCHAR},
      </if>
      <if test="contacts != null">
        contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="needApprove != null">
        needApprove = #{needApprove,jdbcType=BIT},
      </if>
      <if test="approveStatus != null">
        approveStatus = #{approveStatus,jdbcType=INTEGER},
      </if>
      <if test="deliveryIds != null">
        deliveryIds = #{deliveryIds,jdbcType=VARCHAR},
      </if>
      <if test="relateType != null">
        relateType = #{relateType,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        updateBy = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.pms.springmvc.entity.Facilitator">
    update pm_facilitator
    set code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      bankInfo = #{bankInfo,jdbcType=VARCHAR},
      bankAccount = #{bankAccount,jdbcType=VARCHAR},
      cnapsCode = #{cnapsCode,jdbcType=VARCHAR},
      contacts = #{contacts,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      needApprove = #{needApprove,jdbcType=BIT},
      approveStatus = #{approveStatus,jdbcType=INTEGER},
      deliveryIds = #{deliveryIds,jdbcType=VARCHAR},
      relateType = #{relateType,jdbcType=VARCHAR},
      effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      createBy = #{createBy,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="com.dp.plat.pms.springmvc.entity.Facilitator" resultMap="BaseResultMap">
    select * from pm_facilitator
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null and '' != id">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="code != null and '' != code">
				code = #{code, jdbcType=VARCHAR} AND
			</if>
			<if test="name != null and '' != name">
				name = #{name, jdbcType=VARCHAR} AND
			</if>
			<if test="type != null and '' != type">
				type = #{type, jdbcType=VARCHAR} AND
			</if>
			<if test="bankInfo != null and '' != bankInfo">
				bankInfo = #{bankInfo, jdbcType=VARCHAR} AND
			</if>
			<if test="bankAccount != null and '' != bankAccount">
				bankAccount = #{bankAccount, jdbcType=VARCHAR} AND
			</if>
			<if test="cnapsCode != null and '' != cnapsCode">
				cnapsCode = #{cnapsCode, jdbcType=VARCHAR} AND
			</if>
			<if test="contacts != null and '' != contacts">
				contacts = #{contacts, jdbcType=VARCHAR} AND
			</if>
			<if test="tel != null and '' != tel">
				tel = #{tel, jdbcType=VARCHAR} AND
			</if>
			<if test="email != null and '' != email">
				email = #{email, jdbcType=VARCHAR} AND
			</if>
			<if test="state != null and '' != state">
				state = #{state, jdbcType=BIT} AND
			</if>
			<if test="needApprove != null and '' != needApprove">
				needApprove = #{needApprove, jdbcType=BIT} AND
			</if>
			<if test="approveStatus != null and '' != approveStatus">
				approveStatus = #{approveStatus, jdbcType=INTEGER} AND
			</if>
			<if test="deliveryIds != null and '' != deliveryIds">
				deliveryIds = #{deliveryIds, jdbcType=VARCHAR} AND
			</if>
			<if test="relateType != null and '' != relateType">
				relateType = #{relateType, jdbcType=VARCHAR} AND
			</if>
			<if test="effectiveFrom != null">
				effectiveFrom = #{effectiveFrom, jdbcType=TIMESTAMP} AND
			</if>
			<if test="effectiveTo != null">
				effectiveTo = #{effectiveTo, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="createTime != null">
				createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.pms.springmvc.entity.Facilitator" resultType="long">
    select count(1) from pm_facilitator
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null and '' != id">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="code != null and '' != code">
				code = #{code, jdbcType=VARCHAR} AND
			</if>
			<if test="name != null and '' != name">
				name = #{name, jdbcType=VARCHAR} AND
			</if>
			<if test="type != null and '' != type">
				type = #{type, jdbcType=VARCHAR} AND
			</if>
			<if test="bankInfo != null and '' != bankInfo">
				bankInfo = #{bankInfo, jdbcType=VARCHAR} AND
			</if>
			<if test="bankAccount != null and '' != bankAccount">
				bankAccount = #{bankAccount, jdbcType=VARCHAR} AND
			</if>
			<if test="cnapsCode != null and '' != cnapsCode">
				cnapsCode = #{cnapsCode, jdbcType=VARCHAR} AND
			</if>
			<if test="contacts != null and '' != contacts">
				contacts = #{contacts, jdbcType=VARCHAR} AND
			</if>
			<if test="tel != null and '' != tel">
				tel = #{tel, jdbcType=VARCHAR} AND
			</if>
			<if test="email != null and '' != email">
				email = #{email, jdbcType=VARCHAR} AND
			</if>
			<if test="state != null and '' != state">
				state = #{state, jdbcType=BIT} AND
			</if>
			<if test="needApprove != null and '' != needApprove">
				needApprove = #{needApprove, jdbcType=BIT} AND
			</if>
			<if test="approveStatus != null and '' != approveStatus">
				approveStatus = #{approveStatus, jdbcType=INTEGER} AND
			</if>
			<if test="deliveryIds != null and '' != deliveryIds">
				deliveryIds = #{deliveryIds, jdbcType=VARCHAR} AND
			</if>
			<if test="relateType != null and '' != relateType">
				relateType = #{relateType, jdbcType=VARCHAR} AND
			</if>
			<if test="effectiveFrom != null">
				effectiveFrom = #{effectiveFrom, jdbcType=TIMESTAMP} AND
			</if>
			<if test="effectiveTo != null">
				effectiveTo = #{effectiveTo, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="createTime != null">
				createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultMap="BaseResultMap">
    select * from pm_facilitator
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.code != null and '' != model.code">
					code = #{model.code, jdbcType=VARCHAR} AND
				</if>
				<if test="model.name != null and '' != model.name">
					name = #{model.name, jdbcType=VARCHAR} AND
				</if>
				<if test="model.type != null and '' != model.type">
					type = #{model.type, jdbcType=VARCHAR} AND
				</if>
				<if test="model.bankInfo != null and '' != model.bankInfo">
					bankInfo = #{model.bankInfo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.bankAccount != null and '' != model.bankAccount">
					bankAccount = #{model.bankAccount, jdbcType=VARCHAR} AND
				</if>
				<if test="model.cnapsCode != null and '' != model.cnapsCode">
					cnapsCode = #{model.cnapsCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.contacts != null and '' != model.contacts">
					contacts = #{model.contacts, jdbcType=VARCHAR} AND
				</if>
				<if test="model.tel != null and '' != model.tel">
					tel = #{model.tel, jdbcType=VARCHAR} AND
				</if>
				<if test="model.email != null and '' != model.email">
					email = #{model.email, jdbcType=VARCHAR} AND
				</if>
				<if test="model.state != null and '' != model.state">
					state = #{model.state, jdbcType=BIT} AND
				</if>
				<if test="model.needApprove != null and '' != model.needApprove">
					needApprove = #{model.needApprove, jdbcType=BIT} AND
				</if>
				<if test="model.approveStatus != null and '' != model.approveStatus">
					approveStatus = #{model.approveStatus, jdbcType=INTEGER} AND
				</if>
				<if test="model.deliveryIds != null and '' != model.deliveryIds">
					deliveryIds = #{model.deliveryIds, jdbcType=VARCHAR} AND
				</if>
				<if test="model.relateType != null and '' != model.relateType">
					relateType = #{model.relateType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.effectiveFrom != null">
					effectiveFrom = #{model.effectiveFrom, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.effectiveTo != null">
					effectiveTo = #{model.effectiveTo, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null">
					createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					code like CONCAT("%", #{fuzzy}, "%") or
					name like CONCAT("%", #{fuzzy}, "%") or
					type like CONCAT("%", #{fuzzy}, "%") or
					bankInfo like CONCAT("%", #{fuzzy}, "%") or
					bankAccount like CONCAT("%", #{fuzzy}, "%") or
					cnapsCode like CONCAT("%", #{fuzzy}, "%") or
					contacts like CONCAT("%", #{fuzzy}, "%") or
					tel like CONCAT("%", #{fuzzy}, "%") or
					email like CONCAT("%", #{fuzzy}, "%") or
					deliveryIds like CONCAT("%", #{fuzzy}, "%") or
					relateType like CONCAT("%", #{fuzzy}, "%") or
					createBy like CONCAT("%", #{fuzzy}, "%") or
					updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
	<if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by id desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from pm_facilitator
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.code != null and '' != model.code">
					code = #{model.code, jdbcType=VARCHAR} AND
				</if>
				<if test="model.name != null and '' != model.name">
					name = #{model.name, jdbcType=VARCHAR} AND
				</if>
				<if test="model.type != null and '' != model.type">
					type = #{model.type, jdbcType=VARCHAR} AND
				</if>
				<if test="model.bankInfo != null and '' != model.bankInfo">
					bankInfo = #{model.bankInfo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.bankAccount != null and '' != model.bankAccount">
					bankAccount = #{model.bankAccount, jdbcType=VARCHAR} AND
				</if>
				<if test="model.cnapsCode != null and '' != model.cnapsCode">
					cnapsCode = #{model.cnapsCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.contacts != null and '' != model.contacts">
					contacts = #{model.contacts, jdbcType=VARCHAR} AND
				</if>
				<if test="model.tel != null and '' != model.tel">
					tel = #{model.tel, jdbcType=VARCHAR} AND
				</if>
				<if test="model.email != null and '' != model.email">
					email = #{model.email, jdbcType=VARCHAR} AND
				</if>
				<if test="model.state != null and '' != model.state">
					state = #{model.state, jdbcType=BIT} AND
				</if>
				<if test="model.needApprove != null and '' != model.needApprove">
					needApprove = #{model.needApprove, jdbcType=BIT} AND
				</if>
				<if test="model.approveStatus != null and '' != model.approveStatus">
					approveStatus = #{model.approveStatus, jdbcType=INTEGER} AND
				</if>
				<if test="model.deliveryIds != null and '' != model.deliveryIds">
					deliveryIds = #{model.deliveryIds, jdbcType=VARCHAR} AND
				</if>
				<if test="model.relateType != null and '' != model.relateType">
					relateType = #{model.relateType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.effectiveFrom != null">
					effectiveFrom = #{model.effectiveFrom, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.effectiveTo != null">
					effectiveTo = #{model.effectiveTo, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null">
					createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					code like CONCAT("%", #{fuzzy}, "%") or
					name like CONCAT("%", #{fuzzy}, "%") or
					type like CONCAT("%", #{fuzzy}, "%") or
					bankInfo like CONCAT("%", #{fuzzy}, "%") or
					bankAccount like CONCAT("%", #{fuzzy}, "%") or
					cnapsCode like CONCAT("%", #{fuzzy}, "%") or
					contacts like CONCAT("%", #{fuzzy}, "%") or
					tel like CONCAT("%", #{fuzzy}, "%") or
					email like CONCAT("%", #{fuzzy}, "%") or
					deliveryIds like CONCAT("%", #{fuzzy}, "%") or
					relateType like CONCAT("%", #{fuzzy}, "%") or
					createBy like CONCAT("%", #{fuzzy}, "%") or
					updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </select>
</mapper>