<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.pms.springmvc.dao.IndustryAssetProjectRelationMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.pms.springmvc.entity.IndustryAssetProjectRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="projectId" jdbcType="INTEGER" property="projectId" />
    <result column="assetId" jdbcType="INTEGER" property="assetId" />
    <result column="effectiveFrom" jdbcType="TIMESTAMP" property="effectiveFrom" />
    <result column="effectiveTo" jdbcType="TIMESTAMP" property="effectiveTo" />
    <result column="disabled" jdbcType="BIT" property="disabled" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, projectId, assetId, effectiveFrom, effectiveTo, disabled, createBy, createTime, 
    updateBy, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from af_industry_asset_project_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from af_industry_asset_project_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.pms.springmvc.entity.IndustryAssetProjectRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into af_industry_asset_project_relation (projectId, assetId, effectiveFrom, 
      effectiveTo, disabled, createBy, 
      createTime, updateBy, updateTime
      )
    values (#{projectId,jdbcType=INTEGER}, #{assetId,jdbcType=INTEGER}, #{effectiveFrom,jdbcType=TIMESTAMP}, 
      #{effectiveTo,jdbcType=TIMESTAMP}, #{disabled,jdbcType=BIT}, #{createBy,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.pms.springmvc.entity.IndustryAssetProjectRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into af_industry_asset_project_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        projectId,
      </if>
      <if test="assetId != null">
        assetId,
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom,
      </if>
      <if test="effectiveTo != null">
        effectiveTo,
      </if>
      <if test="disabled != null">
        disabled,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateBy != null">
        updateBy,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="assetId != null">
        #{assetId,jdbcType=INTEGER},
      </if>
      <if test="effectiveFrom != null">
        #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="disabled != null">
        #{disabled,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.pms.springmvc.entity.IndustryAssetProjectRelation">
    update af_industry_asset_project_relation
    <set>
      <if test="projectId != null">
        projectId = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="assetId != null">
        assetId = #{assetId,jdbcType=INTEGER},
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="disabled != null">
        disabled = #{disabled,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        updateBy = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.pms.springmvc.entity.IndustryAssetProjectRelation">
    update af_industry_asset_project_relation
    set projectId = #{projectId,jdbcType=INTEGER},
      assetId = #{assetId,jdbcType=INTEGER},
      effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      disabled = #{disabled,jdbcType=BIT},
      createBy = #{createBy,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="sql_where">
    <where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="id != null">
				apr.id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="projectId != null">
				apr.projectId = #{projectId, jdbcType=INTEGER} AND
			</if>
			<if test="assetId != null">
				apr.assetId = #{assetId, jdbcType=INTEGER} AND
			</if>
			<if test="effectiveFrom != null">
				<![CDATA[ apr.effectiveFrom <= #{effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
			</if>
			<if test="effectiveTo != null">
				<![CDATA[ (apr.effectiveTo is null or apr.effectiveTo >= #{effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
			</if>
			<if test="disabled != null">
				apr.disabled = #{disabled, jdbcType=BIT} AND
			</if>
			<if test="createBy != null and '' != createBy">
				apr.createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="createTime != null">
				apr.createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				apr.updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				apr.updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
		</trim>
	</where>
  </sql>
  <sql id="sql_model_where">
    <where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="model != null ">
				<if test="model.id != null">
					apr.id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectId != null">
					apr.projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.assetId != null">
					apr.assetId = #{model.assetId, jdbcType=INTEGER} AND
				</if>
				<if test="model.effectiveFrom != null">
					<![CDATA[ apr.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
				</if>
				<if test="model.effectiveTo != null">
					<![CDATA[ (apr.effectiveTo is null or apr.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
				</if>
				<if test="model.disabled != null">
					apr.disabled = #{model.disabled, jdbcType=BIT} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					apr.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null">
					apr.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					apr.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					apr.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					apr.createBy like CONCAT("%", #{fuzzy}, "%") or
					apr.updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </sql>
  <sql id="sql_pageable_limit">
    <if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by id desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </sql>
  <select id="selectBySelective" parameterType="com.dp.plat.pms.springmvc.entity.IndustryAssetProjectRelation" resultMap="BaseResultMap">
    select * from af_industry_asset_project_relation as apr
	<where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="id != null">
				apr.id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="projectId != null">
				apr.projectId = #{projectId, jdbcType=INTEGER} AND
			</if>
			<if test="assetId != null">
				apr.assetId = #{assetId, jdbcType=INTEGER} AND
			</if>
			<if test="effectiveFrom != null">
				<![CDATA[ apr.effectiveFrom <= #{effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
			</if>
			<if test="effectiveTo != null">
				<![CDATA[ (apr.effectiveTo is null or apr.effectiveTo >= #{effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
			</if>
			<if test="disabled != null">
				apr.disabled = #{disabled, jdbcType=BIT} AND
			</if>
			<if test="createBy != null and '' != createBy">
				apr.createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="createTime != null">
				apr.createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				apr.updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				apr.updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.pms.springmvc.entity.IndustryAssetProjectRelation" resultType="long">
    select count(1) from af_industry_asset_project_relation as apr
	<where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="id != null">
				apr.id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="projectId != null">
				apr.projectId = #{projectId, jdbcType=INTEGER} AND
			</if>
			<if test="assetId != null">
				apr.assetId = #{assetId, jdbcType=INTEGER} AND
			</if>
			<if test="effectiveFrom != null">
				<![CDATA[ apr.effectiveFrom <= #{effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
			</if>
			<if test="effectiveTo != null">
				<![CDATA[ (apr.effectiveTo is null or apr.effectiveTo >= #{effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
			</if>
			<if test="disabled != null">
				apr.disabled = #{disabled, jdbcType=BIT} AND
			</if>
			<if test="createBy != null and '' != createBy">
				apr.createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="createTime != null">
				apr.createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				apr.updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				apr.updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultMap="BaseResultMap">
    select * from af_industry_asset_project_relation as apr
	<where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="model != null ">
				<if test="model.id != null">
					apr.id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectId != null">
					apr.projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.assetId != null">
					apr.assetId = #{model.assetId, jdbcType=INTEGER} AND
				</if>
				<if test="model.effectiveFrom != null">
					<![CDATA[ apr.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
				</if>
				<if test="model.effectiveTo != null">
					<![CDATA[ (apr.effectiveTo is null or apr.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
				</if>
				<if test="model.disabled != null">
					apr.disabled = #{model.disabled, jdbcType=BIT} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					apr.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null">
					apr.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					apr.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					apr.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					apr.createBy like CONCAT("%", #{fuzzy}, "%") or
					apr.updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where> <include refid="sql_pageable_limit" />
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from af_industry_asset_project_relation as apr
	<where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="model != null ">
				<if test="model.id != null">
					apr.id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectId != null">
					apr.projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.assetId != null">
					apr.assetId = #{model.assetId, jdbcType=INTEGER} AND
				</if>
				<if test="model.effectiveFrom != null">
					<![CDATA[ apr.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
				</if>
				<if test="model.effectiveTo != null">
					<![CDATA[ (apr.effectiveTo is null or apr.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
				</if>
				<if test="model.disabled != null">
					apr.disabled = #{model.disabled, jdbcType=BIT} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					apr.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null">
					apr.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					apr.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					apr.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					apr.createBy like CONCAT("%", #{fuzzy}, "%") or
					apr.updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </select>
  
  <select id="selectProjectAssetBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="com.dp.plat.pms.springmvc.vo.ProjectAssetVO">
    select 
	    apr.id, apr.projectId, ia.id as assetId, ia.*, ph.projectName 
	from
	    af_industry_asset_project_relation apr 
	    left join af_industry_asset as ia 
	        on apr.assetId = ia.id 
	        and apr.`disabled` = false 
	        and ia.`disabled` = false 
	        and IFNULL(apr.`effectiveTo`, "9999-12-31") > now() 
	    left join `pm_project_header` ph 
	        on ph.`projectId` = apr.`projectId` 
	<where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="model != null ">
				<if test="model.projectId != null">
					ph.projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectName != null">
					ph.projectName like Concat("%", #{model.projectName}, "%") AND
				</if>
				<if test="model.projectType != null">
					ph.projectType = #{model.projectType} AND
				</if>
				<if test="model.id != null">
					ia.id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.assetNum != null and '' != model.assetNum">
					ia.assetNum = #{model.assetNum, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetName != null and '' != model.assetName">
					ia.assetName = #{model.assetName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetCategory != null and '' != model.assetCategory">
					ia.assetCategory = #{model.assetCategory, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetType != null and '' != model.assetType">
					ia.assetType = #{model.assetType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetHost != null and '' != model.assetHost">
					ia.assetHost = #{model.assetHost, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetOpenPorts != null and '' != model.assetOpenPorts">
					ia.assetOpenPorts = #{model.assetOpenPorts, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetDeployInfo != null and '' != model.assetDeployInfo">
					ia.assetDeployInfo = #{model.assetDeployInfo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetUsage != null and '' != model.assetUsage">
					ia.assetUsage = #{model.assetUsage, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customerName != null and '' != model.customerName">
					ia.customerName = #{model.customerName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.industryCode != null and '' != model.industryCode">
					ia.industryCode = #{model.industryCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetAS != null and '' != model.assetAS">
					ia.assetAS = #{model.assetAS, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetASVersion != null and '' != model.assetASVersion">
					ia.assetASVersion = #{model.assetASVersion, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetASIdentify != null and '' != model.assetASIdentify">
					ia.assetASIdentify = #{model.assetASIdentify, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetASFramework != null and '' != model.assetASFramework">
					ia.assetASFramework = #{model.assetASFramework, jdbcType=VARCHAR} AND
				</if>
				<if test="model.middlewareName != null and '' != model.middlewareName">
					ia.middlewareName = #{model.middlewareName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.middlewareVersion != null and '' != model.middlewareVersion">
					ia.middlewareVersion = #{model.middlewareVersion, jdbcType=VARCHAR} AND
				</if>
				<if test="model.developerBrand != null and '' != model.developerBrand">
					ia.developerBrand = #{model.developerBrand, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetOS != null and '' != model.assetOS">
					ia.assetOS = #{model.assetOS, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetOSVersion != null and '' != model.assetOSVersion">
					ia.assetOSVersion = #{model.assetOSVersion, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetDB != null and '' != model.assetDB">
					ia.assetDB = #{model.assetDB, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetDBVersion != null and '' != model.assetDBVersion">
					ia.assetDBVersion = #{model.assetDBVersion, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customInfo != null">
					ia.customInfo = #{model.customInfo, jdbcType=JSON} AND
				</if>
				<if test="model.status != null">
					ia.status = #{model.status, jdbcType=INTEGER} AND
				</if>
				<if test="model.trackStatus != null">
					ia.trackStatus = #{model.trackStatus, jdbcType=INTEGER} AND
				</if>
				<if test="model.trackedTime != null">
					ia.trackedTime = #{model.trackedTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.disabled != null">
					ia.disabled = #{model.disabled, jdbcType=BIT} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					ia.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null">
					ia.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					ia.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					ia.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.effectiveFrom != null">
					<![CDATA[ ph.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
					<![CDATA[ apr.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
				</if>
				<if test="model.effectiveTo != null">
					<![CDATA[ (ph.effectiveTo is null or ph.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
					<![CDATA[ (apr.effectiveTo is null or apr.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					ia.assetNum like CONCAT("%", #{fuzzy}, "%") or
					ia.assetName like CONCAT("%", #{fuzzy}, "%") or
					ia.assetCategory like CONCAT("%", #{fuzzy}, "%") or
					ia.assetType like CONCAT("%", #{fuzzy}, "%") or
					ia.assetHost like CONCAT("%", #{fuzzy}, "%") or
					ia.assetOpenPorts like CONCAT("%", #{fuzzy}, "%") or
					ia.assetDeployInfo like CONCAT("%", #{fuzzy}, "%") or
					ia.assetUsage like CONCAT("%", #{fuzzy}, "%") or
					ia.customerName like CONCAT("%", #{fuzzy}, "%") or
					ia.industryCode like CONCAT("%", #{fuzzy}, "%") or
					ia.assetAS like CONCAT("%", #{fuzzy}, "%") or
					ia.assetASVersion like CONCAT("%", #{fuzzy}, "%") or
					ia.assetASIdentify like CONCAT("%", #{fuzzy}, "%") or
					ia.assetASFramework like CONCAT("%", #{fuzzy}, "%") or
					ia.middlewareName like CONCAT("%", #{fuzzy}, "%") or
					ia.middlewareVersion like CONCAT("%", #{fuzzy}, "%") or
					ia.developerBrand like CONCAT("%", #{fuzzy}, "%") or
					ia.assetOS like CONCAT("%", #{fuzzy}, "%") or
					ia.assetOSVersion like CONCAT("%", #{fuzzy}, "%") or
					ia.assetDB like CONCAT("%", #{fuzzy}, "%") or
					ia.assetDBVersion like CONCAT("%", #{fuzzy}, "%") or
					ph.projectName like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
	<if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by apr.projectId, apr.assetId desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="countProjectAssetBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) 
	from
	    af_industry_asset_project_relation apr 
	    left join af_industry_asset as ia 
	        on apr.assetId = ia.id 
	        and apr.`disabled` = false 
	        and ia.`disabled` = false 
	        and IFNULL(apr.`effectiveTo`, "9999-12-31") > now() 
	    left join `pm_project_header` ph 
	        on ph.`projectId` = apr.`projectId` 
	<where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="model != null ">
				<if test="model.projectId != null">
					ph.projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectName != null">
					ph.projectName like CONCAT("%", #{model.projectName}, "%") AND
				</if>
				<if test="model.projectType != null">
					ph.projectType = #{model.projectType} AND
				</if>
				<if test="model.id != null">
					ia.id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.assetNum != null and '' != model.assetNum">
					ia.assetNum = #{model.assetNum, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetName != null and '' != model.assetName">
					ia.assetName = #{model.assetName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetCategory != null and '' != model.assetCategory">
					ia.assetCategory = #{model.assetCategory, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetType != null and '' != model.assetType">
					ia.assetType = #{model.assetType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetHost != null and '' != model.assetHost">
					ia.assetHost = #{model.assetHost, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetOpenPorts != null and '' != model.assetOpenPorts">
					ia.assetOpenPorts = #{model.assetOpenPorts, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetDeployInfo != null and '' != model.assetDeployInfo">
					ia.assetDeployInfo = #{model.assetDeployInfo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetUsage != null and '' != model.assetUsage">
					ia.assetUsage = #{model.assetUsage, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customerName != null and '' != model.customerName">
					ia.customerName = #{model.customerName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.industryCode != null and '' != model.industryCode">
					ia.industryCode = #{model.industryCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetAS != null and '' != model.assetAS">
					ia.assetAS = #{model.assetAS, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetASVersion != null and '' != model.assetASVersion">
					ia.assetASVersion = #{model.assetASVersion, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetASIdentify != null and '' != model.assetASIdentify">
					ia.assetASIdentify = #{model.assetASIdentify, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetASFramework != null and '' != model.assetASFramework">
					ia.assetASFramework = #{model.assetASFramework, jdbcType=VARCHAR} AND
				</if>
				<if test="model.middlewareName != null and '' != model.middlewareName">
					ia.middlewareName = #{model.middlewareName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.middlewareVersion != null and '' != model.middlewareVersion">
					ia.middlewareVersion = #{model.middlewareVersion, jdbcType=VARCHAR} AND
				</if>
				<if test="model.developerBrand != null and '' != model.developerBrand">
					ia.developerBrand = #{model.developerBrand, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetOS != null and '' != model.assetOS">
					ia.assetOS = #{model.assetOS, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetOSVersion != null and '' != model.assetOSVersion">
					ia.assetOSVersion = #{model.assetOSVersion, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetDB != null and '' != model.assetDB">
					ia.assetDB = #{model.assetDB, jdbcType=VARCHAR} AND
				</if>
				<if test="model.assetDBVersion != null and '' != model.assetDBVersion">
					ia.assetDBVersion = #{model.assetDBVersion, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customInfo != null">
					ia.customInfo = #{model.customInfo, jdbcType=JSON} AND
				</if>
				<if test="model.status != null">
					ia.status = #{model.status, jdbcType=INTEGER} AND
				</if>
				<if test="model.trackStatus != null">
					ia.trackStatus = #{model.trackStatus, jdbcType=INTEGER} AND
				</if>
				<if test="model.trackedTime != null">
					ia.trackedTime = #{model.trackedTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.disabled != null">
					ia.disabled = #{model.disabled, jdbcType=BIT} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					ia.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null">
					ia.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					ia.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					ia.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.effectiveFrom != null">
					<![CDATA[ ph.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
					<![CDATA[ apr.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
				</if>
				<if test="model.effectiveTo != null">
					<![CDATA[ (ph.effectiveTo is null or ph.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
					<![CDATA[ (apr.effectiveTo is null or apr.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					ia.assetNum like CONCAT("%", #{fuzzy}, "%") or
					ia.assetName like CONCAT("%", #{fuzzy}, "%") or
					ia.assetCategory like CONCAT("%", #{fuzzy}, "%") or
					ia.assetType like CONCAT("%", #{fuzzy}, "%") or
					ia.assetHost like CONCAT("%", #{fuzzy}, "%") or
					ia.assetOpenPorts like CONCAT("%", #{fuzzy}, "%") or
					ia.assetDeployInfo like CONCAT("%", #{fuzzy}, "%") or
					ia.assetUsage like CONCAT("%", #{fuzzy}, "%") or
					ia.customerName like CONCAT("%", #{fuzzy}, "%") or
					ia.industryCode like CONCAT("%", #{fuzzy}, "%") or
					ia.assetAS like CONCAT("%", #{fuzzy}, "%") or
					ia.assetASVersion like CONCAT("%", #{fuzzy}, "%") or
					ia.assetASIdentify like CONCAT("%", #{fuzzy}, "%") or
					ia.assetASFramework like CONCAT("%", #{fuzzy}, "%") or
					ia.middlewareName like CONCAT("%", #{fuzzy}, "%") or
					ia.middlewareVersion like CONCAT("%", #{fuzzy}, "%") or
					ia.developerBrand like CONCAT("%", #{fuzzy}, "%") or
					ia.assetOS like CONCAT("%", #{fuzzy}, "%") or
					ia.assetOSVersion like CONCAT("%", #{fuzzy}, "%") or
					ia.assetDB like CONCAT("%", #{fuzzy}, "%") or
					ia.assetDBVersion like CONCAT("%", #{fuzzy}, "%") or
					ph.projectName like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </select>
  
  <update id="invalidAssetProjectRelation" parameterType="com.dp.plat.pms.springmvc.entity.IndustryAssetProjectRelation">
  	update af_industry_asset_project_relation
    set disabled = true, effectiveTo = now()
    where disabled = false
    <if test="projectId != null"> and projectId = #{projectId} </if>
    <if test="assetId != null"> and assetId = #{assetId} </if>
    <if test="id != null"> and id = #{id} </if>
  </update>
  
</mapper>