<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.pms.springmvc.dao.PmSynchronizeMapper">
    <select id="selectAllAfPrjProperty" resultType="com.dp.plat.pms.springmvc.vo.AfPrjProperty">
        select * from v_lend_info_afxx_4_pms
    </select>
    
    <select id="selectAllProjectProduct" resultType="com.dp.plat.pms.springmvc.vo.ProjectProduct">
        select * from v_prj_product_4_pm
    </select>
    
    <select id="clearAllAfPrjProperty">
        truncate pm_project_property_af_from_sms
    </select>
    
    <select id="clearAllProjectProduct">
        truncate pm_project_product_af_from_sms
    </select>
    
    <insert id="insertAfPrjProperty" parameterType="java.util.List">
	    insert into pm_project_property_af_from_sms (orderCodeReal, projectName, marketCode, 
	      officeCode, expendId, marketName, 
	      officeName, systemName, salesManCode, 
	      systemid, industryid, salesManName, 
	      expendName, industryName, channelName, 
	      engineeFee, objId, applyType, 
	      corporationCode, finalCustomerName, pspm, 
	      pspmName, salesMenTel, decPath, 
	      requireInDate, receiveMen, reveiveContactWay, 
	      receiveAddress, projectType, projectCode, 
	      serviceTypeName, customerProjectName, agentName, 
	      lendCause)
	    values
	    <foreach collection="list" item="item" index="index" separator="," >  
	     (#{item.orderCodeReal,jdbcType=VARCHAR}, #{item.projectName,jdbcType=VARCHAR}, #{item.marketCode,jdbcType=VARCHAR}, 
	      #{item.officeCode,jdbcType=VARCHAR}, #{item.expendId,jdbcType=VARCHAR}, #{item.marketName,jdbcType=VARCHAR}, 
	      #{item.officeName,jdbcType=VARCHAR}, #{item.systemName,jdbcType=VARCHAR}, #{item.salesManCode,jdbcType=VARCHAR}, 
	      #{item.systemid,jdbcType=INTEGER}, #{item.industryid,jdbcType=INTEGER}, #{item.salesManName,jdbcType=VARCHAR}, 
	      #{item.expendName,jdbcType=VARCHAR}, #{item.industryName,jdbcType=VARCHAR}, #{item.channelName,jdbcType=VARCHAR}, 
	      #{item.engineeFee,jdbcType=DECIMAL}, #{item.objId,jdbcType=INTEGER}, #{item.applyType,jdbcType=VARCHAR}, 
	      #{item.corporationCode,jdbcType=VARCHAR}, #{item.finalCustomerName,jdbcType=VARCHAR}, #{item.pspm,jdbcType=VARCHAR}, 
	      #{item.pspmName,jdbcType=VARCHAR}, #{item.salesMenTel,jdbcType=VARCHAR}, #{item.decPath,jdbcType=VARCHAR}, 
	      #{item.requireInDate,jdbcType=DATE}, #{item.receiveMen,jdbcType=VARCHAR}, #{item.reveiveContactWay,jdbcType=VARCHAR}, 
	      #{item.receiveAddress,jdbcType=VARCHAR}, #{item.projectType,jdbcType=VARCHAR}, #{item.projectCode,jdbcType=LONGVARCHAR}, 
	      #{item.serviceTypeName,jdbcType=BINARY}, #{item.customerProjectName,jdbcType=BINARY}, #{item.agentName,jdbcType=BINARY}, 
	      #{item.lendCause,jdbcType=LONGVARCHAR}
	      )
        </foreach>
        ON DUPLICATE KEY UPDATE id = VALUES(id), orderCodeReal = VALUES(orderCodeReal), projectName = VALUES(projectName), 
			marketCode = VALUES(marketCode), officeCode = VALUES(officeCode), expendId = VALUES(expendId), 
			marketName = VALUES(marketName), officeName = VALUES(officeName), systemName = VALUES(systemName), 
			salesManCode = VALUES(salesManCode), systemid = VALUES(systemid), industryid = VALUES(industryid), 
			salesManName = VALUES(salesManName), expendName = VALUES(expendName), industryName = VALUES(industryName), 
			channelName = VALUES(channelName), engineeFee = VALUES(engineeFee), objId = VALUES(objId), 
			applyType = VALUES(applyType), corporationCode = VALUES(corporationCode), finalCustomerName = VALUES(finalCustomerName), 
			pspm = VALUES(pspm), pspmName = VALUES(pspmName), salesMenTel = VALUES(salesMenTel), 
			decPath = VALUES(decPath), requireInDate = VALUES(requireInDate), receiveMen = VALUES(receiveMen), 
			reveiveContactWay = VALUES(reveiveContactWay), receiveAddress = VALUES(receiveAddress), projectType = VALUES(projectType), 
			projectCode = VALUES(projectCode), serviceTypeName = VALUES(serviceTypeName), customerProjectName = VALUES(customerProjectName), 
			agentName = VALUES(agentName), lendCause = VALUES(lendCause)
    </insert>
    
    <insert id="insertProjectProduct" parameterType="java.util.List">
        insert into pm_project_product_af_from_sms (projectCode, orderCodereal, corporationCode, 
	      ssfrId, productCode, productfirstCode, 
	      productName, productfirstName, productsubCode, 
	      productSubModel, productSubName, num, 
	      borrowNum)
	    values 
        <foreach collection="list" item="item" index="index" separator="," >  
         (#{item.projectCode,jdbcType=VARCHAR}, #{item.orderCodereal,jdbcType=VARCHAR}, #{item.corporationCode,jdbcType=VARCHAR}, 
	      #{item.ssfrId,jdbcType=INTEGER}, #{item.productCode,jdbcType=VARCHAR}, #{item.productfirstCode,jdbcType=VARCHAR}, 
	      #{item.productName,jdbcType=VARCHAR}, #{item.productfirstName,jdbcType=VARCHAR}, #{item.productsubCode,jdbcType=VARCHAR}, 
	      #{item.productSubModel,jdbcType=VARCHAR}, #{item.productSubName,jdbcType=VARCHAR}, #{item.num,jdbcType=INTEGER}, 
	      #{item.borrowNum,jdbcType=INTEGER})
        </foreach>
        ON DUPLICATE KEY UPDATE id = VALUES(id), projectCode = VALUES(projectCode), orderCodereal = VALUES(orderCodereal), 
			corporationCode = VALUES(corporationCode), ssfrId = VALUES(ssfrId), productCode = VALUES(productCode), 
			productfirstCode = VALUES(productfirstCode), productName = VALUES(productName), productfirstName = VALUES(productfirstName), 
			productsubCode = VALUES(productsubCode), productSubModel = VALUES(productSubModel), productSubName = VALUES(productSubName), 
			num = VALUES(num), borrowNum = VALUES(borrowNum) 
    </insert>
    
    <insert id="splitAfProjectByProjectCode" parameterType="String">
    	insert into pm_project_property_af_from_sms (
		    `orderExecNumber`, `projectCode`, `projectName`, `salesManCode`, `salesManName`, `marketCode`, `marketName`, `systemId`, `systemName`, `expendId`, `expendName`, `industryId`, `industryName`, `officeCode`, `officeName`, `serviceTypeName`, `channelName`, `engineeFee`, `objId`, `applyType`, `corporationCode`, `customerProjectName`, `finalCustomerName`, `agentName`, projectType
		) 
		select 
		    ppfs.`orderExecNumber`, ppfs.`projectCode`, `projectName`, `salesManCode`, `salesManName`, `marketCode`, `marketName`, `systemId`, `systemName`, `expendId`, `expendName`, `industryId`, `industryName`, `officeCode`, `officeName`, `serviceTypeName`, `channelName`, `engineeFee`, `objId`, `applyType`, ppfs.`corporationCode`, `customerProjectName`, `finalCustomerName`, `agentName`, "afss" as projectType 
		from
		    `pm_project_property_from_sms` ppfs 
		    left join `pm_project_product_af_from_sms` ppfd 
		        on ppfs.`orderExecNumber` = ppfd.`orderExecNumber` 
		        and ppfs.`projectCode` = ppfd.`projectCode` 
		where FIND_IN_SET(ppfd.`productfirstCode`, #{_parameter})
    </insert>
</mapper>