<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.pms.springmvc.dao.ProjectTaskMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.pms.springmvc.entity.ProjectTask">
    <id column="taskId" jdbcType="INTEGER" property="taskId" />
    <result column="projectId" jdbcType="INTEGER" property="projectId" />
    <result column="projectType" jdbcType="VARCHAR" property="projectType" />
    <result column="contractNo" jdbcType="VARCHAR" property="contractNo" />
    <result column="taskTypeCode" jdbcType="VARCHAR" property="taskTypeCode" />
    <result column="taskTypeId" jdbcType="VARCHAR" property="taskTypeId" />
    <result column="taskName" jdbcType="VARCHAR" property="taskName" />
    <result column="eventPlanHappenDate" jdbcType="TIMESTAMP" property="eventPlanHappenDate" />
    <result column="eventPlanHappenDateENG" jdbcType="TIMESTAMP" property="eventPlanHappenDateENG" />
    <result column="planStartTime" jdbcType="TIMESTAMP" property="planStartTime" />
    <result column="planEndTime" jdbcType="TIMESTAMP" property="planEndTime" />
    <result column="actualStartTime" jdbcType="TIMESTAMP" property="actualStartTime" />
    <result column="eventActualFinishDate" jdbcType="TIMESTAMP" property="eventActualFinishDate" />
    <result column="priority" jdbcType="VARCHAR" property="priority" />
    <result column="progress" jdbcType="INTEGER" property="progress" />
    <result column="progressDesc" jdbcType="VARCHAR" property="progressDesc" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="effectiveFrom" jdbcType="TIMESTAMP" property="effectiveFrom" />
    <result column="effectiveTo" jdbcType="TIMESTAMP" property="effectiveTo" />
    <result column="visibleFlag" jdbcType="VARCHAR" property="visibleFlag" />
    <result column="deliverFileIds" jdbcType="VARCHAR" property="deliverFileIds" />
    <result column="customInfo" jdbcType="JSON" property="customInfo" />
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    taskId, projectId, projectType, contractNo, taskTypeCode, taskTypeId, taskName, eventPlanHappenDate, 
    eventPlanHappenDateENG, planStartTime, planEndTime, actualStartTime, eventActualFinishDate, 
    priority, progress, progressDesc, status, parentId, createTime, createBy, updateTime, 
    updateBy, effectiveFrom, effectiveTo, visibleFlag, deliverFileIds, customInfo,
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_project_task
    where taskId = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pm_project_task
    where taskId = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask">
    <selectKey keyProperty="taskId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_project_task (taskId, projectId, projectType, contractNo, 
      taskTypeCode, taskTypeId, taskName, 
      eventPlanHappenDate, eventPlanHappenDateENG, 
      planStartTime, planEndTime, actualStartTime, 
      eventActualFinishDate, priority, progress, 
      progressDesc, status, parentId, 
      createTime, createBy, updateTime, 
      updateBy, effectiveFrom, effectiveTo, 
      visibleFlag, deliverFileIds, customInfo, 
      remark)
    values (#{taskId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{projectType,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, 
      #{taskTypeCode,jdbcType=VARCHAR}, #{taskTypeId,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, 
      #{eventPlanHappenDate,jdbcType=TIMESTAMP}, #{eventPlanHappenDateENG,jdbcType=TIMESTAMP}, 
      #{planStartTime,jdbcType=TIMESTAMP}, #{planEndTime,jdbcType=TIMESTAMP}, #{actualStartTime,jdbcType=TIMESTAMP}, 
      #{eventActualFinishDate,jdbcType=TIMESTAMP}, #{priority,jdbcType=VARCHAR}, #{progress,jdbcType=INTEGER}, 
      #{progressDesc,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR}, #{effectiveFrom,jdbcType=TIMESTAMP}, #{effectiveTo,jdbcType=TIMESTAMP}, 
      #{visibleFlag,jdbcType=VARCHAR}, #{deliverFileIds,jdbcType=VARCHAR}, #{customInfo,jdbcType=JSON}, 
      #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask">
    <selectKey keyProperty="taskId" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_project_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        taskId,
      </if>
      <if test="projectId != null">
        projectId,
      </if>
      <if test="projectType != null">
        projectType,
      </if>
      <if test="contractNo != null">
        contractNo,
      </if>
      <if test="taskTypeCode != null">
        taskTypeCode,
      </if>
      <if test="taskTypeId != null">
        taskTypeId,
      </if>
      <if test="taskName != null">
        taskName,
      </if>
      <if test="eventPlanHappenDate != null">
        eventPlanHappenDate,
      </if>
      <if test="eventPlanHappenDateENG != null">
        eventPlanHappenDateENG,
      </if>
      <if test="planStartTime != null">
        planStartTime,
      </if>
      <if test="planEndTime != null">
        planEndTime,
      </if>
      <if test="actualStartTime != null">
        actualStartTime,
      </if>
      <if test="eventActualFinishDate != null">
        eventActualFinishDate,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="progress != null">
        progress,
      </if>
      <if test="progressDesc != null">
        progressDesc,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="parentId != null">
        parentId,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="updateBy != null">
        updateBy,
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom,
      </if>
      <if test="effectiveTo != null">
        effectiveTo,
      </if>
      <if test="visibleFlag != null">
        visibleFlag,
      </if>
      <if test="deliverFileIds != null">
        deliverFileIds,
      </if>
      <if test="customInfo != null">
        customInfo,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectType != null">
        #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null">
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeCode != null">
        #{taskTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeId != null">
        #{taskTypeId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="eventPlanHappenDate != null">
        #{eventPlanHappenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eventPlanHappenDateENG != null">
        #{eventPlanHappenDateENG,jdbcType=TIMESTAMP},
      </if>
      <if test="planStartTime != null">
        #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null">
        #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartTime != null">
        #{actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eventActualFinishDate != null">
        #{eventActualFinishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=VARCHAR},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=INTEGER},
      </if>
      <if test="progressDesc != null">
        #{progressDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="visibleFlag != null">
        #{visibleFlag,jdbcType=VARCHAR},
      </if>
      <if test="deliverFileIds != null">
        #{deliverFileIds,jdbcType=VARCHAR},
      </if>
      <if test="customInfo != null">
        #{customInfo,jdbcType=JSON},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask">
    update pm_project_task
    <set>
      <if test="projectId != null">
        projectId = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectType != null">
        projectType = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null">
        contractNo = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeCode != null">
        taskTypeCode = #{taskTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeId != null">
        taskTypeId = #{taskTypeId,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null">
        taskName = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="eventPlanHappenDate != null">
        eventPlanHappenDate = #{eventPlanHappenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eventPlanHappenDateENG != null">
        eventPlanHappenDateENG = #{eventPlanHappenDateENG,jdbcType=TIMESTAMP},
      </if>
      <if test="planStartTime != null">
        planStartTime = #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null">
        planEndTime = #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartTime != null">
        actualStartTime = #{actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eventActualFinishDate != null">
        eventActualFinishDate = #{eventActualFinishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=VARCHAR},
      </if>
      <if test="progress != null">
        progress = #{progress,jdbcType=INTEGER},
      </if>
      <if test="progressDesc != null">
        progressDesc = #{progressDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        updateBy = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="visibleFlag != null">
        visibleFlag = #{visibleFlag,jdbcType=VARCHAR},
      </if>
      <if test="deliverFileIds != null">
        deliverFileIds = #{deliverFileIds,jdbcType=VARCHAR},
      </if>
      <if test="customInfo != null">
        <!-- customInfo = #{customInfo,jdbcType=JSON}, -->
        <!-- customInfo = JSON_SET (IFNULL(
		    customInfo, "{}"), 
		    <foreach collection="customInfo" item="value" index="key" separator=",">
			    '$.${key}', #{value,typeHandler=com.dp.plat.core.handlers.FastjsonTypeHandler}
		    </foreach>
		), -->
		customInfo = JSON_MERGE_PATCH(IFNULL(customInfo, "{}"), #{customInfo,jdbcType=JSON}),
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where taskId = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask">
    update pm_project_task
    set projectId = #{projectId,jdbcType=INTEGER},
      projectType = #{projectType,jdbcType=VARCHAR},
      contractNo = #{contractNo,jdbcType=VARCHAR},
      taskTypeCode = #{taskTypeCode,jdbcType=VARCHAR},
      taskTypeId = #{taskTypeId,jdbcType=VARCHAR},
      taskName = #{taskName,jdbcType=VARCHAR},
      eventPlanHappenDate = #{eventPlanHappenDate,jdbcType=TIMESTAMP},
      eventPlanHappenDateENG = #{eventPlanHappenDateENG,jdbcType=TIMESTAMP},
      planStartTime = #{planStartTime,jdbcType=TIMESTAMP},
      planEndTime = #{planEndTime,jdbcType=TIMESTAMP},
      actualStartTime = #{actualStartTime,jdbcType=TIMESTAMP},
      eventActualFinishDate = #{eventActualFinishDate,jdbcType=TIMESTAMP},
      priority = #{priority,jdbcType=VARCHAR},
      progress = #{progress,jdbcType=INTEGER},
      progressDesc = #{progressDesc,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      parentId = #{parentId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createBy = #{createBy,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=VARCHAR},
      effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      visibleFlag = #{visibleFlag,jdbcType=VARCHAR},
      deliverFileIds = #{deliverFileIds,jdbcType=VARCHAR},
      <!-- customInfo = #{customInfo,jdbcType=JSON}, -->
        <!-- customInfo = JSON_SET (IFNULL(
		    customInfo, "{}"), 
		    <foreach collection="customInfo" item="value" index="key" separator=",">
			    '$.${key}', #{value,typeHandler=com.dp.plat.core.handlers.FastjsonTypeHandler}
		    </foreach>
		), -->
		customInfo = JSON_MERGE_PATCH(IFNULL(customInfo, "{}"), #{customInfo,jdbcType=JSON}),
      remark = #{remark,jdbcType=LONGVARCHAR}
    where taskId = #{taskId,jdbcType=INTEGER}
  </update>
  <sql id="sql_where">
    <where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="taskId != null">
				t.taskId = #{taskId, jdbcType=INTEGER} AND
			</if>
			<if test="projectId != null">
				t.projectId = #{projectId, jdbcType=INTEGER} AND
			</if>
			<if test="projectType != null and '' != projectType">
				t.projectType = #{projectType, jdbcType=VARCHAR} AND
			</if>
			<if test="contractNo != null and '' != contractNo">
				t.contractNo = #{contractNo, jdbcType=VARCHAR} AND
			</if>
			<if test="taskTypeCode != null and '' != taskTypeCode">
				t.taskTypeCode = #{taskTypeCode, jdbcType=VARCHAR} AND
			</if>
			<if test="taskTypeId != null and '' != taskTypeId">
				t.taskTypeId = #{taskTypeId, jdbcType=VARCHAR} AND
			</if>
			<if test="taskName != null and '' != taskName">
				t.taskName = #{taskName, jdbcType=VARCHAR} AND
			</if>
			<if test="eventPlanHappenDate != null">
				t.eventPlanHappenDate = #{eventPlanHappenDate, jdbcType=TIMESTAMP} AND
			</if>
			<if test="eventPlanHappenDateENG != null">
				t.eventPlanHappenDateENG = #{eventPlanHappenDateENG, jdbcType=TIMESTAMP} AND
			</if>
			<if test="planStartTime != null">
				t.planStartTime = #{planStartTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="planEndTime != null">
				t.planEndTime = #{planEndTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="actualStartTime != null">
				t.actualStartTime = #{actualStartTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="eventActualFinishDate != null">
				t.eventActualFinishDate = #{eventActualFinishDate, jdbcType=TIMESTAMP} AND
			</if>
			<if test="priority != null and '' != priority">
				t.priority = #{priority, jdbcType=VARCHAR} AND
			</if>
			<if test="progress != null">
				t.progress = #{progress, jdbcType=INTEGER} AND
			</if>
			<if test="progressDesc != null and '' != progressDesc">
				t.progressDesc = #{progressDesc, jdbcType=VARCHAR} AND
			</if>
			<if test="status != null and '' != status">
				t.status = #{status, jdbcType=VARCHAR} AND
			</if>
			<if test="parentId != null">
				t.parentId = #{parentId, jdbcType=INTEGER} AND
			</if>
			<if test="createTime != null">
				t.createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				t.createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				t.updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				t.updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="effectiveFrom != null">
				<![CDATA[ t.effectiveFrom <= #{effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
			</if>
			<if test="effectiveTo != null">
				<![CDATA[ (t.effectiveTo is null or t.effectiveTo >= #{effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
			</if>
			<if test="visibleFlag != null and '' != visibleFlag">
				t.visibleFlag = #{visibleFlag, jdbcType=VARCHAR} AND
			</if>
			<if test="deliverFileIds != null and '' != deliverFileIds">
				t.deliverFileIds = #{deliverFileIds, jdbcType=VARCHAR} AND
			</if>
			<if test="customInfo != null">
				t.customInfo = #{customInfo, jdbcType=JSON} AND
			</if>
			<if test="remark != null and '' != remark">
				t.remark = #{remark, jdbcType=LONGVARCHAR} AND
			</if>
		</trim>
	</where>
  </sql>
  <sql id="sql_model_where">
    <where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="model != null ">
				<if test="model.taskId != null">
					t.taskId = #{model.taskId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectId != null">
					t.projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectType != null and '' != model.projectType">
					t.projectType = #{model.projectType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.contractNo != null and '' != model.contractNo">
					t.contractNo = #{model.contractNo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.taskTypeCode != null and '' != model.taskTypeCode">
					t.taskTypeCode = #{model.taskTypeCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.taskTypeId != null and '' != model.taskTypeId">
					t.taskTypeId = #{model.taskTypeId, jdbcType=VARCHAR} AND
				</if>
				<if test="model.taskName != null and '' != model.taskName">
					t.taskName = #{model.taskName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.eventPlanHappenDate != null">
					t.eventPlanHappenDate = #{model.eventPlanHappenDate, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.eventPlanHappenDateENG != null">
					t.eventPlanHappenDateENG = #{model.eventPlanHappenDateENG, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.planStartTime != null">
					t.planStartTime = #{model.planStartTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.planEndTime != null">
					t.planEndTime = #{model.planEndTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.actualStartTime != null">
					t.actualStartTime = #{model.actualStartTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.eventActualFinishDate != null">
					t.eventActualFinishDate = #{model.eventActualFinishDate, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.priority != null and '' != model.priority">
					t.priority = #{model.priority, jdbcType=VARCHAR} AND
				</if>
				<if test="model.progress != null">
					t.progress = #{model.progress, jdbcType=INTEGER} AND
				</if>
				<if test="model.progressDesc != null and '' != model.progressDesc">
					t.progressDesc = #{model.progressDesc, jdbcType=VARCHAR} AND
				</if>
				<if test="model.status != null and '' != model.status">
					t.status = #{model.status, jdbcType=VARCHAR} AND
				</if>
				<if test="model.parentId != null">
					t.parentId = #{model.parentId, jdbcType=INTEGER} AND
				</if>
				<if test="model.createTime != null">
					t.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					t.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					t.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					t.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.effectiveFrom != null">
					<![CDATA[ t.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
				</if>
				<if test="model.effectiveTo != null">
					<![CDATA[ (t.effectiveTo is null or t.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
				</if>
				<if test="model.visibleFlag != null and '' != model.visibleFlag">
					t.visibleFlag = #{model.visibleFlag, jdbcType=VARCHAR} AND
				</if>
				<if test="model.deliverFileIds != null and '' != model.deliverFileIds">
					t.deliverFileIds = #{model.deliverFileIds, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customInfo != null">
					t.customInfo = #{model.customInfo, jdbcType=JSON} AND
				</if>
				<if test="model.remark != null and '' != model.remark">
					t.remark = #{model.remark, jdbcType=LONGVARCHAR} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					t.projectType like CONCAT("%", #{fuzzy}, "%") or
					t.contractNo like CONCAT("%", #{fuzzy}, "%") or
					t.taskTypeCode like CONCAT("%", #{fuzzy}, "%") or
					t.taskTypeId like CONCAT("%", #{fuzzy}, "%") or
					t.taskName like CONCAT("%", #{fuzzy}, "%") or
					t.priority like CONCAT("%", #{fuzzy}, "%") or
					t.progressDesc like CONCAT("%", #{fuzzy}, "%") or
					t.status like CONCAT("%", #{fuzzy}, "%") or
					t.createBy like CONCAT("%", #{fuzzy}, "%") or
					t.updateBy like CONCAT("%", #{fuzzy}, "%") or
					t.visibleFlag like CONCAT("%", #{fuzzy}, "%") or
					t.deliverFileIds like CONCAT("%", #{fuzzy}, "%") or
					t.remark like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </sql>
  <sql id="sql_pageable_limit">
    <if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by taskId desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </sql>
  <select id="selectBySelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask" resultMap="BaseResultMap">
    select * from pm_project_task as t
	<include refid="sql_where"/>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask" resultType="long">
    select count(1) from pm_project_task as t
	<include refid="sql_where"/>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="com.dp.plat.pms.springmvc.vo.TaskVO">
    select 
	    JSON_SET(IFNULL(t.`customInfo`, "{}"), '$.statusName', bd.basicDataName) as customInfo,
	    t.*, concat(t.taskTypeCode, '-', t.taskTypeId) eventKeyStr, fbd.basicDataName eventValue<!-- , 
	    bd.basicDataName as `customInfo.statusName` -->
	from
	    pm_project_task as t 
	    left join fnd_basic_data fbd 
	        on fbd.dataTypeCode = t.taskTypeCode 
	        and fbd.basicDataId = t.taskTypeId 
	    left join `fnd_basic_data` bd 
	        on t.`status` = bd.`basicDataId` 
	        and bd.`dataTypeCode` = 'processStatus'
    <include refid="sql_model_where" />
	<include refid="sql_pageable_limit" />
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from pm_project_task as t
    <include refid="sql_model_where" />
  </select>
  
  <!-- 查询任务的交付件 -->
  <select id="selectProjectDeliverBySelective" parameterType="com.dp.plat.pms.springmvc.vo.ProjectDeliver" resultType="com.dp.plat.pms.springmvc.vo.ProjectDeliver">
        SELECT 
		    pbdd.id, pbdd.taskId, pbdd.`projectId`, pbdd.`projectType`, pbdd.`deliverableName`, pbdd.`deliverId`, pbdd.`deliverablePath`, fbd.`basicDataName` as deliverableType, IFNULL(
		        concat(pbdd.uploadUser, "-", ui.realName), pbdd.uploadUser
		    ) as uploadUser, pbdd.uploadTime, pt.taskName, pt.customInfo as taskCustomInfo
		FROM
		    `pm_basic_deliver_detail` pbdd 
		    inner JOIN `pm_basic_prj_deliver` pbpd 
		        ON pbpd.id = pbdd.`deliverId` 
		    LEFT JOIN fnd_basic_data fbd 
		        ON fbd.`dataTypeCode` = pbpd.`dataTypeCodeSon` 
		        AND fbd.`basicDataId` = pbpd.`basicDataIdSon` 
		    left join pm_project_task pt 
		        on pt.`taskId` = pbdd.`taskId` 
		    LEFT JOIN t_user u 
		        ON u.`user_name` = pbdd.`uploadUser` 
		    LEFT JOIN t_user_info ui 
		        ON ui.`user_id` = u.`user_id` 
		        and ui.`compID` = #{orgId}
       <where>
			<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
       			<if test="projectId != null"> AND pbdd.projectId = #{projectId} </if>
		        <if test="taskId != null"> AND pbdd.taskId = #{taskId} </if>
				<if test="ids != null ">
					<foreach collection="ids" item="item" open="and pbdd.id in (" close=")" separator=",">#{item}</foreach>
				</if>
		      	<![CDATA[
		          	AND pbdd.`effectiveFrom` <= NOW() AND (pbdd.`effectiveTo` > NOW() OR pbdd.`effectiveTo` IS NULL)
		      	]]>
			</trim>
       </where>
      order by pbdd.uploadTime desc
  </select>
  
  <resultMap type="java.util.HashMap" id="permissionMap">
		<result column="all" property="all" javaType="java.lang.Boolean"/>
		<result column="edit" property="edit" javaType="java.lang.Boolean"/>
		<result column="view" property="view" javaType="java.lang.Boolean"/>
		<result column="maxState" property="maxState" javaType="java.lang.String"/>
		<result column="memberRoles" property="memberRoles" javaType="java.lang.String"/>
		<collection property="permissions" select="com.dp.plat.pms.springmvc.dao.ProjectHeaderMapper.selectPermissionByMemberRole" column="{memberRoles=memberRoles,permissionTypes=permissionTypes}" javaType="java.util.HashSet"></collection>
  </resultMap>
  <select id="checkPermission" resultMap="permissionMap">
  	<![CDATA[
	  	select 
		    count(pm.id) > 0 and count(ui.id) > 0 as `all`, 
		    count(pm.id) > 0 as edit, 
		    count(ui.id) > 0 view, 
		    max(ph.projectState) as maxState,
		    group_concat(distinct pm.memberRole) memberRoles, 
		    #{permissionTypes} as permissionTypes 
		from
		    pm_project ph 
		    left join pm_project_task pt 
		        on pt.projectId = ph.projectId 
		        and pt.projectType = ph.projectType 
		    left join pm_project_member pm 
		        on ph.projectId = pm.projectId 
		        and pm.effectiveFrom <= now() 
		        and (
		            pm.effectiveTo > now() 
		            or pm.effectiveTo is null
		        ) 
		        and pm.memberCode = #{user.userName}
  	]]>
		    left join t_user_info ui 
		        on ui.`id` = #{user.userInfoId}
		        <if test="model.officeCodes != null">
					AND FIND_IN_SET(ph.`column001`, #{model.officeCodes})
			        and find_in_set(ph.`column001`, ui.`custom5`) 
				</if>
		        and find_in_set(ph.projectType, ui.custom4) 
		where (
		        pm.memberCode = #{user.userName}
		        or ui.id = #{user.userInfoId}
		    ) 
	<if test="model != null">
		<if test="model.taskId != null">
			AND pt.taskId = #{model.taskId}
		</if>
		<if test="model.projectId != null">
			AND ph.projectId = #{model.projectId}
		</if>
		<if test="model.projectIds != null">
			AND FIND_IN_SET(ph.projectId, #{model.projectIds})
		</if>
		<if test="model.projectType != null">
			AND FIND_IN_SET(ph.projectType, #{model.projectType})
		</if>
		<if test="model.officeCodes != null">
			AND FIND_IN_SET(ph.`column001`, #{model.officeCodes})
		</if>
	</if>	
  </select>
  
  <update id="updateEventActualFinishDateByTask" parameterType="com.dp.plat.pms.springmvc.vo.ProjectDeliver">
	  	UPDATE 
		    pm_project_task t 
		SET
		    eventActualFinishDate = NULL, customInfo = JSON_SET (
		        IFNULL(customInfo, "{}"), '$.deliverCount', 
		        (SELECT 
		            COUNT(*) 
		        FROM
		            `pm_basic_deliver_detail` pd 
		        WHERE t.`projectId` = pd.`projectId` 
		            AND t.`projectType` = pd.`projectType` 
		            AND t.`taskId` = pd.`taskId` 
		            AND (
		                <![CDATA[ pd.effectiveTo > NOW() OR pd.effectiveTo IS NULL ]]>
		            ))
		    ) 
		<where>
			<trim suffixOverrides="and | or" prefixOverrides="and | or">
				<if test="projectId != null"> t.projectId = #{projectId} AND </if>
				<if test="taskId != null"> t.taskId = #{taskId} AND </if>
				<if test="projectType != null and projectType != ''"> t.projectType = #{projectType} AND </if>
				<if test="taskTypeCode != null and taskTypeCode != ''"> t.taskTypeCode = #{taskTypeCode} AND </if>
				<if test="taskTypeId != null and taskTypeId != ''"> t.taskTypeId = #{taskTypeId} AND </if>
				<![CDATA[ 
			    	effectiveFrom <= NOW()  AND
				    (
				        effectiveTo > NOW() 
				        OR effectiveTo IS NULL
				    ) 
			    ]]>
			</trim>
		</where>
  </update>
</mapper>