<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.pms.springmvc.dao.ProjectTaskMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.pms.springmvc.entity.ProjectTask">
    <id column="taskId" jdbcType="INTEGER" property="taskId" />
    <result column="projectId" jdbcType="INTEGER" property="projectId" />
    <result column="projectType" jdbcType="INTEGER" property="projectType" />
    <result column="contractNo" jdbcType="VARCHAR" property="contractNo" />
    <result column="taskTypeCode" jdbcType="VARCHAR" property="taskTypeCode" />
    <result column="taskTypeId" jdbcType="VARCHAR" property="taskTypeId" />
    <result column="eventPlanHappenDate" jdbcType="TIMESTAMP" property="eventPlanHappenDate" />
    <result column="eventPlanHappenDateENG" jdbcType="TIMESTAMP" property="eventPlanHappenDateENG" />
    <result column="planStartTime" jdbcType="TIMESTAMP" property="planStartTime" />
    <result column="planEndTime" jdbcType="TIMESTAMP" property="planEndTime" />
    <result column="actualStartTime" jdbcType="TIMESTAMP" property="actualStartTime" />
    <result column="eventActualFinishDate" jdbcType="TIMESTAMP" property="eventActualFinishDate" />
    <result column="progress" jdbcType="INTEGER" property="progress" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="effectiveFrom" jdbcType="TIMESTAMP" property="effectiveFrom" />
    <result column="effectiveTo" jdbcType="TIMESTAMP" property="effectiveTo" />
    <result column="visibleFlag" jdbcType="VARCHAR" property="visibleFlag" />
    <result column="deliverFileIds" jdbcType="VARCHAR" property="deliverFileIds" />
    <result column="customeInfo" jdbcType="CHAR" property="customeInfo" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dp.plat.pms.springmvc.entity.ProjectTask">
    <result column="remark" jdbcType="LONGVARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    taskId, projectId, projectType, contractNo, taskTypeCode, taskTypeId, eventPlanHappenDate, 
    eventPlanHappenDateENG, planStartTime, planEndTime, actualStartTime, eventActualFinishDate, 
    progress, status, parentId, createTime, createBy, updateTime, updateBy, effectiveFrom, 
    effectiveTo, visibleFlag, deliverFileIds, customeInfo
  </sql>
  <sql id="Blob_Column_List">
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pm_project_task
    where taskId = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pm_project_task
    where taskId = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask">
    insert into pm_project_task (taskId, projectId, projectType, 
      contractNo, taskTypeCode, taskTypeId, 
      eventPlanHappenDate, eventPlanHappenDateENG, 
      planStartTime, planEndTime, actualStartTime, 
      eventActualFinishDate, progress, status, 
      parentId, createTime, createBy, 
      updateTime, updateBy, effectiveFrom, 
      effectiveTo, visibleFlag, deliverFileIds, 
      customeInfo, remark)
    values (#{taskId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{projectType,jdbcType=INTEGER}, 
      #{contractNo,jdbcType=VARCHAR}, #{taskTypeCode,jdbcType=VARCHAR}, #{taskTypeId,jdbcType=VARCHAR}, 
      #{eventPlanHappenDate,jdbcType=TIMESTAMP}, #{eventPlanHappenDateENG,jdbcType=TIMESTAMP}, 
      #{planStartTime,jdbcType=TIMESTAMP}, #{planEndTime,jdbcType=TIMESTAMP}, #{actualStartTime,jdbcType=TIMESTAMP}, 
      #{eventActualFinishDate,jdbcType=TIMESTAMP}, #{progress,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{effectiveFrom,jdbcType=TIMESTAMP}, 
      #{effectiveTo,jdbcType=TIMESTAMP}, #{visibleFlag,jdbcType=VARCHAR}, #{deliverFileIds,jdbcType=VARCHAR}, 
      #{customeInfo,jdbcType=CHAR}, #{remark,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask">
    insert into pm_project_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        taskId,
      </if>
      <if test="projectId != null">
        projectId,
      </if>
      <if test="projectType != null">
        projectType,
      </if>
      <if test="contractNo != null">
        contractNo,
      </if>
      <if test="taskTypeCode != null">
        taskTypeCode,
      </if>
      <if test="taskTypeId != null">
        taskTypeId,
      </if>
      <if test="eventPlanHappenDate != null">
        eventPlanHappenDate,
      </if>
      <if test="eventPlanHappenDateENG != null">
        eventPlanHappenDateENG,
      </if>
      <if test="planStartTime != null">
        planStartTime,
      </if>
      <if test="planEndTime != null">
        planEndTime,
      </if>
      <if test="actualStartTime != null">
        actualStartTime,
      </if>
      <if test="eventActualFinishDate != null">
        eventActualFinishDate,
      </if>
      <if test="progress != null">
        progress,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="parentId != null">
        parentId,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="updateBy != null">
        updateBy,
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom,
      </if>
      <if test="effectiveTo != null">
        effectiveTo,
      </if>
      <if test="visibleFlag != null">
        visibleFlag,
      </if>
      <if test="deliverFileIds != null">
        deliverFileIds,
      </if>
      <if test="customeInfo != null">
        customeInfo,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskId != null">
        #{taskId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectType != null">
        #{projectType,jdbcType=INTEGER},
      </if>
      <if test="contractNo != null">
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeCode != null">
        #{taskTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeId != null">
        #{taskTypeId,jdbcType=VARCHAR},
      </if>
      <if test="eventPlanHappenDate != null">
        #{eventPlanHappenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eventPlanHappenDateENG != null">
        #{eventPlanHappenDateENG,jdbcType=TIMESTAMP},
      </if>
      <if test="planStartTime != null">
        #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null">
        #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartTime != null">
        #{actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eventActualFinishDate != null">
        #{eventActualFinishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="progress != null">
        #{progress,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="visibleFlag != null">
        #{visibleFlag,jdbcType=VARCHAR},
      </if>
      <if test="deliverFileIds != null">
        #{deliverFileIds,jdbcType=VARCHAR},
      </if>
      <if test="customeInfo != null">
        #{customeInfo,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask">
    update pm_project_task
    <set>
      <if test="projectId != null">
        projectId = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectType != null">
        projectType = #{projectType,jdbcType=INTEGER},
      </if>
      <if test="contractNo != null">
        contractNo = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeCode != null">
        taskTypeCode = #{taskTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="taskTypeId != null">
        taskTypeId = #{taskTypeId,jdbcType=VARCHAR},
      </if>
      <if test="eventPlanHappenDate != null">
        eventPlanHappenDate = #{eventPlanHappenDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eventPlanHappenDateENG != null">
        eventPlanHappenDateENG = #{eventPlanHappenDateENG,jdbcType=TIMESTAMP},
      </if>
      <if test="planStartTime != null">
        planStartTime = #{planStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="planEndTime != null">
        planEndTime = #{planEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actualStartTime != null">
        actualStartTime = #{actualStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="eventActualFinishDate != null">
        eventActualFinishDate = #{eventActualFinishDate,jdbcType=TIMESTAMP},
      </if>
      <if test="progress != null">
        progress = #{progress,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        updateBy = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="visibleFlag != null">
        visibleFlag = #{visibleFlag,jdbcType=VARCHAR},
      </if>
      <if test="deliverFileIds != null">
        deliverFileIds = #{deliverFileIds,jdbcType=VARCHAR},
      </if>
      <if test="customeInfo != null">
        customeInfo = #{customeInfo,jdbcType=CHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where taskId = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask">
    update pm_project_task
    set projectId = #{projectId,jdbcType=INTEGER},
      projectType = #{projectType,jdbcType=INTEGER},
      contractNo = #{contractNo,jdbcType=VARCHAR},
      taskTypeCode = #{taskTypeCode,jdbcType=VARCHAR},
      taskTypeId = #{taskTypeId,jdbcType=VARCHAR},
      eventPlanHappenDate = #{eventPlanHappenDate,jdbcType=TIMESTAMP},
      eventPlanHappenDateENG = #{eventPlanHappenDateENG,jdbcType=TIMESTAMP},
      planStartTime = #{planStartTime,jdbcType=TIMESTAMP},
      planEndTime = #{planEndTime,jdbcType=TIMESTAMP},
      actualStartTime = #{actualStartTime,jdbcType=TIMESTAMP},
      eventActualFinishDate = #{eventActualFinishDate,jdbcType=TIMESTAMP},
      progress = #{progress,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      parentId = #{parentId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createBy = #{createBy,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=VARCHAR},
      effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      visibleFlag = #{visibleFlag,jdbcType=VARCHAR},
      deliverFileIds = #{deliverFileIds,jdbcType=VARCHAR},
      customeInfo = #{customeInfo,jdbcType=CHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where taskId = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask">
    update pm_project_task
    set projectId = #{projectId,jdbcType=INTEGER},
      projectType = #{projectType,jdbcType=INTEGER},
      contractNo = #{contractNo,jdbcType=VARCHAR},
      taskTypeCode = #{taskTypeCode,jdbcType=VARCHAR},
      taskTypeId = #{taskTypeId,jdbcType=VARCHAR},
      eventPlanHappenDate = #{eventPlanHappenDate,jdbcType=TIMESTAMP},
      eventPlanHappenDateENG = #{eventPlanHappenDateENG,jdbcType=TIMESTAMP},
      planStartTime = #{planStartTime,jdbcType=TIMESTAMP},
      planEndTime = #{planEndTime,jdbcType=TIMESTAMP},
      actualStartTime = #{actualStartTime,jdbcType=TIMESTAMP},
      eventActualFinishDate = #{eventActualFinishDate,jdbcType=TIMESTAMP},
      progress = #{progress,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR},
      parentId = #{parentId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createBy = #{createBy,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=VARCHAR},
      effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      visibleFlag = #{visibleFlag,jdbcType=VARCHAR},
      deliverFileIds = #{deliverFileIds,jdbcType=VARCHAR},
      customeInfo = #{customeInfo,jdbcType=CHAR}
    where taskId = #{taskId,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask" resultMap="BaseResultMap">
    select * from pm_project_task
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="taskId != null and '' != taskId">
				taskId = #{taskId, jdbcType=INTEGER} AND
			</if>
			<if test="projectId != null and '' != projectId">
				projectId = #{projectId, jdbcType=INTEGER} AND
			</if>
			<if test="projectType != null and '' != projectType">
				projectType = #{projectType, jdbcType=INTEGER} AND
			</if>
			<if test="contractNo != null and '' != contractNo">
				contractNo = #{contractNo, jdbcType=VARCHAR} AND
			</if>
			<if test="taskTypeCode != null and '' != taskTypeCode">
				taskTypeCode = #{taskTypeCode, jdbcType=VARCHAR} AND
			</if>
			<if test="taskTypeId != null and '' != taskTypeId">
				taskTypeId = #{taskTypeId, jdbcType=VARCHAR} AND
			</if>
			<if test="eventPlanHappenDate != null and '' != eventPlanHappenDate">
				eventPlanHappenDate = #{eventPlanHappenDate, jdbcType=TIMESTAMP} AND
			</if>
			<if test="eventPlanHappenDateENG != null and '' != eventPlanHappenDateENG">
				eventPlanHappenDateENG = #{eventPlanHappenDateENG, jdbcType=TIMESTAMP} AND
			</if>
			<if test="planStartTime != null and '' != planStartTime">
				planStartTime = #{planStartTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="planEndTime != null and '' != planEndTime">
				planEndTime = #{planEndTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="actualStartTime != null and '' != actualStartTime">
				actualStartTime = #{actualStartTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="eventActualFinishDate != null and '' != eventActualFinishDate">
				eventActualFinishDate = #{eventActualFinishDate, jdbcType=TIMESTAMP} AND
			</if>
			<if test="progress != null and '' != progress">
				progress = #{progress, jdbcType=INTEGER} AND
			</if>
			<if test="status != null and '' != status">
				status = #{status, jdbcType=VARCHAR} AND
			</if>
			<if test="parentId != null and '' != parentId">
				parentId = #{parentId, jdbcType=INTEGER} AND
			</if>
			<if test="createTime != null and '' != createTime">
				createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null and '' != updateTime">
				updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="effectiveFrom != null and '' != effectiveFrom">
				effectiveFrom = #{effectiveFrom, jdbcType=TIMESTAMP} AND
			</if>
			<if test="effectiveTo != null and '' != effectiveTo">
				effectiveTo = #{effectiveTo, jdbcType=TIMESTAMP} AND
			</if>
			<if test="visibleFlag != null and '' != visibleFlag">
				visibleFlag = #{visibleFlag, jdbcType=VARCHAR} AND
			</if>
			<if test="deliverFileIds != null and '' != deliverFileIds">
				deliverFileIds = #{deliverFileIds, jdbcType=VARCHAR} AND
			</if>
			<if test="customeInfo != null and '' != customeInfo">
				customeInfo = #{customeInfo, jdbcType=CHAR} AND
			</if>
			<if test="remark != null and '' != remark">
				remark = #{remark, jdbcType=LONGVARCHAR} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectTask" resultType="long">
    select count(1) from pm_project_task
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="taskId != null and '' != taskId">
				taskId = #{taskId, jdbcType=INTEGER} AND
			</if>
			<if test="projectId != null and '' != projectId">
				projectId = #{projectId, jdbcType=INTEGER} AND
			</if>
			<if test="projectType != null and '' != projectType">
				projectType = #{projectType, jdbcType=INTEGER} AND
			</if>
			<if test="contractNo != null and '' != contractNo">
				contractNo = #{contractNo, jdbcType=VARCHAR} AND
			</if>
			<if test="taskTypeCode != null and '' != taskTypeCode">
				taskTypeCode = #{taskTypeCode, jdbcType=VARCHAR} AND
			</if>
			<if test="taskTypeId != null and '' != taskTypeId">
				taskTypeId = #{taskTypeId, jdbcType=VARCHAR} AND
			</if>
			<if test="eventPlanHappenDate != null and '' != eventPlanHappenDate">
				eventPlanHappenDate = #{eventPlanHappenDate, jdbcType=TIMESTAMP} AND
			</if>
			<if test="eventPlanHappenDateENG != null and '' != eventPlanHappenDateENG">
				eventPlanHappenDateENG = #{eventPlanHappenDateENG, jdbcType=TIMESTAMP} AND
			</if>
			<if test="planStartTime != null and '' != planStartTime">
				planStartTime = #{planStartTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="planEndTime != null and '' != planEndTime">
				planEndTime = #{planEndTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="actualStartTime != null and '' != actualStartTime">
				actualStartTime = #{actualStartTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="eventActualFinishDate != null and '' != eventActualFinishDate">
				eventActualFinishDate = #{eventActualFinishDate, jdbcType=TIMESTAMP} AND
			</if>
			<if test="progress != null and '' != progress">
				progress = #{progress, jdbcType=INTEGER} AND
			</if>
			<if test="status != null and '' != status">
				status = #{status, jdbcType=VARCHAR} AND
			</if>
			<if test="parentId != null and '' != parentId">
				parentId = #{parentId, jdbcType=INTEGER} AND
			</if>
			<if test="createTime != null and '' != createTime">
				createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null and '' != updateTime">
				updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="effectiveFrom != null and '' != effectiveFrom">
				effectiveFrom = #{effectiveFrom, jdbcType=TIMESTAMP} AND
			</if>
			<if test="effectiveTo != null and '' != effectiveTo">
				effectiveTo = #{effectiveTo, jdbcType=TIMESTAMP} AND
			</if>
			<if test="visibleFlag != null and '' != visibleFlag">
				visibleFlag = #{visibleFlag, jdbcType=VARCHAR} AND
			</if>
			<if test="deliverFileIds != null and '' != deliverFileIds">
				deliverFileIds = #{deliverFileIds, jdbcType=VARCHAR} AND
			</if>
			<if test="customeInfo != null and '' != customeInfo">
				customeInfo = #{customeInfo, jdbcType=CHAR} AND
			</if>
			<if test="remark != null and '' != remark">
				remark = #{remark, jdbcType=LONGVARCHAR} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultMap="BaseResultMap">
    select * from pm_project_task
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.taskId != null and '' != model.taskId">
					taskId = #{model.taskId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectId != null and '' != model.projectId">
					projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectType != null and '' != model.projectType">
					projectType = #{model.projectType, jdbcType=INTEGER} AND
				</if>
				<if test="model.contractNo != null and '' != model.contractNo">
					contractNo = #{model.contractNo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.taskTypeCode != null and '' != model.taskTypeCode">
					taskTypeCode = #{model.taskTypeCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.taskTypeId != null and '' != model.taskTypeId">
					taskTypeId = #{model.taskTypeId, jdbcType=VARCHAR} AND
				</if>
				<if test="model.eventPlanHappenDate != null and '' != model.eventPlanHappenDate">
					eventPlanHappenDate = #{model.eventPlanHappenDate, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.eventPlanHappenDateENG != null and '' != model.eventPlanHappenDateENG">
					eventPlanHappenDateENG = #{model.eventPlanHappenDateENG, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.planStartTime != null and '' != model.planStartTime">
					planStartTime = #{model.planStartTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.planEndTime != null and '' != model.planEndTime">
					planEndTime = #{model.planEndTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.actualStartTime != null and '' != model.actualStartTime">
					actualStartTime = #{model.actualStartTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.eventActualFinishDate != null and '' != model.eventActualFinishDate">
					eventActualFinishDate = #{model.eventActualFinishDate, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.progress != null and '' != model.progress">
					progress = #{model.progress, jdbcType=INTEGER} AND
				</if>
				<if test="model.status != null and '' != model.status">
					status = #{model.status, jdbcType=VARCHAR} AND
				</if>
				<if test="model.parentId != null and '' != model.parentId">
					parentId = #{model.parentId, jdbcType=INTEGER} AND
				</if>
				<if test="model.createTime != null and '' != model.createTime">
					createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null and '' != model.updateTime">
					updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.effectiveFrom != null and '' != model.effectiveFrom">
					effectiveFrom = #{model.effectiveFrom, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.effectiveTo != null and '' != model.effectiveTo">
					effectiveTo = #{model.effectiveTo, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.visibleFlag != null and '' != model.visibleFlag">
					visibleFlag = #{model.visibleFlag, jdbcType=VARCHAR} AND
				</if>
				<if test="model.deliverFileIds != null and '' != model.deliverFileIds">
					deliverFileIds = #{model.deliverFileIds, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customeInfo != null and '' != model.customeInfo">
					customeInfo = #{model.customeInfo, jdbcType=CHAR} AND
				</if>
				<if test="model.remark != null and '' != model.remark">
					remark = #{model.remark, jdbcType=LONGVARCHAR} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					contractNo like CONCAT("%", #{fuzzy}, "%") or
					taskTypeCode like CONCAT("%", #{fuzzy}, "%") or
					taskTypeId like CONCAT("%", #{fuzzy}, "%") or
					status like CONCAT("%", #{fuzzy}, "%") or
					createBy like CONCAT("%", #{fuzzy}, "%") or
					updateBy like CONCAT("%", #{fuzzy}, "%") or
					visibleFlag like CONCAT("%", #{fuzzy}, "%") or
					deliverFileIds like CONCAT("%", #{fuzzy}, "%") or
					customeInfo like CONCAT("%", #{fuzzy}, "%") or
					remark like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
	<if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by id desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from pm_project_task
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.taskId != null and '' != model.taskId">
					taskId = #{model.taskId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectId != null and '' != model.projectId">
					projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectType != null and '' != model.projectType">
					projectType = #{model.projectType, jdbcType=INTEGER} AND
				</if>
				<if test="model.contractNo != null and '' != model.contractNo">
					contractNo = #{model.contractNo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.taskTypeCode != null and '' != model.taskTypeCode">
					taskTypeCode = #{model.taskTypeCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.taskTypeId != null and '' != model.taskTypeId">
					taskTypeId = #{model.taskTypeId, jdbcType=VARCHAR} AND
				</if>
				<if test="model.eventPlanHappenDate != null and '' != model.eventPlanHappenDate">
					eventPlanHappenDate = #{model.eventPlanHappenDate, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.eventPlanHappenDateENG != null and '' != model.eventPlanHappenDateENG">
					eventPlanHappenDateENG = #{model.eventPlanHappenDateENG, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.planStartTime != null and '' != model.planStartTime">
					planStartTime = #{model.planStartTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.planEndTime != null and '' != model.planEndTime">
					planEndTime = #{model.planEndTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.actualStartTime != null and '' != model.actualStartTime">
					actualStartTime = #{model.actualStartTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.eventActualFinishDate != null and '' != model.eventActualFinishDate">
					eventActualFinishDate = #{model.eventActualFinishDate, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.progress != null and '' != model.progress">
					progress = #{model.progress, jdbcType=INTEGER} AND
				</if>
				<if test="model.status != null and '' != model.status">
					status = #{model.status, jdbcType=VARCHAR} AND
				</if>
				<if test="model.parentId != null and '' != model.parentId">
					parentId = #{model.parentId, jdbcType=INTEGER} AND
				</if>
				<if test="model.createTime != null and '' != model.createTime">
					createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null and '' != model.updateTime">
					updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.effectiveFrom != null and '' != model.effectiveFrom">
					effectiveFrom = #{model.effectiveFrom, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.effectiveTo != null and '' != model.effectiveTo">
					effectiveTo = #{model.effectiveTo, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.visibleFlag != null and '' != model.visibleFlag">
					visibleFlag = #{model.visibleFlag, jdbcType=VARCHAR} AND
				</if>
				<if test="model.deliverFileIds != null and '' != model.deliverFileIds">
					deliverFileIds = #{model.deliverFileIds, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customeInfo != null and '' != model.customeInfo">
					customeInfo = #{model.customeInfo, jdbcType=CHAR} AND
				</if>
				<if test="model.remark != null and '' != model.remark">
					remark = #{model.remark, jdbcType=LONGVARCHAR} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					contractNo like CONCAT("%", #{fuzzy}, "%") or
					taskTypeCode like CONCAT("%", #{fuzzy}, "%") or
					taskTypeId like CONCAT("%", #{fuzzy}, "%") or
					status like CONCAT("%", #{fuzzy}, "%") or
					createBy like CONCAT("%", #{fuzzy}, "%") or
					updateBy like CONCAT("%", #{fuzzy}, "%") or
					visibleFlag like CONCAT("%", #{fuzzy}, "%") or
					deliverFileIds like CONCAT("%", #{fuzzy}, "%") or
					customeInfo like CONCAT("%", #{fuzzy}, "%") or
					remark like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </select>
</mapper>