<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.pms.springmvc.dao.ProjectMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.pms.springmvc.entity.Project">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="projectCode" jdbcType="VARCHAR" property="projectCode" />
    <result column="projectName" jdbcType="VARCHAR" property="projectName" />
    <result column="projectState" jdbcType="VARCHAR" property="projectState" />
    <result column="officeCode" jdbcType="VARCHAR" property="officeCode" />
    <result column="customerCode" jdbcType="VARCHAR" property="customerCode" />
    <result column="customerName" jdbcType="VARCHAR" property="customerName" />
    <result column="marketName" jdbcType="VARCHAR" property="marketName" />
    <result column="systemName" jdbcType="VARCHAR" property="systemName" />
    <result column="expendName" jdbcType="VARCHAR" property="expendName" />
    <result column="industryName" jdbcType="VARCHAR" property="industryName" />
    <result column="notGrantTailCause" jdbcType="VARCHAR" property="notGrantTailCause" />
    <result column="orderCreateTime" jdbcType="TIMESTAMP" property="orderCreateTime" />
    <result column="projectType" jdbcType="VARCHAR" property="projectType" />
    <result column="projectCategory" jdbcType="VARCHAR" property="projectCategory" />
    <result column="implType" jdbcType="VARCHAR" property="implType" />
    <result column="implReadonly" jdbcType="INTEGER" property="implReadonly" />
    <result column="finalCustomerName" jdbcType="VARCHAR" property="finalCustomerName" />
    <result column="backReason" jdbcType="VARCHAR" property="backReason" />
    <result column="customerProjectName" jdbcType="VARCHAR" property="customerProjectName" />
    <result column="salesType" jdbcType="VARCHAR" property="salesType" />
    <result column="compId" jdbcType="INTEGER" property="compId" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="effectiveFrom" jdbcType="TIMESTAMP" property="effectiveFrom" />
    <result column="effectiveTo" jdbcType="TIMESTAMP" property="effectiveTo" />
    <result column="projectStartTime" jdbcType="TIMESTAMP" property="projectStartTime" />
    <result column="projectEndTime" jdbcType="TIMESTAMP" property="projectEndTime" />
    <result column="projectRefreshTime" jdbcType="TIMESTAMP" property="projectRefreshTime" />
    <result column="customInfo" jdbcType="JSON" property="customInfo" />
    <result column="customConfig" jdbcType="JSON" property="customConfig" />
  </resultMap>
  <sql id="Base_Column_List">
    id, projectCode, projectName, projectState, officeCode, customerCode, customerName, 
    marketName, systemName, expendName, industryName, notGrantTailCause, orderCreateTime, 
    projectType, projectCategory, implType, implReadonly, finalCustomerName, backReason, 
    customerProjectName, salesType, compId, createTime, createBy, updateTime, updateBy, 
    effectiveFrom, effectiveTo, projectStartTime, projectEndTime, projectRefreshTime, 
    customInfo, customConfig
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_project
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pm_project
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.pms.springmvc.entity.Project" keyProperty="id" useGeneratedKeys="true">
  	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_project (id, projectCode, projectName, 
      projectState, officeCode, customerCode, 
      customerName, marketName, systemName, 
      expendName, industryName, notGrantTailCause, 
      orderCreateTime, projectType, projectCategory, 
      implType, implReadonly, finalCustomerName, 
      backReason, customerProjectName, salesType, 
      compId, createTime, createBy, 
      updateTime, updateBy, effectiveFrom, 
      effectiveTo, projectStartTime, projectEndTime, 
      projectRefreshTime, customInfo, customConfig
      )
    values (#{id,jdbcType=INTEGER}, #{projectCode,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{projectState,jdbcType=VARCHAR}, #{officeCode,jdbcType=VARCHAR}, #{customerCode,jdbcType=VARCHAR}, 
      #{customerName,jdbcType=VARCHAR},OTHERarketName,jdbcType=VARCHAR}, #{systemName,jdbcType=VARCHAR}, 
      #{expendName,jdbcType=VARCHAR}, #{industryName,jdbcType=VARCHAR}, #{notGrantTailCause,jdbcType=VARCHAR}, 
      #{orderCreateTime,jdbcType=TIMESTAMP}, #{projectType,jdbcType=VARCHAR}, #{projectCategory,jdbcType=VARCHAR}, 
      #{implType,jdbcType=VARCHAR}, #{implReadonly,jdbcType=INTEGER}, #{finalCustomerName,jdbcType=VARCHAR}, 
      #{backReason,jdbcType=VARCHAR}, #{customerProjectName,jdbcType=VARCHAR}, #{salesType,jdbcType=VARCHAR}, 
      #{compId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{effectiveFrom,jdbcType=TIMESTAMP}, 
      #{effectiveTo,jdbcType=TIMESTAMP}, #{projectStartTime,jdbcType=TIMESTAMP}, #{projectEndTime,jdbcType=TIMESTAMP}, 
      #{projectRefreshTime,jdbcType=TIMESTAMP}, #{customInfo,jdbcType=JSON}, #{customConfig,jdbcType=JSON}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.pms.springmvc.entity.Project" keyProperty="id" useGeneratedKeys="true">
  	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_project
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectCode != null">
        projectCode,
      </if>
      <if test="projectName != null">
        projectName,
      </if>
      <if test="projectState != null">
        projectState,
      </if>
      <if test="officeCode != null">
        officeCode,
      </if>
      <if test="customerCode != null">
        customerCode,
      </if>
      <if test="customerName != null">
        customerName,
      </if>
      <if test="marketName != null">
        marketName,
      </if>
      <if test="systemName != null">
        systemName,
      </if>
      <if test="expendName != null">
        expendName,
      </if>
      <if test="industryName != null">
        industryName,
      </if>
      <if test="notGrantTailCause != null">
        notGrantTailCause,
      </if>
      <if test="orderCreateTime != null">
        orderCreateTime,
      </if>
      <if test="projectType != null">
        projectType,
      </if>
      <if test="projectCategory != null">
        projectCategory,
      </if>
      <if test="implType != null">
        implType,
      </if>
      <if test="implReadonly != null">
        implReadonly,
      </if>
      <if test="finalCustomerName != null">
        finalCustomerName,
      </if>
      <if test="backReason != null">
        backReason,
      </if>
      <if test="customerProjectName != null">
        customerProjectName,
      </if>
      <if test="salesType != null">
        salesType,
      </if>
      <if test="compId != null">
        compId,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="updateBy != null">
        updateBy,
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom,
      </if>
      <if test="effectiveTo != null">
        effectiveTo,
      </if>
      <if test="projectStartTime != null">
        projectStartTime,
      </if>
      <if test="projectEndTime != null">
        projectEndTime,
      </if>
      <if test="projectRefreshTime != null">
        projectRefreshTime,
      </if>
      <if test="customInfo != null">
        customInfo,
      </if>
      <if test="customConfig != null">
        customConfig,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectCode != null">
        #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectState != null">
        #{projectState,jdbcType=VARCHAR},
      </if>
      <if test="officeCode != null">
        #{officeCode,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null">
        #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="marketName != null">
        #{marketName,jdbcType=VARCHAR},
      </if>
      <if test="systemName != null">
        #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="expendName != null">
        #{expendName,jdbcType=VARCHAR},
      </if>
      <if test="industryName != null">
        #{industryName,jdbcType=VARCHAR},
      </if>
      <if test="notGrantTailCause != null">
        #{notGrantTailCause,jdbcType=VARCHAR},
      </if>
      <if test="orderCreateTime != null">
        #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectType != null">
        #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="projectCategory != null">
        #{projectCategory,jdbcType=VARCHAR},
      </if>
      <if test="implType != null">
        #{implType,jdbcType=VARCHAR},
      </if>
      <if test="implReadonly != null">
        #{implReadonly,jdbcType=INTEGER},
      </if>
      <if test="finalCustomerName != null">
        #{finalCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="backReason != null">
        #{backReason,jdbcType=VARCHAR},
      </if>
      <if test="customerProjectName != null">
        #{customerProjectName,jdbcType=VARCHAR},
      </if>
      <if test="salesType != null">
        #{salesType,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="projectStartTime != null">
        #{projectStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectEndTime != null">
        #{projectEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectRefreshTime != null">
        #{projectRefreshTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customInfo != null">
        #{customInfo,jdbcType=JSON},
      </if>
      <if test="customConfig != null">
        #{customConfig,jdbcType=JSON},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.pms.springmvc.entity.Project">
    update pm_project
    <set>
      <if test="projectCode != null">
        projectCode = #{projectCode,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        projectName = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectState != null">
        projectState = #{projectState,jdbcType=VARCHAR},
      </if>
      <if test="officeCode != null">
        officeCode = #{officeCode,jdbcType=VARCHAR},
      </if>
      <if test="customerCode != null">
        customerCode = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null">
        customerName = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="marketName != null">
        marketName = #{marketName,jdbcType=VARCHAR},
      </if>
      <if test="systemName != null">
        systemName = #{systemName,jdbcType=VARCHAR},
      </if>
      <if test="expendName != null">
        expendName = #{expendName,jdbcType=VARCHAR},
      </if>
      <if test="industryName != null">
        industryName = #{industryName,jdbcType=VARCHAR},
      </if>
      <if test="notGrantTailCause != null">
        notGrantTailCause = #{notGrantTailCause,jdbcType=VARCHAR},
      </if>
      <if test="orderCreateTime != null">
        orderCreateTime = #{orderCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectType != null">
        projectType = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="projectCategory != null">
        projectCategory = #{projectCategory,jdbcType=VARCHAR},
      </if>
      <if test="implType != null">
        implType = #{implType,jdbcType=VARCHAR},
      </if>
      <if test="implReadonly != null">
        implReadonly = #{implReadonly,jdbcType=INTEGER},
      </if>
      <if test="finalCustomerName != null">
        finalCustomerName = #{finalCustomerName,jdbcType=VARCHAR},
      </if>
      <if test="backReason != null">
        backReason = #{backReason,jdbcType=VARCHAR},
      </if>
      <if test="customerProjectName != null">
        customerProjectName = #{customerProjectName,jdbcType=VARCHAR},
      </if>
      <if test="salesType != null">
        salesType = #{salesType,jdbcType=VARCHAR},
      </if>
      <if test="compId != null">
        compId = #{compId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        updateBy = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveTo != null">
        effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="projectStartTime != null">
        projectStartTime = #{projectStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectEndTime != null">
        projectEndTime = #{projectEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="projectRefreshTime != null">
        projectRefreshTime = #{projectRefreshTime,jdbcType=TIMESTAMP},
      </if>
      <if test="customInfo != null">
        customInfo = #{customInfo,jdbcType=JSON},
      </if>
      <if test="customConfig != null">
        customConfig = #{customConfig,jdbcType=JSON},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.pms.springmvc.entity.Project">
    update pm_project
    set projectCode = #{projectCode,jdbcType=VARCHAR},
      projectName = #{projectName,jdbcType=VARCHAR},
      projectState = #{projectState,jdbcType=VARCHAR},
      officeCode = #{officeCode,jdbcType=VARCHAR},
      customerCode = #{customerCode,jdbcType=VARCHAR},
      customerName = #{customerName,jdbcType=VARCHAR},
      marketName = #{marketName,jdbcType=VARCHAR},
      systemName = #{systemName,jdbcType=VARCHAR},
      expendName = #{expendName,jdbcType=VARCHAR},
      industryName = #{industryName,jdbcType=VARCHAR},
      notGrantTailCause = #{notGrantTailCause,jdbcType=VARCHAR},
      orderCreateTime = #{orderCreateTime,jdbcType=TIMESTAMP},
      projectType = #{projectType,jdbcType=VARCHAR},
      projectCategory = #{projectCategory,jdbcType=VARCHAR},
      implType = #{implType,jdbcType=VARCHAR},
      implReadonly = #{implReadonly,jdbcType=INTEGER},
      finalCustomerName = #{finalCustomerName,jdbcType=VARCHAR},
      backReason = #{backReason,jdbcType=VARCHAR},
      customerProjectName = #{customerProjectName,jdbcType=VARCHAR},
      salesType = #{salesType,jdbcType=VARCHAR},
      compId = #{compId,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createBy = #{createBy,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=VARCHAR},
      effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      projectStartTime = #{projectStartTime,jdbcType=TIMESTAMP},
      projectEndTime = #{projectEndTime,jdbcType=TIMESTAMP},
      projectRefreshTime = #{projectRefreshTime,jdbcType=TIMESTAMP},
      customInfo = #{customInfo,jdbcType=JSON},
      customConfig = #{customConfig,jdbcType=JSON}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="com.dp.plat.pms.springmvc.entity.Project" resultMap="BaseResultMap">
    select * from pm_project
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null and '' != id">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="projectCode != null and '' != projectCode">
				projectCode = #{projectCode, jdbcType=VARCHAR} AND
			</if>
			<if test="projectName != null and '' != projectName">
				projectName = #{projectName, jdbcType=VARCHAR} AND
			</if>
			<if test="projectState != null and '' != projectState">
				projectState = #{projectState, jdbcType=VARCHAR} AND
			</if>
			<if test="officeCode != null and '' != officeCode">
				officeCode = #{officeCode, jdbcType=VARCHAR} AND
			</if>
			<if test="customerCode != null and '' != customerCode">
				customerCode = #{customerCode, jdbcType=VARCHAR} AND
			</if>
			<if test="customerName != null and '' != customerName">
				customerName = #{customerName, jdbcType=VARCHAR} AND
			</if>
			<if test="marketName != null and '' != marketName">
				marketName = #{marketName, jdbcType=VARCHAR} AND
			</if>
			<if test="systemName != null and '' != systemName">
				systemName = #{systemName, jdbcType=VARCHAR} AND
			</if>
			<if test="expendName != null and '' != expendName">
				expendName = #{expendName, jdbcType=VARCHAR} AND
			</if>
			<if test="industryName != null and '' != industryName">
				industryName = #{industryName, jdbcType=VARCHAR} AND
			</if>
			<if test="notGrantTailCause != null and '' != notGrantTailCause">
				notGrantTailCause = #{notGrantTailCause, jdbcType=VARCHAR} AND
			</if>
			<if test="orderCreateTime != null and '' != orderCreateTime">
				orderCreateTime = #{orderCreateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="projectType != null and '' != projectType">
				projectType = #{projectType, jdbcType=VARCHAR} AND
			</if>
			<if test="projectCategory != null and '' != projectCategory">
				projectCategory = #{projectCategory, jdbcType=VARCHAR} AND
			</if>
			<if test="implType != null and '' != implType">
				implType = #{implType, jdbcType=VARCHAR} AND
			</if>
			<if test="implReadonly != null and '' != implReadonly">
				implReadonly = #{implReadonly, jdbcType=INTEGER} AND
			</if>
			<if test="finalCustomerName != null and '' != finalCustomerName">
				finalCustomerName = #{finalCustomerName, jdbcType=VARCHAR} AND
			</if>
			<if test="backReason != null and '' != backReason">
				backReason = #{backReason, jdbcType=VARCHAR} AND
			</if>
			<if test="customerProjectName != null and '' != customerProjectName">
				customerProjectName = #{customerProjectName, jdbcType=VARCHAR} AND
			</if>
			<if test="salesType != null and '' != salesType">
				salesType = #{salesType, jdbcType=VARCHAR} AND
			</if>
			<if test="compId != null and '' != compId">
				compId = #{compId, jdbcType=INTEGER} AND
			</if>
			<if test="createTime != null">
				createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="effectiveFrom != null">
				effectiveFrom = #{effectiveFrom, jdbcType=TIMESTAMP} AND
			</if>
			<if test="effectiveTo != null">
				effectiveTo = #{effectiveTo, jdbcType=TIMESTAMP} AND
			</if>
			<if test="projectStartTime != null and '' != projectStartTime">
				projectStartTime = #{projectStartTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="projectEndTime != null and '' != projectEndTime">
				projectEndTime = #{projectEndTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="projectRefreshTime != null and '' != projectRefreshTime">
				projectRefreshTime = #{projectRefreshTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="customInfo != null and '' != customInfo">
				customInfo = #{customInfo, jdbcType=JSON} AND
			</if>
			<if test="customConfig != null and '' != customConfig">
				customConfig = #{customConfig, jdbcType=JSON} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.pms.springmvc.entity.Project" resultType="long">
    select count(1) from pm_project
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null and '' != id">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="projectCode != null and '' != projectCode">
				projectCode = #{projectCode, jdbcType=VARCHAR} AND
			</if>
			<if test="projectName != null and '' != projectName">
				projectName = #{projectName, jdbcType=VARCHAR} AND
			</if>
			<if test="projectState != null and '' != projectState">
				projectState = #{projectState, jdbcType=VARCHAR} AND
			</if>
			<if test="officeCode != null and '' != officeCode">
				officeCode = #{officeCode, jdbcType=VARCHAR} AND
			</if>
			<if test="customerCode != null and '' != customerCode">
				customerCode = #{customerCode, jdbcType=VARCHAR} AND
			</if>
			<if test="customerName != null and '' != customerName">
				customerName = #{customerName, jdbcType=VARCHAR} AND
			</if>
			<if test="marketName != null and '' != marketName">
				marketName = #{marketName, jdbcType=VARCHAR} AND
			</if>
			<if test="systemName != null and '' != systemName">
				systemName = #{systemName, jdbcType=VARCHAR} AND
			</if>
			<if test="expendName != null and '' != expendName">
				expendName = #{expendName, jdbcType=VARCHAR} AND
			</if>
			<if test="industryName != null and '' != industryName">
				industryName = #{industryName, jdbcType=VARCHAR} AND
			</if>
			<if test="notGrantTailCause != null and '' != notGrantTailCause">
				notGrantTailCause = #{notGrantTailCause, jdbcType=VARCHAR} AND
			</if>
			<if test="orderCreateTime != null and '' != orderCreateTime">
				orderCreateTime = #{orderCreateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="projectType != null and '' != projectType">
				projectType = #{projectType, jdbcType=VARCHAR} AND
			</if>
			<if test="projectCategory != null and '' != projectCategory">
				projectCategory = #{projectCategory, jdbcType=VARCHAR} AND
			</if>
			<if test="implType != null and '' != implType">
				implType = #{implType, jdbcType=VARCHAR} AND
			</if>
			<if test="implReadonly != null and '' != implReadonly">
				implReadonly = #{implReadonly, jdbcType=INTEGER} AND
			</if>
			<if test="finalCustomerName != null and '' != finalCustomerName">
				finalCustomerName = #{finalCustomerName, jdbcType=VARCHAR} AND
			</if>
			<if test="backReason != null and '' != backReason">
				backReason = #{backReason, jdbcType=VARCHAR} AND
			</if>
			<if test="customerProjectName != null and '' != customerProjectName">
				customerProjectName = #{customerProjectName, jdbcType=VARCHAR} AND
			</if>
			<if test="salesType != null and '' != salesType">
				salesType = #{salesType, jdbcType=VARCHAR} AND
			</if>
			<if test="compId != null and '' != compId">
				compId = #{compId, jdbcType=INTEGER} AND
			</if>
			<if test="createTime != null">
				createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="effectiveFrom != null">
				effectiveFrom = #{effectiveFrom, jdbcType=TIMESTAMP} AND
			</if>
			<if test="effectiveTo != null">
				effectiveTo = #{effectiveTo, jdbcType=TIMESTAMP} AND
			</if>
			<if test="projectStartTime != null and '' != projectStartTime">
				projectStartTime = #{projectStartTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="projectEndTime != null and '' != projectEndTime">
				projectEndTime = #{projectEndTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="projectRefreshTime != null and '' != projectRefreshTime">
				projectRefreshTime = #{projectRefreshTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="customInfo != null and '' != customInfo">
				customInfo = #{customInfo, jdbcType=JSON} AND
			</if>
			<if test="customConfig != null and '' != customConfig">
				customConfig = #{customConfig, jdbcType=JSON} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultMap="BaseResultMap">
    select * from pm_project
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectCode != null and '' != model.projectCode">
					projectCode = #{model.projectCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.projectName != null and '' != model.projectName">
					projectName = #{model.projectName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.projectState != null and '' != model.projectState">
					projectState = #{model.projectState, jdbcType=VARCHAR} AND
				</if>
				<if test="model.officeCode != null and '' != model.officeCode">
					officeCode = #{model.officeCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customerCode != null and '' != model.customerCode">
					customerCode = #{model.customerCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customerName != null and '' != model.customerName">
					customerName = #{model.customerName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.marketName != null and '' != model.marketName">
					marketName = #{model.marketName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.systemName != null and '' != model.systemName">
					systemName = #{model.systemName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.expendName != null and '' != model.expendName">
					expendName = #{model.expendName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.industryName != null and '' != model.industryName">
					industryName = #{model.industryName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.notGrantTailCause != null and '' != model.notGrantTailCause">
					notGrantTailCause = #{model.notGrantTailCause, jdbcType=VARCHAR} AND
				</if>
				<if test="model.orderCreateTime != null and '' != model.orderCreateTime">
					orderCreateTime = #{model.orderCreateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.projectType != null and '' != model.projectType">
					projectType = #{model.projectType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.projectCategory != null and '' != model.projectCategory">
					projectCategory = #{model.projectCategory, jdbcType=VARCHAR} AND
				</if>
				<if test="model.implType != null and '' != model.implType">
					implType = #{model.implType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.implReadonly != null and '' != model.implReadonly">
					implReadonly = #{model.implReadonly, jdbcType=INTEGER} AND
				</if>
				<if test="model.finalCustomerName != null and '' != model.finalCustomerName">
					finalCustomerName = #{model.finalCustomerName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.backReason != null and '' != model.backReason">
					backReason = #{model.backReason, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customerProjectName != null and '' != model.customerProjectName">
					customerProjectName = #{model.customerProjectName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.salesType != null and '' != model.salesType">
					salesType = #{model.salesType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.compId != null and '' != model.compId">
					compId = #{model.compId, jdbcType=INTEGER} AND
				</if>
				<if test="model.createTime != null">
					createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.effectiveFrom != null">
					effectiveFrom = #{model.effectiveFrom, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.effectiveTo != null">
					effectiveTo = #{model.effectiveTo, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.projectStartTime != null and '' != model.projectStartTime">
					projectStartTime = #{model.projectStartTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.projectEndTime != null and '' != model.projectEndTime">
					projectEndTime = #{model.projectEndTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.projectRefreshTime != null and '' != model.projectRefreshTime">
					projectRefreshTime = #{model.projectRefreshTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.customInfo != null and '' != model.customInfo">
					customInfo = #{model.customInfo, jdbcType=JSON} AND
				</if>
				<if test="model.customConfig != null and '' != model.customConfig">
					customConfig = #{model.customConfig, jdbcType=JSON} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					projectCode like CONCAT("%", #{fuzzy}, "%") or
					projectName like CONCAT("%", #{fuzzy}, "%") or
					projectState like CONCAT("%", #{fuzzy}, "%") or
					officeCode like CONCAT("%", #{fuzzy}, "%") or
					customerCode like CONCAT("%", #{fuzzy}, "%") or
					customerName like CONCAT("%", #{fuzzy}, "%") or
					marketName like CONCAT("%", #{fuzzy}, "%") or
					systemName like CONCAT("%", #{fuzzy}, "%") or
					expendName like CONCAT("%", #{fuzzy}, "%") or
					industryName like CONCAT("%", #{fuzzy}, "%") or
					notGrantTailCause like CONCAT("%", #{fuzzy}, "%") or
					projectType like CONCAT("%", #{fuzzy}, "%") or
					projectCategory like CONCAT("%", #{fuzzy}, "%") or
					implType like CONCAT("%", #{fuzzy}, "%") or
					finalCustomerName like CONCAT("%", #{fuzzy}, "%") or
					backReason like CONCAT("%", #{fuzzy}, "%") or
					customerProjectName like CONCAT("%", #{fuzzy}, "%") or
					salesType like CONCAT("%", #{fuzzy}, "%") or
					createBy like CONCAT("%", #{fuzzy}, "%") or
					updateBy like CONCAT("%", #{fuzzy}, "%") or
					customInfo like CONCAT("%", #{fuzzy}, "%") or
					customConfig like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
	<if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by id desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from pm_project
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectCode != null and '' != model.projectCode">
					projectCode = #{model.projectCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.projectName != null and '' != model.projectName">
					projectName = #{model.projectName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.projectState != null and '' != model.projectState">
					projectState = #{model.projectState, jdbcType=VARCHAR} AND
				</if>
				<if test="model.officeCode != null and '' != model.officeCode">
					officeCode = #{model.officeCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customerCode != null and '' != model.customerCode">
					customerCode = #{model.customerCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customerName != null and '' != model.customerName">
					customerName = #{model.customerName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.marketName != null and '' != model.marketName">
					marketName = #{model.marketName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.systemName != null and '' != model.systemName">
					systemName = #{model.systemName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.expendName != null and '' != model.expendName">
					expendName = #{model.expendName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.industryName != null and '' != model.industryName">
					industryName = #{model.industryName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.notGrantTailCause != null and '' != model.notGrantTailCause">
					notGrantTailCause = #{model.notGrantTailCause, jdbcType=VARCHAR} AND
				</if>
				<if test="model.orderCreateTime != null and '' != model.orderCreateTime">
					orderCreateTime = #{model.orderCreateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.projectType != null and '' != model.projectType">
					projectType = #{model.projectType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.projectCategory != null and '' != model.projectCategory">
					projectCategory = #{model.projectCategory, jdbcType=VARCHAR} AND
				</if>
				<if test="model.implType != null and '' != model.implType">
					implType = #{model.implType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.implReadonly != null and '' != model.implReadonly">
					implReadonly = #{model.implReadonly, jdbcType=INTEGER} AND
				</if>
				<if test="model.finalCustomerName != null and '' != model.finalCustomerName">
					finalCustomerName = #{model.finalCustomerName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.backReason != null and '' != model.backReason">
					backReason = #{model.backReason, jdbcType=VARCHAR} AND
				</if>
				<if test="model.customerProjectName != null and '' != model.customerProjectName">
					customerProjectName = #{model.customerProjectName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.salesType != null and '' != model.salesType">
					salesType = #{model.salesType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.compId != null and '' != model.compId">
					compId = #{model.compId, jdbcType=INTEGER} AND
				</if>
				<if test="model.createTime != null">
					createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.effectiveFrom != null">
					effectiveFrom = #{model.effectiveFrom, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.effectiveTo != null">
					effectiveTo = #{model.effectiveTo, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.projectStartTime != null and '' != model.projectStartTime">
					projectStartTime = #{model.projectStartTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.projectEndTime != null and '' != model.projectEndTime">
					projectEndTime = #{model.projectEndTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.projectRefreshTime != null and '' != model.projectRefreshTime">
					projectRefreshTime = #{model.projectRefreshTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.customInfo != null and '' != model.customInfo">
					customInfo = #{model.customInfo, jdbcType=JSON} AND
				</if>
				<if test="model.customConfig != null and '' != model.customConfig">
					customConfig = #{model.customConfig, jdbcType=JSON} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					projectCode like CONCAT("%", #{fuzzy}, "%") or
					projectName like CONCAT("%", #{fuzzy}, "%") or
					projectState like CONCAT("%", #{fuzzy}, "%") or
					officeCode like CONCAT("%", #{fuzzy}, "%") or
					customerCode like CONCAT("%", #{fuzzy}, "%") or
					customerName like CONCAT("%", #{fuzzy}, "%") or
					marketName like CONCAT("%", #{fuzzy}, "%") or
					systemName like CONCAT("%", #{fuzzy}, "%") or
					expendName like CONCAT("%", #{fuzzy}, "%") or
					industryName like CONCAT("%", #{fuzzy}, "%") or
					notGrantTailCause like CONCAT("%", #{fuzzy}, "%") or
					projectType like CONCAT("%", #{fuzzy}, "%") or
					projectCategory like CONCAT("%", #{fuzzy}, "%") or
					implType like CONCAT("%", #{fuzzy}, "%") or
					finalCustomerName like CONCAT("%", #{fuzzy}, "%") or
					backReason like CONCAT("%", #{fuzzy}, "%") or
					customerProjectName like CONCAT("%", #{fuzzy}, "%") or
					salesType like CONCAT("%", #{fuzzy}, "%") or
					createBy like CONCAT("%", #{fuzzy}, "%") or
					updateBy like CONCAT("%", #{fuzzy}, "%") or
					customInfo like CONCAT("%", #{fuzzy}, "%") or
					customConfig like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </select>
</mapper>