<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:sec="http://www.springframework.org/schema/security"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
        http://www.springframework.org/schema/security  
        http://www.springframework.org/schema/security/spring-security-3.1.xsd">  
  
    <!-- 配置不过滤的资源（静态资源及登录相关） -->  
    <sec:http pattern="/css/**" security="none"></sec:http>
    <sec:http pattern="/images/**" security="none"></sec:http>  
    <sec:http pattern="/js/**" security="none"></sec:http> 
    <sec:http pattern="/static/**" security="none"></sec:http>   
    <sec:http pattern="/plat/**" security="none"></sec:http>  
    <sec:http pattern="/sys/**" security="none"></sec:http>  
    <sec:http pattern="/template/**" security="none"></sec:http>  
    <sec:http pattern="/work/**" security="none"></sec:http>  
    <sec:http pattern="/login.jsp" security="none"></sec:http>  
    <sec:http pattern="/image.jsp" security="none" /><!-- 不过滤验证码 -->  
    <sec:http pattern="/test/**" security="none"></sec:http><!-- 不过滤测试内容 -->  
      
    <sec:http auto-config="true" access-denied-page="/error403.jsp">  
        <sec:intercept-url pattern="/error.jsp" access="ROLE_SERVICE"/>  
        <sec:intercept-url pattern="/**" access="ROLE_ADMIN"/> 
      	<sec:form-login login-page="/login.jsp" authentication-failure-url="/login.jsp?error=true"
      		default-target-url="/error.jsp"/>
    </sec:http>  
      
    <sec:authentication-manager>  
        <sec:authentication-provider>  
            <sec:user-service >  
                <sec:user name="admin" password="admin" authorities="ROLE_ADMIN"/>  
            </sec:user-service>  
        </sec:authentication-provider>  
    </sec:authentication-manager>
    <!-- 国际化配置 -->  
     <bean id="messageSource"
     	class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
     	<property name="basename" value="classpath:messages_zh_CN"  ></property>	
     </bean> 
     <!-- 用户信息缓存配置 -->
    <!--  <bean id="userCache" class="org.springframework.security.core.userdetails.cache.EhCacheBasedUserCache">
     	<property name="cache" ref="userEhCache"></property>
     </bean>
     <bean id="userEhCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">  
	    <property name="cacheName" value="userCache" />  
	    <property name="cacheManager" ref="cacheManager" />  
	</bean>  
	  
	<bean id="cacheManager"  
	    class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" /> -->
</beans>  