<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.core.dao.UserRoleMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.core.pojo.UserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="comp_id" jdbcType="INTEGER" property="compId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, role_id, comp_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.core.pojo.UserRole">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user_role (user_id, role_id, comp_id
      )
    values (#{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{compId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.core.pojo.UserRole">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_user_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="compId != null">
        comp_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        #{compId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.core.pojo.UserRole">
    update t_user_role
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="compId != null">
        comp_id = #{compId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.core.pojo.UserRole">
    update t_user_role
    set user_id = #{userId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      comp_id = #{compId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="com.dp.plat.core.pojo.UserRole" resultMap="BaseResultMap">
    select * from t_user_role
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null and '' != id">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="userId != null and '' != userId">
				user_id = #{userId, jdbcType=INTEGER} AND
			</if>
			<if test="roleId != null and '' != roleId">
				role_id = #{roleId, jdbcType=INTEGER} AND
			</if>
			<if test="compId != null and '' != compId">
				comp_id = #{compId, jdbcType=INTEGER} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.core.pojo.UserRole" resultType="long">
    select count(1) from t_user_role
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null and '' != id">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="userId != null and '' != userId">
				user_id = #{userId, jdbcType=INTEGER} AND
			</if>
			<if test="roleId != null and '' != roleId">
				role_id = #{roleId, jdbcType=INTEGER} AND
			</if>
			<if test="compId != null and '' != compId">
				comp_id = #{compId, jdbcType=INTEGER} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultMap="BaseResultMap">
    select * from t_user_role
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.userId != null and '' != model.userId">
					user_id = #{model.userId, jdbcType=INTEGER} AND
				</if>
				<if test="model.roleId != null and '' != model.roleId">
					role_id = #{model.roleId, jdbcType=INTEGER} AND
				</if>
				<if test="model.compId != null and '' != model.compId">
					comp_id = #{model.compId, jdbcType=INTEGER} AND
				</if>
			</if>
		</trim>
	</where>
	<if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by id desc
    </if>
    <if test="start != null">
        limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from t_user_role
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.userId != null and '' != model.userId">
					user_id = #{model.userId, jdbcType=INTEGER} AND
				</if>
				<if test="model.roleId != null and '' != model.roleId">
					role_id = #{model.roleId, jdbcType=INTEGER} AND
				</if>
				<if test="model.compId != null and '' != model.compId">
					comp_id = #{model.compId, jdbcType=INTEGER} AND
				</if>
			</if>
		</trim>
	</where>
  </select>
  
  
  <!-- 自定义 -->
  <select id="queryUserRoleByName" parameterType="java.lang.String" resultType="java.lang.String">
  	<![CDATA[
  		SELECT t3.`role_name` FROM t_user_role t1
		 JOIN t_user t2 ON t1.`user_id` = t2.`user_id`
		 JOIN t_role t3 ON t1.`role_id` = t3.`role_id`
		WHERE t2.`user_name` = #{username}
  	]]>
  </select>
  
  <select id="queryUserRoleByNameAndCompId" parameterType="map" resultType="java.lang.String">
    <![CDATA[
        SELECT t3.`role_name` FROM t_user_role t1
         JOIN t_user t2 ON t1.`user_id` = t2.`user_id`
         JOIN t_role t3 ON t1.`role_id` = t3.`role_id`
        WHERE t2.`user_name` = #{username}
    ]]>
    <if test="compId != null and compId != -1">
        and t1.comp_id = #{compId}
    </if>
  </select>
  
  <select id="queryPermissionByUsername" parameterType="java.lang.String" resultType="java.lang.String">
  	<![CDATA[
  		SELECT t5.`permission_name` FROM t_user_role t1
		 JOIN t_user t2 ON t1.`user_id` = t2.`user_id`
		 JOIN t_role t3 ON t1.`role_id` = t3.`role_id`
		 JOIN t_role_permission t4 ON t3.`role_id` = t4.`role_id`
		 JOIN t_permission t5 ON t4.`permission_id` = t5.`permission_id`
		WHERE t2.`user_name` = #{username}
  	]]>
  </select>
  
  <select id="queryPermissionByUsernameAndCompId" parameterType="map" resultType="java.lang.String">
    <![CDATA[
        SELECT t5.`permission_name` FROM t_user_role t1
         JOIN t_user t2 ON t1.`user_id` = t2.`user_id`
         JOIN t_role t3 ON t1.`role_id` = t3.`role_id`
         JOIN t_role_permission t4 ON t3.`role_id` = t4.`role_id`
         JOIN t_permission t5 ON t4.`permission_id` = t5.`permission_id`
        WHERE t2.`user_name` = #{username}
    ]]>
    <if test="compId != null and compId != -1">
        and t1.comp_id = #{compId}
    </if>
  </select>
  
  <select id="countUserRoleSelected" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
	SELECT 
	   count(1) 
	FROM (select 1
	  	FROM
	        t_user u 
	        LEFT JOIN t_user_info ui 
	            ON u.`user_id` = ui.`user_id` 
	        INNER JOIN t_user_role ur 
	            ON u.user_id = ur.user_id 
	               AND ui.`compID` = ur.`comp_id`
	    <where>
            <trim prefixOverrides="and| or" suffixOverrides="and| or">
		        <if test="model !=null and model.roleId != null">
		            ur.role_id = #{model.roleId}
		        </if>
		        <if test="model !=null and model.compId != null">
		            and ur.comp_id = #{model.compId}
		        </if>
		        <if test="model !=null and model.userName != null">
		            and u.user_name like CONCAT("%", #{model.userName}, "%")
		        </if>
		        <if test="fuzzySearch == true and fuzzy != ''">
		            and (
		                user_name like CONCAT("%", #{fuzzy}, "%")
		            )
		        </if>
	        </trim>
	    </where>
	    GROUP BY u.`user_id`, ur.`comp_id`) t
  </select>
  
  <resultMap id="UserRoleInfo" type="com.dp.plat.core.vo.UserRoleInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="comp_id" jdbcType="INTEGER" property="compId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="realName" jdbcType="VARCHAR" property="realName" />
    <result column="status" jdbcType="SMALLINT" property="status" />
  </resultMap>
  <select id="selectUserRoleSelected" parameterType="com.dp.plat.core.vo.PageParam" resultMap="UserRoleInfo">
  	SELECT
	    ur.id, ur.role_id, ur.user_id, ur.comp_id, u.user_name ,ui.`realName`,u.status
	FROM
	    t_user u 
	    LEFT JOIN t_user_info ui 
	        ON u.`user_id` = ui.`user_id` 
	    INNER JOIN t_user_role ur 
	        ON u.user_id = ur.user_id 
	           AND ui.`compID` = ur.`comp_id`
  	<where>
  		<trim prefixOverrides="and| or" suffixOverrides="and| or">
            <if test="model !=null and model.roleId != null">
                ur.role_id = #{model.roleId}
            </if>
            <if test="model !=null and model.compId != null">
                and ur.comp_id = #{model.compId}
            </if>
            <if test="model !=null and model.userName != null">
                and u.user_name like CONCAT("%", #{model.userName}, "%")
            </if>
            <if test="fuzzySearch == true and fuzzy != ''">
                and (
                    user_name like CONCAT("%", #{fuzzy}, "%")
                )
            </if>
        </trim>
  	</where>
  	GROUP BY u.`user_id`, ur.`comp_id`
  	<if test="orderBy != null">
   		order by ${orderBy}
    </if>
  	<if test="start != null">
   		limit #{start} ,#{pageSize}
   	</if>
  </select>
  
  <select id="countUserRoleUnselected" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
  	SELECT 
	    count(*) 
	FROM
	    t_user u 
	    LEFT JOIN t_user_info ui 
	        ON u.`user_id` = ui.`user_id` 
	<where>
	  <trim prefixOverrides="and| or" suffixOverrides="and| or">
		<if test="model !=null and model.roleId != null">
        	u.user_id NOT IN 
		    (SELECT 
		        user_id 
		    FROM
		        t_user_role ur 
		    WHERE ur.role_id = #{model.roleId} 
		    <if test="model.compId != null">
		        AND ur.comp_id = #{model.compId} 
		    </if>
		    )
      	</if>
      	<if test="model !=null and model.compId != null">
            and ui.compId = #{model.compId}
        </if>
      	<if test="model !=null and model.userName != null">
        	and u.user_name like CONCAT("%", #{model.userName}, "%")
      	</if>
      	<if test="fuzzySearch == true and fuzzy != ''">
      		and (
      			user_name like CONCAT("%", #{fuzzy}, "%")
      		)
      	</if>
      </trim>
	</where>  
  </select>
  <select id="selectUserRoleUnselected" parameterType="com.dp.plat.core.vo.PageParam" resultMap="UserRoleInfo">
  	SELECT 
	    u.user_id, u.user_name,ui.`realName` 
	FROM
	    t_user u 
	    LEFT JOIN t_user_info ui 
	        ON u.`user_id` = ui.`user_id` 
	<where>
	  <trim prefixOverrides="and| or" suffixOverrides="and| or">
		<if test="model !=null and model.roleId != null">
        	u.user_id NOT IN 
		    (SELECT 
		        user_id 
		    FROM
		        t_user_role ur 
		    WHERE ur.role_id = #{model.roleId}
		    <if test="model.compId != null">
                AND ur.comp_id = #{model.compId} 
            </if> )
      	</if>
      	<if test="model !=null and model.userName != null">
        	and u.user_name like CONCAT("%", #{model.userName}, "%")
      	</if>
      	<if test="fuzzySearch == true and fuzzy != ''">
      		and (
      			user_name like CONCAT("%", #{fuzzy}, "%")
      		)
      	</if>
   	  </trim>
	</where>  
	<if test="orderBy != null">
   		order by ${orderBy}
    </if>
  	<if test="start != null">
   		limit #{start} ,#{pageSize}
   	</if>
  </select>
  
  <insert id="batchInsertUserRole" parameterType="list">
    insert into t_user_role 
    values
    <foreach collection="list" index="index" item="item" separator=",">  
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        #{item.id,jdbcType=INTEGER}, #{item.userId,jdbcType=INTEGER}, #{item.roleId,jdbcType=INTEGER}, #{item.compId,jdbcType=INTEGER}
        </trim>
    </foreach>
  </insert>
  
  <delete id="batchDeleteUserRole" parameterType="list">
    delete from t_user_role where id in 
    <trim prefix="(" suffix=")" suffixOverrides=",">
		<foreach collection="list" index="index" item="item" separator=",">  
	        #{item,jdbcType=INTEGER}
    	</foreach>
    </trim>
  </delete>
  
  <select id="selectUserRolesByUserId" parameterType="int" resultType="string">
    SELECT GROUP_CONCAT(role_id) AS roleIds FROM t_user_role WHERE user_id = #{userId};
  </select>
  
  <select id="selectUserRolesByUserIdAndCompId" parameterType="com.dp.plat.core.pojo.UserRole" resultType="string">
    SELECT GROUP_CONCAT(role_id) AS roleIds FROM t_user_role WHERE user_id = #{userId} and comp_id = #{compId};
  </select>
  
  <delete id="batchDeleteUserRoleByUserRole" parameterType="list">
    delete from t_user_role where
    <trim prefix="(" suffix=")" suffixOverrides=" or ">
        <foreach collection="list" index="index" item="item" separator=" or ">  
            (user_id = #{item.userId} and role_id = #{item.roleId} and comp_id = #{item.compId})
        </foreach>
    </trim>
  </delete>
</mapper>