<?xml version="1.0" encoding="UTF-8"?>
<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    
	<import resource="applicationContext-service.xml" />
	<import resource="applicationContext-context.xml"/>
	<bean id="sysLoginParam" class="com.dp.plat.param.LoginParam"
		scope="prototype" />
		
	<!-- 工作流管理 -->
	<bean id="WorkFlowAction" class="com.dp.plat.action.WorkFlowAction" scope="prototype">
		<property name="workFlowService" ref="workFlowService"></property>
		<property name="displayParam">
			<bean class="com.dp.plat.param.DisplayParam" scope="prototype">
				<property name="sort">
					<value>d.procType</value>
				</property>
				<property name="colmap">
					<map>
						<entry key="1">
							<value>d.procType</value>
						</entry>
						<entry key="5">
							<value>d.username</value>
						</entry>
						<entry key="8">
							<value>T.CREATE_TIME_</value>
						</entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>
	
	<!-- 管理员登陆 -->
	<bean id="Login" class="com.dp.plat.action.LoginAction"
		scope="prototype">
		<property name="user" ref="sysLoginParam" />
		<property name="loginService" ref="loginServiceAgent" />
	</bean>
	<!-- 用户管理 -->
	<bean id="UserManageAction" class="com.dp.plat.action.UserManageAction" scope="prototype">
		<property name="userManageService" ref="userManageServiceAgent"></property>
		<property name="displayParam">
			<bean class="com.dp.plat.param.DisplayParam" scope="prototype" />
		</property>
	</bean>
	
	<!-- 角色管理 -->
	<bean id="RoleManageAction" class="com.dp.plat.action.RoleManageAction" scope="prototype">
		<property name="roleManageService" ref="roleManageServiceAgent"></property>
		<property name="displayParam">
			<bean class="com.dp.plat.param.DisplayParam" scope="prototype" />
		</property>
	</bean>
	
	<!-- 部门管理 -->
	<bean id="DepartmentManageAction" class="com.dp.plat.action.DepartmentManageAction" scope="prototype">
		<property name="departmentManageService" ref="departmentManageServiceAgent"></property>
		<property name="displayParam">
			<bean class="com.dp.plat.param.DisplayParam" scope="prototype" />
		</property>
	</bean>
	<!-- 修改密码 -->
	<bean id="PasswordGetinfo" class="com.dp.plat.action.PasswordGetinfo" scope="prototype">
		<property name="passwordService" ref="passwordServiceAgent"></property>
	</bean>	
	<!-- 操作日志管理Action bean -->
	<bean id="OperateLogAction" class="com.dp.plat.action.OperateLogAction"
		scope="prototype">
		<property name="logger" ref="opLogServiceAgent" />
		<property name="displayParam">
			<bean id="DisplayParam" class="com.dp.plat.param.DisplayParam"
				scope="prototype">
				<property name="sort">
					<value>time</value>
				</property>
				<property name="colmap">
					<map>
						<entry key="1">
							<value>user_name</value>
						</entry>
						<entry key="2">
							<value>ip</value>
						</entry>
						<entry key="3">
							<value>time</value>
						</entry>
						<entry key="4">
							<value>info</value>
						</entry>
					</map>
				</property>
			</bean>
		</property>
	</bean>
	<!-- 工作台 -->
	<bean id="WorkSpaceAction" class="com.dp.plat.action.WorkSpaceAction" scope="prototype">
		<property name="workspaceService" ref="workspaceServiceAgent"></property>
		<property name="departmentManageService" ref="departmentManageServiceAgent"></property>
		<property name="displayParam">
			<bean class="com.dp.plat.param.DisplayParam" scope="prototype"/>
		</property>
		<property name="notifyDisplayParam">
			<bean class="com.dp.plat.param.DisplayParam" scope="prototype"/>
		</property>
	</bean>

	

	<!-- 项目闭环 -->
	<bean id="PmClosedLoopAction" class="com.dp.plat.action.PmClosedLoopAction" scope="prototype">
		<property name="pmClosedLoopService" ref="pmClosedLoopServiceAgent"></property>
		<property name="projectService" ref="projectServiceAgent"></property>
		<property name="pmClosedLoopQuesnaireService" ref="pmClosedLoopQuesnaireServiceAgent"></property>
		<property name="userManageService" ref="userManageServiceAgent"></property>
		<property name="basicDataService" ref="basicDataServiceAgent"></property>
		<property name="displayParam">
			<bean class="com.dp.plat.param.DisplayParam" scope="prototype" />
		</property>
	</bean>
	
	<!-- 测评试卷维护 -->
	<bean id="PmClosedLoopQuesnaireAction" class="com.dp.plat.action.PmClosedLoopQuesnaireAction" scope="prototype">
		<property name="pmClosedLoopQuesnaireService" ref="pmClosedLoopQuesnaireServiceAgent"></property>
		<property name="displayParam">
			<bean class="com.dp.plat.param.DisplayParam" scope="prototype" />
		</property>
		<property name="basicDataService" ref="basicDataServiceAgent"></property>
	</bean>
	
	<!-- 项目管理 -->

	<bean id="ProjectAction" class="com.dp.plat.action.ProjectAction" scope="prototype">
		<property name="projectService" ref="projectServiceAgent"></property>
		<property name="userManageService" ref="userManageServiceAgent"></property>
		<property name="basicDataService" ref="basicDataServiceAgent"></property>
		<property name="projectPlanService" ref="projectPlanServiceAgent"></property>
		<property name="sendMailService" ref="sendMailServiceAgent"></property>
	</bean>
	<!-- 基础数据管理 -->
	<bean id="BasicDataManageAction" class="com.dp.plat.action.BasicDataManageAction" scope="prototype">
		<property name="basicDataService" ref="basicDataServiceAgent"></property>
	</bean>
	<!-- 闭环数据统计  -->
	<bean id="DataAnalysisAction" class="com.dp.plat.action.DataAnalysisAction" scope="prototype">
		<property name="basicDataService" ref="basicDataServiceAgent"></property>
		<property name="dataAnalysisService" ref="dataAnalysisServiceAgent"></property>
		<property name="displayParam">
			<bean class="com.dp.plat.param.DisplayParam" scope="prototype"/>
		</property>
	</bean>
	<bean id="ReportAction" class="com.dp.plat.action.ReportAction" scope="prototype">
		<property name="basicDataService" ref="basicDataServiceAgent"></property>
		<property name="departmentManageService" ref="departmentManageServiceAgent"></property>
		<property name="reportService" ref="reportServiceAgent"></property>
	</bean>
	<!-- 回访流程管理 -->
	<bean id="CallBackAction" class="com.dp.plat.action.CallBackAction" scope="prototype">
		<property name="basicDataService" ref="basicDataServiceAgent"></property>
		<property name="projectService" ref="projectServiceAgent"></property>
		<property name="pmClosedLoopQuesnaireService" ref="pmClosedLoopQuesnaireServiceAgent"></property>
		<property name="callBackService" ref="callBackServiceAgent"></property>
	</bean>
	<!-- 售前测试流程 -->
	<bean id="PresalesAction" class="com.dp.plat.action.PresalesAction" scope="prototype">
		<property name="basicDataService" ref="basicDataServiceAgent"></property>
		<property name="pmClosedLoopQuesnaireService" ref="pmClosedLoopQuesnaireServiceAgent"></property>
		<property name="presalesService" ref="presalesServiceAgent"></property>
		<property name="callBackService" ref="callBackServiceAgent"></property>
		<property name="pmClosedLoopService" ref="pmClosedLoopServiceAgent"></property>
		<property name="departmentManageService" ref="departmentManageServiceAgent"></property>
	</bean>
	<!-- 技术公告管理 -->
	<bean id="ProbManageAction" class="com.dp.plat.prob.action.ProbManageAction" scope="prototype">
		<property name="basicDataService" ref="basicDataServiceAgent"></property>
		<property name="probManageService" ref="probManageServiceAgent"></property>
		<property name="departmentManageService" ref="departmentManageServiceAgent"></property>
	</bean>
	<!-- 文件上传 -->
	<bean id="UploadAction" class="com.dp.plat.action.UploadAction" scope="prototype">
		<property name="basicDataService" ref="basicDataServiceAgent"></property>
	</bean>
	<!-- 项目转包管理 -->
    <bean id="SubcontractAction" class="com.dp.plat.subcontract.action.SubcontractAction" scope="prototype">
        <property name="basicDataService" ref="basicDataServiceAgent"></property>
        <property name="subcontractService" ref="subcontractServiceAgent"></property>
        <property name="departmentManageService" ref="departmentManageServiceAgent"></property>
    </bean>
    
    <!-- 合格证查询-->
    <bean id="Certificate" class="com.dp.plat.plus.certificate.action.CertificateAction" scope="prototype">
        <property name="certificateService" ref="certificateServiceAgent"></property>
    </bean>
    
    <!-- 项目维护管理 -->
    <bean id="MaintenanceAction" class="com.dp.plat.action.MaintenanceAction" scope="prototype">
        <property name="basicDataService" ref="basicDataServiceAgent"></property>
        <property name="projectService" ref="projectServiceAgent"></property>
        <property name="departmentManageService" ref="departmentManageServiceAgent"></property>
    </bean>
    
    <!-- 项目督查管理 -->
    <bean id="SupervisionAction" class="com.dp.plat.supervision.action.SupervisionAction" scope="prototype">
        <property name="basicDataService" ref="basicDataServiceAgent"></property>
        <property name="projectService" ref="projectServiceAgent"></property>
        <property name="departmentManageService" ref="departmentManageServiceAgent"></property>
        <property name="userManageService" ref="userManageServiceAgent"></property>
    </bean>
    
    <!-- 项目维保回访管理 -->
    <bean id="WarrantyCallbackAction" class="com.dp.plat.warrantyCallback.action.WarrantyCallbackAction" scope="prototype">
        <property name="warrantyCallbackService" ref="warrantyCallbackServiceAgent"></property>
        <property name="basicDataService" ref="basicDataServiceAgent"></property>
        <property name="projectService" ref="projectServiceAgent"></property>
        <property name="departmentManageService" ref="departmentManageServiceAgent"></property>
        <property name="userManageService" ref="userManageServiceAgent"></property>
    </bean>
</beans>