<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 5.13版本全局事件监听器实现方式 -->
	<!-- 可以再这里指定unifyTaskSenders，也可以通过系统参数获取进行指定，见getUnifyTaskSenderInstancesConfig -->
	<!-- <property name="unifyTaskSenders">
   		<list>
   			<value type="java.lang.Class">com.dp.plat.activiti.unifytask.sender.UnifyTask2SeeyonSender</value>
   		</list>
   	</property> -->
	<!-- <bean id="unifyTaskListener" class="com.dp.plat.activiti.unifytask.listener.UnifyTaskListener">
	</bean> -->
	
	<!-- <bean id="unifyTaskActivitiEventListener" class="com.dp.plat.activiti.unifytask.listener.UnifyTaskPushListener" >
    	<property name="unifyTaskSenders">
    		<list>
    			<value type="java.lang.Class">com.dp.plat.activiti.unifytask.sender.UnifyTask2SeeyonSender</value>
    		</list>
    	</property>
    </bean> -->
	
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="dataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="databaseSchema" value="ACT" />
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="true" />
		<property name="enableDatabaseEventLogging" value="true" />
		<property name="customFormTypes">
			<list>
				<bean class="org.activiti.explorer.form.UserFormType" />
				<bean class="org.activiti.explorer.form.ProcessDefinitionFormType" />
				<bean class="org.activiti.explorer.form.MonthFormType" />
			</list>
		</property>
		 <!-- 生成流程图的字体 -->
        <property name="activityFontName" value="${diagram.activityFontName}"/>
        <property name="labelFontName" value="${diagram.labelFontName}"/>
        <property name="annotationFontName" value="${diagram.annotationFontName}"/>
        <property name="processDiagramGenerator" ref="customerProcessDiagramGenerator"/>
        
        <!-- 5.22版本全局事件监听器实现方式 -->
       <property name="eventListeners">
	      <list>
	         <bean id="unifyTaskPushListener" class="com.dp.plat.activiti.unifytask.listener.UnifyTaskPushListener" lazy-init="true">
	         	<!-- <property name="unifyTaskSenders">
	         		<list>
	         			<value type="java.lang.Class">com.dp.plat.activiti.unifytask.sender.UnifyTask2SeeyonSender</value>
	         		</list>
	         	</property> -->
	         </bean>
	      </list>
	    </property>
	    
	    <!-- 5.13版本全局事件监听器实现方式 -->
		<!-- 
			implementationType: 实现方式，有以下参数
				class: 完整类路径
				因为$,#会被解析，所以后台拼接为#{taskListener}
				delegateExpression: taskListener
				expression: taskListener.notify(delegateTask)
			events: 需要触发的事件
				TaskListener支持:create/assignment/complete/delete
				自定义事件，覆盖Activiti类实现自定义的挂起，激活事件：ENTITY_ACTIVATED/ENTITY_SUSPENDED
		-->
	    <!-- <property name="customDefaultBpmnParseHandlers">
			<list>
				<bean class="com.dp.plat.activiti.unifytask.handler.UnifyTaskBPMNParserHandler" >
					<property name="implementationType" value="delegateExpression"></property>
					<property name="implementation" value="unifyTaskListener"></property>
					<property name="events">
						<list>
							<value>create</value>
							<value>assignment</value>
							<value>complete</value>
							<value>delete</value>
							<value>ENTITY_ACTIVATED</value>
							<value>ENTITY_SUSPENDED</value>
						</list>
					</property>
				</bean>
			</list>
		</property> -->
	</bean>
	
	<bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper" />

	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>

    <bean id="customerProcessDiagramGenerator" class="com.dp.plat.activiti.service.activiti.CustomProcessDiagramGenerator"/>
    
	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
	<bean id="identityService" factory-bean="processEngine" factory-method="getIdentityService" />
    <bean id="formService" factory-bean="processEngine" factory-method="getFormService" />

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 引入配置文件 -->
	<context:property-placeholder ignore-unresolvable="true" local-override="true" location="classpath:engine.properties" />

	<util:properties id="APP_PROPERTIES" location="classpath:engine.properties" local-override="true" />
</beans>