<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:aop="http://www.springframework.org/schema/aop"
   xmlns:tx="http://www.springframework.org/schema/tx"
   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    
    <aop:config proxy-target-class="true"></aop:config>
    <aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>
    
	<import resource="applicationContext-service.xml" />
	<!-- <bean id="dataSourcePMS" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${main.database.driverClassName}"></property>
		<property name="url" value="${main.database.url}"></property>
		<property name="username" value="${main.database.username}"></property>
		<property name="password" value="${main.database.password}"></property>
		池启动时创建的连接数量
		<property name="initialSize" value="${main.database.initialSize}"></property>
		同一时间可以从池分配的最多连接数量。设置为0时表示无限制
		<property name="maxActive" value="${main.database.maxActive}"></property>
		池里不会被释放的最多空闲连接数量。设置为0时表示无限制
		<property name="maxIdle" value="${main.database.maxIdle}"></property>
		在不新建连接的条件下，池中保持空闲的最少连接数
		<property name="minIdle" value="${main.database.minIdle}"></property>
		设置在自动回收超时连接的时候打印连接的超时错误   
		<property name="logAbandoned" value="${main.database.logAbandoned}"/>  
		设置自动回收超时连接  
		<property name="removeAbandoned"  value="${main.database.removeAbandoned}"/> 
		自动回收超时时间(以秒数为单位)  
		<property name="removeAbandonedTimeout" value="${main.database.removeAbandonedTimeout}"/> 
		超时等待时间以毫秒为单位   
		<property name="maxWait" value="${main.database.maxWait}"/> 
		<property name="testOnBorrow" value="true"></property>
		<property name="validationQuery" value="select 1"></property>
     </bean> -->
     <!-- 配置数据源 -->
	<bean id="dataSourcePMS" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="${main.database.driverClassName}"></property>
		<property name="url" value="${main.database.url}"></property>
		<property name="username" value="${main.database.username}"></property>
		<property name="password" value="${main.database.password}"></property>
		<!-- 池启动时创建的连接数量 -->
		<property name="initialSize" value="${jdbc.initialSize}"></property>
		<!-- 同一时间可以从池分配的最多连接数量。设置为0时表示无限制 -->
		<property name="maxActive" value="${jdbc.maxActive}"></property>
		<!-- 池里不会被释放的最多空闲连接数量。设置为0时表示无限制 -->
		<property name="maxIdle" value="${jdbc.maxIdle}"></property>
		<!-- 在不新建连接的条件下，池中保持空闲的最少连接数 -->
		<property name="minIdle" value="${jdbc.minIdle}"></property>
		<!-- 设置在自动回收超时连接的时候打印连接的超时错误  -->  
		<property name="logAbandoned" value="${jdbc.logAbandoned}"/>  
		<!-- 设置自动回收超时连接 -->  
		<property name="removeAbandoned" value="${jdbc.removeAbandoned}"/> 
		<!-- 自动回收超时时间(以秒数为单位) -->  
		<property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}"/> 
		<!-- 超时等待时间以毫秒为单位  -->  
		<property name="maxWait" value="${jdbc.maxWait}"/> 
		<!-- 检查连接池中取出的链接是否有效 .每次取出是检查连接会影响性能-->
		<property name="testOnBorrow" value="${jdbc.testOnBorrowFalse}"></property>
		<property name="validationQuery" value="${jdbc.validationQuery}"></property>
		<!-- 指明连接是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除. -->
		<property name="testWhileIdle" value="${jdbc.testWhileIdle}"></property>
	  	<!-- #运行判断连接超时任务的时间间隔，单位为毫秒，默认为-1，即不执行任务。 -->
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}" />
	  	<!-- #连接的超时时间，默认为半小时。 -->
	  	<property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}" />
	  	<!-- #在每次空闲连接回收器线程(如果有)运行时检查的连接数量。 -->
        <property name="numTestsPerEvictionRun" value="${jdbc.numTestsPerEvictionRun}" />
        <property name="filters" value="stat" />
	</bean>
	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:pms-sql-map-config.xml</value>
		</property>
		<property name="dataSource" ref="dataSourcePMS"></property>
	</bean>
	<bean id="sqlMapClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient">
			<ref bean="sqlMapClient" />
		</property>
	</bean>
	
	<!-- SAP数据源 -->
	<bean id="dataSourceSAP"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${sap.database.driverClassName}" />
		<property name="url" value="${sap.database.url}" />
		<property name="username" value="${sap.database.username}" />
		<property name="password" value="${sap.database.password}"/>
	</bean>
	<bean id="sqlMapClientSAP" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:pms-sql-map-config.xml</value>
		</property>
		<property name="dataSource" ref="dataSourceSAP"></property>
	</bean>
	<bean id="sqlMapClientTemplateSAP" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient">
			<ref bean="sqlMapClientSAP" />
		</property>
	</bean>
	
	<!-- SMS数据源 -->
	<bean id="dataSourceSMS"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${sms.database.driverClassName}" />
		<property name="url" value="${sms.database.url}" />
		<property name="username" value="${sms.database.username}" />
		<property name="password" value="${sms.database.password}"/>
	</bean>
	
	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->
	<!-- 事务管理 -->
	<!-- <bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean> -->
	
	<!-- 事务代理类 -->
	<bean id="transactionBaseService" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager"/>
		</property>
		<property name="transactionAttributes">
			<props>
				<!-- <prop key="query*" >PROPAGATION_REQUIRED</prop> -->
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="delete*">PROPAGATION_REQUIRED</prop>
				<prop key="parse*">PROPAGATION_REQUIRED</prop>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="save*">PROPAGATION_REQUIRED</prop>
				<!-- <prop key="find*">PROPAGATION_REQUIRED</prop> -->
				<prop key="do*">PROPAGATION_REQUIRED</prop>
				<prop key="keep*">PROPAGATION_REQUIRED</prop>
				<prop key="start*">PROPAGATION_REQUIRED</prop>
				<prop key="submit*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>
	<!-- 拦截service -->
	<bean id="preformanceThresholdInterceptor" class="com.dp.plat.interceptor.PreformanceThresholdInterceptor">
		<property name="opLogService" ref="opLogServiceAgent" />
	</bean>
	
	<bean id="performanceThresholdProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="optimize" value="true" />
		<!-- <property name="proxyTargetClass" value="true"/> -->
		<property name="beanNames">
			<list>
				<value>*Service</value>
			</list>
		</property>
		<property name="interceptorNames">
			<value>preformanceThresholdInterceptor</value>
		</property>
	</bean>
	
	<!-- 拦截固定样式 的method-->
	<!--
		<bean id="logAdvisor"
		class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
		<property name="preformanceThresholdInterceptor"> <bean
		class="com.dp.plat.action.PreformanceThresholdInterceptor"/>
		</property> <property name="patterns"> <list>
		<value>.*delete.*</value> </list> </property> </bean>
	-->

	<bean id="springContext" class="com.dp.plat.context.SpringContext"></bean>
	<import resource="applicationContext-common.xml" />
	<import resource="applicationContext-context.xml" />
	<import resource="applicationContext-action.xml" />
	<!-- 引入activiti配置 -->
	<import resource="activiti-context.xml"/>
	<bean id="emailer" class="com.dp.plat.util.EmailBean">  
    </bean>  
    <bean id="blackListListener" class="com.dp.plat.util.BlackListNotifier" /> 
   
    
    
    <!-- 记录日志 -->
<!--     <bean id="xmlHandler" class="com.dp.plat.aop.XMLAdvice" />
    <aop:config>  
        <aop:aspect id="aspect" ref="xmlHandler">  
            <aop:pointcut id="pointUserMgr" expression="execution(* com.dp.plat.service.ProjectService.queryProjectById(..))"/>  
            <aop:before method="doBefore"  pointcut-ref="pointUserMgr"/>  
            <aop:after method="doAfter"  pointcut-ref="pointUserMgr"/>  
            <aop:around method="doAround"  pointcut-ref="pointUserMgr"/>  
            <aop:after-returning method="doReturn"  pointcut-ref="pointUserMgr"/>  
            <aop:after-throwing method="doThrowing" throwing="ex" pointcut-ref="pointUserMgr"/>  
        </aop:aspect>  
    </aop:config> -->
</beans>