<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                            http://www.springframework.org/schema/beans/spring-beans.xsd  
                            http://www.springframework.org/schema/aop
 							http://www.springframework.org/schema/aop/spring-aop.xsd  
                            http://www.springframework.org/schema/context  
                            http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 配置数据源 -->
	<!-- 引入配置文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc.properties</value>
				<value>classpath:spring-cas.properties</value>
				<!-- <value>classpath:spring-redis.properties</value> -->
				<value>classpath:engine.properties</value>
			</list>
		</property>
	</bean>

	<!-- 配置数据源 -->
	<bean id="dataSourceLocal" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<!-- 池启动时创建的连接数量 -->
		<property name="initialSize" value="${jdbc.initialSize}"></property>
		<!-- 同一时间可以从池分配的最多连接数量。设置为0时表示无限制 -->
		<property name="maxActive" value="${jdbc.maxActive}"></property>
		<!-- 池里不会被释放的最多空闲连接数量。设置为0时表示无限制 -->
		<property name="maxIdle" value="${jdbc.maxIdle}"></property>
		<!-- 在不新建连接的条件下，池中保持空闲的最少连接数 -->
		<property name="minIdle" value="${jdbc.minIdle}"></property>
		<!-- 设置在自动回收超时连接的时候打印连接的超时错误  -->  
		<property name="logAbandoned" value="${jdbc.logAbandoned}"/>  
		<!-- 设置自动回收超时连接 -->  
		<property name="removeAbandoned" value="${jdbc.removeAbandoned}"/> 
		<!-- 自动回收超时时间(以秒数为单位) -->  
		<property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}"/> 
		<!-- 超时等待时间以毫秒为单位  -->  
		<property name="maxWait" value="${jdbc.maxWait}"/> 
		<!-- 检查连接池中取出的链接是否有效 .每次取出是检查连接会影响性能-->
		<property name="testOnBorrow" value="${jdbc.testOnBorrowFalse}"></property>
		<property name="validationQuery" value="${jdbc.validationQuery}"></property>
		<!-- 指明连接是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除. -->
		<property name="testWhileIdle" value="${jdbc.testWhileIdle}"></property>
	  	<!-- #运行判断连接超时任务的时间间隔，单位为毫秒，默认为-1，即不执行任务。 -->
		<property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillis}" />
	  	<!-- #连接的超时时间，默认为半小时。 -->
	  	<property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillis}" />
	  	<!-- #在每次空闲连接回收器线程(如果有)运行时检查的连接数量。 -->
        <property name="numTestsPerEvictionRun" value="${jdbc.numTestsPerEvictionRun}" />
        <property name="filters" value="stat" />
	</bean>
	
	<bean id="dataSourceEHR" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${ehr.driver}"></property>
        <property name="url" value="${ehr.url}" />
        <property name="username" value="${ehr.username}" />
        <property name="password" value="${ehr.password}" />
        <!-- 池启动时创建的连接数量 -->
        <property name="initialSize" value="${jdbc.initialSizeMini}"></property>
        <!-- 同一时间可以从池分配的最多连接数量。设置为0时表示无限制 -->
        <property name="maxActive" value="${jdbc.maxActiveMini}"></property>
        <!-- <property name="maxTotal" value="${jdbc.maxActiveMini}"></property> -->
        <!-- 池里不会被释放的最多空闲连接数量。设置为0时表示无限制 -->
        <property name="maxIdle" value="${jdbc.maxIdleMini}"></property>
        <!-- 在不新建连接的条件下，池中保持空闲的最少连接数 -->
        <property name="minIdle" value="${jdbc.minIdleMini}"></property>
        <!-- 设置在自动回收超时连接的时候打印连接的超时错误  -->
        <property name="logAbandoned" value="${jdbc.logAbandoned}"/>  
        <!-- 设置自动回收超时连接 -->  
        <property name="removeAbandoned" value="${jdbc.removeAbandoned}"/>
        <!-- <property name="removeAbandonedOnMaintenance" value="${jdbc.removeAbandoned}"/> -->
        <!-- 自动回收超时时间(以秒数为单位) -->  
        <property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}"/> 
        <!-- 超时等待时间以毫秒为单位  -->  
        <property name="maxWait" value="${jdbc.maxWait}"/>
        <!-- <property name="maxWaitMillis" value="${jdbc.maxWait}"/>  -->
        <!-- 检查连接池中取出的链接是否有效 -->
        <property name="testOnBorrow" value="${jdbc.testOnBorrow}"></property>
        <property name="validationQuery" value="${jdbc.validationQuery}"></property>
        <!-- 单位：秒，检测连接是否有效的超时时间 -->
        <property name="validationQueryTimeout" value="${jdbc.validationQueryTimeout}"></property>
        <!-- #运行判断连接超时任务的时间间隔，单位为毫秒，默认为-1，即不执行任务。 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillisMini}" />
        <!-- #连接的超时时间，默认为半小时。 -->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillisMini}" />
        <!-- #在每次空闲连接回收器线程(如果有)运行时检查的连接数量。 -->
        <property name="numTestsPerEvictionRun" value="${jdbc.numTestsPerEvictionRunMini}" />
    </bean>
	
	<bean id="dataSourceD365" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="${d365.database.driverClassName}"></property>
        <property name="url" value="${d365.database.url}" />
        <property name="username" value="${d365.database.username}" />
        <property name="password" value="${d365.database.password}" />
        <!-- 池启动时创建的连接数量 -->
        <property name="initialSize" value="${jdbc.initialSizeMini}"></property>
        <!-- 同一时间可以从池分配的最多连接数量。设置为0时表示无限制 -->
        <property name="maxActive" value="${jdbc.maxActiveMini}"></property>
        <!-- <property name="maxTotal" value="${jdbc.maxActiveMini}"></property> -->
        <!-- 池里不会被释放的最多空闲连接数量。设置为0时表示无限制 -->
        <property name="maxIdle" value="${jdbc.maxIdleMini}"></property>
        <!-- 在不新建连接的条件下，池中保持空闲的最少连接数 -->
        <property name="minIdle" value="${jdbc.minIdleMini}"></property>
        <!-- 设置在自动回收超时连接的时候打印连接的超时错误  -->
        <property name="logAbandoned" value="${jdbc.logAbandoned}"/>  
        <!-- 设置自动回收超时连接 -->  
        <property name="removeAbandoned" value="${jdbc.removeAbandoned}"/>
        <!-- <property name="removeAbandonedOnMaintenance" value="${jdbc.removeAbandoned}"/> -->
        <!-- 自动回收超时时间(以秒数为单位) -->  
        <property name="removeAbandonedTimeout" value="${jdbc.removeAbandonedTimeout}"/> 
        <!-- 超时等待时间以毫秒为单位  -->  
        <property name="maxWait" value="${jdbc.maxWait}"/>
        <!-- <property name="maxWaitMillis" value="${jdbc.maxWait}"/>  -->
        <!-- 检查连接池中取出的链接是否有效 -->
        <property name="testOnBorrow" value="${jdbc.testOnBorrow}"></property>
        <property name="validationQuery" value="${jdbc.validationQuery}"></property>
        <!-- 单位：秒，检测连接是否有效的超时时间 -->
        <property name="validationQueryTimeout" value="${jdbc.validationQueryTimeout}"></property>
        <!-- #运行判断连接超时任务的时间间隔，单位为毫秒，默认为-1，即不执行任务。 -->
        <property name="timeBetweenEvictionRunsMillis" value="${jdbc.timeBetweenEvictionRunsMillisMini}" />
        <!-- #连接的超时时间，默认为半小时。 -->
        <property name="minEvictableIdleTimeMillis" value="${jdbc.minEvictableIdleTimeMillisMini}" />
        <!-- #在每次空闲连接回收器线程(如果有)运行时检查的连接数量。 -->
        <property name="numTestsPerEvictionRun" value="${jdbc.numTestsPerEvictionRunMini}" />
    </bean>
    
    <!-- 配置数据源路由 -->
    <bean id="dataSource" class="com.dp.plat.core.config.RoutingDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="${jdbc.key1}" value-ref="dataSourceLocal"/>
                <entry key="${jdbc.key2}" value-ref="dataSourcePMS"/>
                <entry key="${jdbc.key3}" value-ref="dataSourceSMS"/>
                <entry key="${jdbc.key4}" value-ref="dataSourceEHR"/>
                <entry key="${jdbc.key5}" value-ref="dataSourceD365"/>
                
                <!-- 
                <entry key="${jdbc.key4}" value-ref="dataSourcePMS"/>
                <entry key="${jdbc.key5}" value-ref="dataSourceTMS"/>
                <entry key="${jdbc.key6}" value-ref="dataSourceSAP"/> 
                -->
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dataSourceLocal"/>
    </bean>
	
	<!-- 引入pms老系统的配置 -->
	<import resource="spring-pms.xml"/>
	
	<!-- 引入其他配置文件 mybatis 、shiro  等 -->
	<import resource="spring-mybatis.xml"/>
	<import resource="spring-shiro.xml"/>
	<!-- <import resource="spring-shiro-cas.xml"/> -->
	<!-- <import resource="spring-cxf.xml"/> -->
	
	<import resource="spring-activiti.xml"/>
	<!-- <import resource="spring-redis.xml"/> -->
	
	<import resource="quartz-job.xml"/>
</beans>