<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.pms.springmvc.dao.ProjectMemberMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.pms.springmvc.entity.ProjectMember">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="projectId" jdbcType="INTEGER" property="projectId" />
    <result column="projectType" jdbcType="VARCHAR" property="projectType" />
    <result column="memberRole" jdbcType="VARCHAR" property="memberRole" />
    <result column="memberCode" jdbcType="VARCHAR" property="memberCode" />
    <result column="memberName" jdbcType="VARCHAR" property="memberName" />
    <result column="phoneNum" jdbcType="VARCHAR" property="phoneNum" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="fromFlag" jdbcType="VARCHAR" property="fromFlag" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="effectiveTo" jdbcType="TIMESTAMP" property="effectiveTo" />
    <result column="effectiveFrom" jdbcType="TIMESTAMP" property="effectiveFrom" />
  </resultMap>
  <sql id="Base_Column_List">
    id, projectId, projectType, memberRole, memberCode, memberName, phoneNum, email, 
    fromFlag, createTime, createBy, updateTime, updateBy, effectiveTo, effectiveFrom
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pm_project_member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from pm_project_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.pms.springmvc.entity.ProjectMember">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_project_member (id, projectId, projectType, memberRole, 
      memberCode, memberName, phoneNum, 
      email, fromFlag, createTime, 
      createBy, updateTime, updateBy, 
      effectiveTo, effectiveFrom)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{projectType,jdbcType=VARCHAR}, #{memberRole,jdbcType=VARCHAR}, 
      #{memberCode,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, #{phoneNum,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{fromFlag,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{effectiveTo,jdbcType=TIMESTAMP}, #{effectiveFrom,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectMember">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pm_project_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="projectId != null">
        projectId,
      </if>
      <if test="projectType != null">
        projectType,
      </if>
      <if test="memberRole != null">
        memberRole,
      </if>
      <if test="memberCode != null">
        memberCode,
      </if>
      <if test="memberName != null">
        memberName,
      </if>
      <if test="phoneNum != null">
        phoneNum,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="fromFlag != null">
        fromFlag,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="updateBy != null">
        updateBy,
      </if>
      <if test="effectiveTo != null">
        effectiveTo,
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectType != null">
        #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="memberRole != null">
        #{memberRole,jdbcType=VARCHAR},
      </if>
      <if test="memberCode != null">
        #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="fromFlag != null">
        #{fromFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTo != null">
        #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveFrom != null">
        #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectMember">
    update pm_project_member
    <set>
      <if test="projectId != null">
        projectId = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="projectType != null">
        projectType = #{projectType,jdbcType=VARCHAR},
      </if>
      <if test="memberRole != null">
        memberRole = #{memberRole,jdbcType=VARCHAR},
      </if>
      <if test="memberCode != null">
        memberCode = #{memberCode,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null">
        memberName = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="phoneNum != null">
        phoneNum = #{phoneNum,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="fromFlag != null">
        fromFlag = #{fromFlag,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        updateBy = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="effectiveTo != null">
        effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      </if>
      <if test="effectiveFrom != null">
        effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.pms.springmvc.entity.ProjectMember">
    update pm_project_member
    set projectId = #{projectId,jdbcType=INTEGER},
      projectType = #{projectType,jdbcType=VARCHAR},
      memberRole = #{memberRole,jdbcType=VARCHAR},
      memberCode = #{memberCode,jdbcType=VARCHAR},
      memberName = #{memberName,jdbcType=VARCHAR},
      phoneNum = #{phoneNum,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      fromFlag = #{fromFlag,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createBy = #{createBy,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=VARCHAR},
      effectiveTo = #{effectiveTo,jdbcType=TIMESTAMP},
      effectiveFrom = #{effectiveFrom,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <sql id="sql_where">
    <where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="id != null">
				m.id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="projectId != null">
				m.projectId = #{projectId, jdbcType=INTEGER} AND
			</if>
			<if test="projectType != null and '' != projectType">
				m.projectType = #{projectType, jdbcType=VARCHAR} AND
			</if>
			<if test="memberRole != null and '' != memberRole">
				m.memberRole = #{memberRole, jdbcType=VARCHAR} AND
			</if>
			<if test="memberCode != null and '' != memberCode">
				m.memberCode = #{memberCode, jdbcType=VARCHAR} AND
			</if>
			<if test="memberName != null and '' != memberName">
				m.memberName = #{memberName, jdbcType=VARCHAR} AND
			</if>
			<if test="phoneNum != null and '' != phoneNum">
				m.phoneNum = #{phoneNum, jdbcType=VARCHAR} AND
			</if>
			<if test="email != null and '' != email">
				m.email = #{email, jdbcType=VARCHAR} AND
			</if>
			<if test="fromFlag != null and '' != fromFlag">
				m.fromFlag = #{fromFlag, jdbcType=VARCHAR} AND
			</if>
			<if test="createTime != null">
				m.createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				m.createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				m.updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				m.updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="effectiveTo != null">
				<![CDATA[ (m.effectiveTo is null or m.effectiveTo >= #{effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
			</if>
			<if test="effectiveFrom != null">
				<![CDATA[ m.effectiveFrom <= #{effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
			</if>
		</trim>
	</where>
  </sql>
  <sql id="sql_model_where">
    <where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="model != null ">
				<if test="model.id != null">
					m.id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectId != null">
					m.projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectType != null and '' != model.projectType">
					m.projectType = #{model.projectType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memberRole != null and '' != model.memberRole">
					m.memberRole = #{model.memberRole, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memberCode != null and '' != model.memberCode">
					m.memberCode = #{model.memberCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memberName != null and '' != model.memberName">
					m.memberName = #{model.memberName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.phoneNum != null and '' != model.phoneNum">
					m.phoneNum = #{model.phoneNum, jdbcType=VARCHAR} AND
				</if>
				<if test="model.email != null and '' != model.email">
					m.email = #{model.email, jdbcType=VARCHAR} AND
				</if>
				<if test="model.fromFlag != null and '' != model.fromFlag">
					m.fromFlag = #{model.fromFlag, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null">
					m.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					m.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					m.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					m.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.effectiveTo != null">
					<![CDATA[ (m.effectiveTo is null or m.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
				</if>
				<if test="model.effectiveFrom != null">
					<![CDATA[ m.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					m.projectType like CONCAT("%", #{fuzzy}, "%") or
					m.memberRole like CONCAT("%", #{fuzzy}, "%") or
					m.memberCode like CONCAT("%", #{fuzzy}, "%") or
					m.memberName like CONCAT("%", #{fuzzy}, "%") or
					m.phoneNum like CONCAT("%", #{fuzzy}, "%") or
					m.email like CONCAT("%", #{fuzzy}, "%") or
					m.fromFlag like CONCAT("%", #{fuzzy}, "%") or
					m.createBy like CONCAT("%", #{fuzzy}, "%") or
					m.updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </sql>
  <sql id="sql_pageable_limit">
    <if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by id desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </sql>
  <select id="selectBySelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectMember" resultMap="BaseResultMap">
    select * from pm_project_member as m
	<where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="id != null">
				m.id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="projectId != null">
				m.projectId = #{projectId, jdbcType=INTEGER} AND
			</if>
			<if test="projectType != null and '' != projectType">
				m.projectType = #{projectType, jdbcType=VARCHAR} AND
			</if>
			<if test="memberRole != null and '' != memberRole">
				m.memberRole = #{memberRole, jdbcType=VARCHAR} AND
			</if>
			<if test="memberCode != null and '' != memberCode">
				m.memberCode = #{memberCode, jdbcType=VARCHAR} AND
			</if>
			<if test="memberName != null and '' != memberName">
				m.memberName = #{memberName, jdbcType=VARCHAR} AND
			</if>
			<if test="phoneNum != null and '' != phoneNum">
				m.phoneNum = #{phoneNum, jdbcType=VARCHAR} AND
			</if>
			<if test="email != null and '' != email">
				m.email = #{email, jdbcType=VARCHAR} AND
			</if>
			<if test="fromFlag != null and '' != fromFlag">
				m.fromFlag = #{fromFlag, jdbcType=VARCHAR} AND
			</if>
			<if test="createTime != null">
				m.createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				m.createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				m.updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				m.updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="effectiveTo != null">
				<![CDATA[ (m.effectiveTo is null or m.effectiveTo >= #{effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
			</if>
			<if test="effectiveFrom != null">
				<![CDATA[ m.effectiveFrom <= #{effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
			</if>
		</trim>
	</where>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.pms.springmvc.entity.ProjectMember" resultType="long">
    select count(1) from pm_project_member as m
	<where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="id != null">
				m.id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="projectId != null">
				m.projectId = #{projectId, jdbcType=INTEGER} AND
			</if>
			<if test="projectType != null and '' != projectType">
				m.projectType = #{projectType, jdbcType=VARCHAR} AND
			</if>
			<if test="memberRole != null and '' != memberRole">
				m.memberRole = #{memberRole, jdbcType=VARCHAR} AND
			</if>
			<if test="memberCode != null and '' != memberCode">
				m.memberCode = #{memberCode, jdbcType=VARCHAR} AND
			</if>
			<if test="memberName != null and '' != memberName">
				m.memberName = #{memberName, jdbcType=VARCHAR} AND
			</if>
			<if test="phoneNum != null and '' != phoneNum">
				m.phoneNum = #{phoneNum, jdbcType=VARCHAR} AND
			</if>
			<if test="email != null and '' != email">
				m.email = #{email, jdbcType=VARCHAR} AND
			</if>
			<if test="fromFlag != null and '' != fromFlag">
				m.fromFlag = #{fromFlag, jdbcType=VARCHAR} AND
			</if>
			<if test="createTime != null">
				m.createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="createBy != null and '' != createBy">
				m.createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null">
				m.updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				m.updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="effectiveTo != null">
				<![CDATA[ (m.effectiveTo is null or m.effectiveTo >= #{effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
			</if>
			<if test="effectiveFrom != null">
				<![CDATA[ m.effectiveFrom <= #{effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
			</if>
		</trim>
	</where>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="com.dp.plat.pms.springmvc.vo.MemberVO">
    select m.*, bd.`basicDataName` as memberRoleName, ui.realName as createName  
    from pm_project_member as m
    	left join `fnd_basic_data` bd 
	        on bd.`dataTypeCode` = 'afProjectMember' 
	        and m.`memberRole` = bd.`basicDataId`
    	left join t_user u 
	        on u.`user_name` = m.`createBy` 
	    left join t_user_info ui 
	        on ui.`user_id` = u.`user_id` 
        <if test="model != null and model.orgId != null">
			and ui.compID = #{model.orgId, jdbcType=INTEGER}
		</if>
	<where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="model != null ">
				<if test="model.id != null">
					m.id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectId != null">
					m.projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectType != null and '' != model.projectType">
					m.projectType = #{model.projectType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memberRole != null and '' != model.memberRole">
					m.memberRole = #{model.memberRole, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memberCode != null and '' != model.memberCode">
					m.memberCode = #{model.memberCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memberName != null and '' != model.memberName">
					m.memberName = #{model.memberName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.phoneNum != null and '' != model.phoneNum">
					m.phoneNum = #{model.phoneNum, jdbcType=VARCHAR} AND
				</if>
				<if test="model.email != null and '' != model.email">
					m.email = #{model.email, jdbcType=VARCHAR} AND
				</if>
				<if test="model.fromFlag != null and '' != model.fromFlag">
					m.fromFlag = #{model.fromFlag, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null">
					m.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					m.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					m.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					m.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.effectiveTo != null">
					<![CDATA[ (m.effectiveTo is null or m.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
				</if>
				<if test="model.effectiveFrom != null">
					<![CDATA[ m.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					m.projectType like CONCAT("%", #{fuzzy}, "%") or
					m.memberRole like CONCAT("%", #{fuzzy}, "%") or
					m.memberCode like CONCAT("%", #{fuzzy}, "%") or
					m.memberName like CONCAT("%", #{fuzzy}, "%") or
					m.phoneNum like CONCAT("%", #{fuzzy}, "%") or
					m.email like CONCAT("%", #{fuzzy}, "%") or
					m.fromFlag like CONCAT("%", #{fuzzy}, "%") or
					m.createBy like CONCAT("%", #{fuzzy}, "%") or
					m.updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where> <include refid="sql_pageable_limit" />
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from pm_project_member as m
	<where>
		<trim prefixOverrides=" and | or " suffixOverrides=" and | or ">
			<if test="model != null ">
				<if test="model.id != null">
					m.id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectId != null">
					m.projectId = #{model.projectId, jdbcType=INTEGER} AND
				</if>
				<if test="model.projectType != null and '' != model.projectType">
					m.projectType = #{model.projectType, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memberRole != null and '' != model.memberRole">
					m.memberRole = #{model.memberRole, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memberCode != null and '' != model.memberCode">
					m.memberCode = #{model.memberCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.memberName != null and '' != model.memberName">
					m.memberName = #{model.memberName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.phoneNum != null and '' != model.phoneNum">
					m.phoneNum = #{model.phoneNum, jdbcType=VARCHAR} AND
				</if>
				<if test="model.email != null and '' != model.email">
					m.email = #{model.email, jdbcType=VARCHAR} AND
				</if>
				<if test="model.fromFlag != null and '' != model.fromFlag">
					m.fromFlag = #{model.fromFlag, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null">
					m.createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					m.createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null">
					m.updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					m.updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.effectiveTo != null">
					<![CDATA[ (m.effectiveTo is null or m.effectiveTo >= #{model.effectiveTo, jdbcType=TIMESTAMP}) ]]> AND
				</if>
				<if test="model.effectiveFrom != null">
					<![CDATA[ m.effectiveFrom <= #{model.effectiveFrom, jdbcType=TIMESTAMP} ]]> AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					m.projectType like CONCAT("%", #{fuzzy}, "%") or
					m.memberRole like CONCAT("%", #{fuzzy}, "%") or
					m.memberCode like CONCAT("%", #{fuzzy}, "%") or
					m.memberName like CONCAT("%", #{fuzzy}, "%") or
					m.phoneNum like CONCAT("%", #{fuzzy}, "%") or
					m.email like CONCAT("%", #{fuzzy}, "%") or
					m.fromFlag like CONCAT("%", #{fuzzy}, "%") or
					m.createBy like CONCAT("%", #{fuzzy}, "%") or
					m.updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </select>
</mapper>