<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.ehr.dao.HolidayMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.ehr.entity.Holiday">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="DATE" property="date" />
    <result column="isHoliday" jdbcType="BIT" property="isHoliday" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, isHoliday
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ehr_holiday
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ehr_holiday
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.ehr.entity.Holiday">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ehr_holiday (date, isHoliday)
    values (#{date,jdbcType=DATE}, #{isHoliday,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.ehr.entity.Holiday">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ehr_holiday
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        date,
      </if>
      <if test="isHoliday != null">
        isHoliday,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="isHoliday != null">
        #{isHoliday,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.ehr.entity.Holiday">
    update ehr_holiday
    <set>
      <if test="date != null">
        date = #{date,jdbcType=DATE},
      </if>
      <if test="isHoliday != null">
        isHoliday = #{isHoliday,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.ehr.entity.Holiday">
    update ehr_holiday
    set date = #{date,jdbcType=DATE},
      isHoliday = #{isHoliday,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="com.dp.plat.ehr.entity.Holiday" resultMap="BaseResultMap">
    select * from ehr_holiday
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="date != null">
				date = #{date, jdbcType=DATE} AND
			</if>
			<if test="isHoliday != null">
				isHoliday = #{isHoliday, jdbcType=BIT} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.ehr.entity.Holiday" resultType="long">
    select count(1) from ehr_holiday
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="date != null">
				date = #{date, jdbcType=DATE} AND
			</if>
			<if test="isHoliday != null">
				isHoliday = #{isHoliday, jdbcType=BIT} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultMap="BaseResultMap">
    select * from ehr_holiday
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null">
					id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.date != null">
					date = #{model.date, jdbcType=DATE} AND
				</if>
				<if test="model.isHoliday != null">
					isHoliday = #{model.isHoliday, jdbcType=BIT} AND
				</if>
			</if>
		</trim>
	</where>
	<if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by id desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from ehr_holiday
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.date != null and '' != model.date">
					date = #{model.date, jdbcType=DATE} AND
				</if>
				<if test="model.isHoliday != null and '' != model.isHoliday">
					isHoliday = #{model.isHoliday, jdbcType=BIT} AND
				</if>
			</if>
		</trim>
	</where>
  </select>
</mapper>