<TD vAlign="middle" align="center" width="20" height="28" style="padding-left:0px;"><IMG height="8" src="$imgurl" /></TD>
<TD width="120px"> <A class="menuList" href="$url" title="$title">$text</A></TD>