<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.ehr.dao.EhrCompanyMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.ehr.entity.Company">
    <id column="compID" jdbcType="INTEGER" property="compID" />
    <result column="compCode" jdbcType="VARCHAR" property="compCode" />
    <result column="compName" jdbcType="VARCHAR" property="compName" />
    <result column="compAbbr" jdbcType="VARCHAR" property="compAbbr" />
    <result column="adminID" jdbcType="INTEGER" property="adminID" />
    <result column="compGrade" jdbcType="INTEGER" property="compGrade" />
    <result column="compType" jdbcType="INTEGER" property="compType" />
    <result column="compArea" jdbcType="INTEGER" property="compArea" />
    <result column="effectDate" jdbcType="TIMESTAMP" property="effectDate" />
    <result column="lawyer" jdbcType="VARCHAR" property="lawyer" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="regAddress" jdbcType="VARCHAR" property="regAddress" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="fax" jdbcType="VARCHAR" property="fax" />
    <result column="postCode" jdbcType="VARCHAR" property="postCode" />
    <result column="webSite" jdbcType="VARCHAR" property="webSite" />
    <result column="isDisabled" jdbcType="BIT" property="isDisabled" />
    <result column="disabledDate" jdbcType="TIMESTAMP" property="disabledDate" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    compID, compCode, compName, compAbbr, adminID, compGrade, compType, compArea, effectDate, 
    lawyer, address, regAddress, tel, fax, postCode, webSite, isDisabled, disabledDate, 
    remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ehr_company
    where compID = #{compID,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ehr_company
    where compID = #{compID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.ehr.entity.Company">
    <selectKey keyProperty="compID" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ehr_company (compCode, compName, compAbbr, 
      adminID, compGrade, compType, 
      compArea, effectDate, lawyer, 
      address, regAddress, tel, 
      fax, postCode, webSite, 
      isDisabled, disabledDate, remark
      )
    values (#{compCode,jdbcType=VARCHAR}, #{compName,jdbcType=VARCHAR}, #{compAbbr,jdbcType=VARCHAR}, 
      #{adminID,jdbcType=INTEGER}, #{compGrade,jdbcType=INTEGER}, #{compType,jdbcType=INTEGER}, 
      #{compArea,jdbcType=INTEGER}, #{effectDate,jdbcType=TIMESTAMP}, #{lawyer,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{regAddress,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{fax,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR}, #{webSite,jdbcType=VARCHAR}, 
      #{isDisabled,jdbcType=BIT}, #{disabledDate,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.ehr.entity.Company">
    <selectKey keyProperty="compID" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ehr_company
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compCode != null">
        compCode,
      </if>
      <if test="compName != null">
        compName,
      </if>
      <if test="compAbbr != null">
        compAbbr,
      </if>
      <if test="adminID != null">
        adminID,
      </if>
      <if test="compGrade != null">
        compGrade,
      </if>
      <if test="compType != null">
        compType,
      </if>
      <if test="compArea != null">
        compArea,
      </if>
      <if test="effectDate != null">
        effectDate,
      </if>
      <if test="lawyer != null">
        lawyer,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="regAddress != null">
        regAddress,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="fax != null">
        fax,
      </if>
      <if test="postCode != null">
        postCode,
      </if>
      <if test="webSite != null">
        webSite,
      </if>
      <if test="isDisabled != null">
        isDisabled,
      </if>
      <if test="disabledDate != null">
        disabledDate,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compCode != null">
        #{compCode,jdbcType=VARCHAR},
      </if>
      <if test="compName != null">
        #{compName,jdbcType=VARCHAR},
      </if>
      <if test="compAbbr != null">
        #{compAbbr,jdbcType=VARCHAR},
      </if>
      <if test="adminID != null">
        #{adminID,jdbcType=INTEGER},
      </if>
      <if test="compGrade != null">
        #{compGrade,jdbcType=INTEGER},
      </if>
      <if test="compType != null">
        #{compType,jdbcType=INTEGER},
      </if>
      <if test="compArea != null">
        #{compArea,jdbcType=INTEGER},
      </if>
      <if test="effectDate != null">
        #{effectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lawyer != null">
        #{lawyer,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="regAddress != null">
        #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="webSite != null">
        #{webSite,jdbcType=VARCHAR},
      </if>
      <if test="isDisabled != null">
        #{isDisabled,jdbcType=BIT},
      </if>
      <if test="disabledDate != null">
        #{disabledDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.ehr.entity.Company">
    update ehr_company
    <set>
      <if test="compCode != null">
        compCode = #{compCode,jdbcType=VARCHAR},
      </if>
      <if test="compName != null">
        compName = #{compName,jdbcType=VARCHAR},
      </if>
      <if test="compAbbr != null">
        compAbbr = #{compAbbr,jdbcType=VARCHAR},
      </if>
      <if test="adminID != null">
        adminID = #{adminID,jdbcType=INTEGER},
      </if>
      <if test="compGrade != null">
        compGrade = #{compGrade,jdbcType=INTEGER},
      </if>
      <if test="compType != null">
        compType = #{compType,jdbcType=INTEGER},
      </if>
      <if test="compArea != null">
        compArea = #{compArea,jdbcType=INTEGER},
      </if>
      <if test="effectDate != null">
        effectDate = #{effectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lawyer != null">
        lawyer = #{lawyer,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="regAddress != null">
        regAddress = #{regAddress,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="fax != null">
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="postCode != null">
        postCode = #{postCode,jdbcType=VARCHAR},
      </if>
      <if test="webSite != null">
        webSite = #{webSite,jdbcType=VARCHAR},
      </if>
      <if test="isDisabled != null">
        isDisabled = #{isDisabled,jdbcType=BIT},
      </if>
      <if test="disabledDate != null">
        disabledDate = #{disabledDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where compID = #{compID,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.ehr.entity.Company">
    update ehr_company
    set compCode = #{compCode,jdbcType=VARCHAR},
      compName = #{compName,jdbcType=VARCHAR},
      compAbbr = #{compAbbr,jdbcType=VARCHAR},
      adminID = #{adminID,jdbcType=INTEGER},
      compGrade = #{compGrade,jdbcType=INTEGER},
      compType = #{compType,jdbcType=INTEGER},
      compArea = #{compArea,jdbcType=INTEGER},
      effectDate = #{effectDate,jdbcType=TIMESTAMP},
      lawyer = #{lawyer,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      regAddress = #{regAddress,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      postCode = #{postCode,jdbcType=VARCHAR},
      webSite = #{webSite,jdbcType=VARCHAR},
      isDisabled = #{isDisabled,jdbcType=BIT},
      disabledDate = #{disabledDate,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where compID = #{compID,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="com.dp.plat.ehr.entity.Company" resultMap="BaseResultMap">
    select * from ehr_company
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="compID != null and '' != compID">
				compID = #{compID, jdbcType=INTEGER} AND
			</if>
			<if test="compCode != null and '' != compCode">
				compCode = #{compCode, jdbcType=VARCHAR} AND
			</if>
			<if test="compName != null and '' != compName">
				compName = #{compName, jdbcType=VARCHAR} AND
			</if>
			<if test="compAbbr != null and '' != compAbbr">
				compAbbr = #{compAbbr, jdbcType=VARCHAR} AND
			</if>
			<if test="adminID != null and '' != adminID">
				adminID = #{adminID, jdbcType=INTEGER} AND
			</if>
			<if test="compGrade != null and '' != compGrade">
				compGrade = #{compGrade, jdbcType=INTEGER} AND
			</if>
			<if test="compType != null and '' != compType">
				compType = #{compType, jdbcType=INTEGER} AND
			</if>
			<if test="compArea != null and '' != compArea">
				compArea = #{compArea, jdbcType=INTEGER} AND
			</if>
			<if test="effectDate != null and '' != effectDate">
				effectDate = #{effectDate, jdbcType=TIMESTAMP} AND
			</if>
			<if test="lawyer != null and '' != lawyer">
				lawyer = #{lawyer, jdbcType=VARCHAR} AND
			</if>
			<if test="address != null and '' != address">
				address = #{address, jdbcType=VARCHAR} AND
			</if>
			<if test="regAddress != null and '' != regAddress">
				regAddress = #{regAddress, jdbcType=VARCHAR} AND
			</if>
			<if test="tel != null and '' != tel">
				tel = #{tel, jdbcType=VARCHAR} AND
			</if>
			<if test="fax != null and '' != fax">
				fax = #{fax, jdbcType=VARCHAR} AND
			</if>
			<if test="postCode != null and '' != postCode">
				postCode = #{postCode, jdbcType=VARCHAR} AND
			</if>
			<if test="webSite != null and '' != webSite">
				webSite = #{webSite, jdbcType=VARCHAR} AND
			</if>
			<if test="isDisabled != null and '' != isDisabled">
				isDisabled = #{isDisabled, jdbcType=BIT} AND
			</if>
			<if test="disabledDate != null and '' != disabledDate">
				disabledDate = #{disabledDate, jdbcType=TIMESTAMP} AND
			</if>
			<if test="remark != null and '' != remark">
				remark = #{remark, jdbcType=VARCHAR} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.ehr.entity.Company" resultType="long">
    select count(1) from ehr_company
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="compID != null and '' != compID">
				compID = #{compID, jdbcType=INTEGER} AND
			</if>
			<if test="compCode != null and '' != compCode">
				compCode = #{compCode, jdbcType=VARCHAR} AND
			</if>
			<if test="compName != null and '' != compName">
				compName = #{compName, jdbcType=VARCHAR} AND
			</if>
			<if test="compAbbr != null and '' != compAbbr">
				compAbbr = #{compAbbr, jdbcType=VARCHAR} AND
			</if>
			<if test="adminID != null and '' != adminID">
				adminID = #{adminID, jdbcType=INTEGER} AND
			</if>
			<if test="compGrade != null and '' != compGrade">
				compGrade = #{compGrade, jdbcType=INTEGER} AND
			</if>
			<if test="compType != null and '' != compType">
				compType = #{compType, jdbcType=INTEGER} AND
			</if>
			<if test="compArea != null and '' != compArea">
				compArea = #{compArea, jdbcType=INTEGER} AND
			</if>
			<if test="effectDate != null and '' != effectDate">
				effectDate = #{effectDate, jdbcType=TIMESTAMP} AND
			</if>
			<if test="lawyer != null and '' != lawyer">
				lawyer = #{lawyer, jdbcType=VARCHAR} AND
			</if>
			<if test="address != null and '' != address">
				address = #{address, jdbcType=VARCHAR} AND
			</if>
			<if test="regAddress != null and '' != regAddress">
				regAddress = #{regAddress, jdbcType=VARCHAR} AND
			</if>
			<if test="tel != null and '' != tel">
				tel = #{tel, jdbcType=VARCHAR} AND
			</if>
			<if test="fax != null and '' != fax">
				fax = #{fax, jdbcType=VARCHAR} AND
			</if>
			<if test="postCode != null and '' != postCode">
				postCode = #{postCode, jdbcType=VARCHAR} AND
			</if>
			<if test="webSite != null and '' != webSite">
				webSite = #{webSite, jdbcType=VARCHAR} AND
			</if>
			<if test="isDisabled != null and '' != isDisabled">
				isDisabled = #{isDisabled, jdbcType=BIT} AND
			</if>
			<if test="disabledDate != null and '' != disabledDate">
				disabledDate = #{disabledDate, jdbcType=TIMESTAMP} AND
			</if>
			<if test="remark != null and '' != remark">
				remark = #{remark, jdbcType=VARCHAR} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultMap="BaseResultMap">
    select * from ehr_company
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.compID != null and '' != model.compID">
					compID = #{model.compID, jdbcType=INTEGER} AND
				</if>
				<if test="model.compCode != null and '' != model.compCode">
					compCode = #{model.compCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.compName != null and '' != model.compName">
					compName = #{model.compName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.compAbbr != null and '' != model.compAbbr">
					compAbbr = #{model.compAbbr, jdbcType=VARCHAR} AND
				</if>
				<if test="model.adminID != null and '' != model.adminID">
					adminID = #{model.adminID, jdbcType=INTEGER} AND
				</if>
				<if test="model.compGrade != null and '' != model.compGrade">
					compGrade = #{model.compGrade, jdbcType=INTEGER} AND
				</if>
				<if test="model.compType != null and '' != model.compType">
					compType = #{model.compType, jdbcType=INTEGER} AND
				</if>
				<if test="model.compArea != null and '' != model.compArea">
					compArea = #{model.compArea, jdbcType=INTEGER} AND
				</if>
				<if test="model.effectDate != null and '' != model.effectDate">
					effectDate = #{model.effectDate, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.lawyer != null and '' != model.lawyer">
					lawyer = #{model.lawyer, jdbcType=VARCHAR} AND
				</if>
				<if test="model.address != null and '' != model.address">
					address = #{model.address, jdbcType=VARCHAR} AND
				</if>
				<if test="model.regAddress != null and '' != model.regAddress">
					regAddress = #{model.regAddress, jdbcType=VARCHAR} AND
				</if>
				<if test="model.tel != null and '' != model.tel">
					tel = #{model.tel, jdbcType=VARCHAR} AND
				</if>
				<if test="model.fax != null and '' != model.fax">
					fax = #{model.fax, jdbcType=VARCHAR} AND
				</if>
				<if test="model.postCode != null and '' != model.postCode">
					postCode = #{model.postCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.webSite != null and '' != model.webSite">
					webSite = #{model.webSite, jdbcType=VARCHAR} AND
				</if>
				<if test="model.isDisabled != null and '' != model.isDisabled">
					isDisabled = #{model.isDisabled, jdbcType=BIT} AND
				</if>
				<if test="model.disabledDate != null and '' != model.disabledDate">
					disabledDate = #{model.disabledDate, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.remark != null and '' != model.remark">
					remark = #{model.remark, jdbcType=VARCHAR} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					compCode like CONCAT("%", #{fuzzy}, "%") or
					compName like CONCAT("%", #{fuzzy}, "%") or
					compAbbr like CONCAT("%", #{fuzzy}, "%") or
					lawyer like CONCAT("%", #{fuzzy}, "%") or
					address like CONCAT("%", #{fuzzy}, "%") or
					regAddress like CONCAT("%", #{fuzzy}, "%") or
					tel like CONCAT("%", #{fuzzy}, "%") or
					fax like CONCAT("%", #{fuzzy}, "%") or
					postCode like CONCAT("%", #{fuzzy}, "%") or
					webSite like CONCAT("%", #{fuzzy}, "%") or
					remark like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
	<if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by id desc
    </if>
    <if test="start != null">
        limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from ehr_company
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.compID != null and '' != model.compID">
					compID = #{model.compID, jdbcType=INTEGER} AND
				</if>
				<if test="model.compCode != null and '' != model.compCode">
					compCode = #{model.compCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.compName != null and '' != model.compName">
					compName = #{model.compName, jdbcType=VARCHAR} AND
				</if>
				<if test="model.compAbbr != null and '' != model.compAbbr">
					compAbbr = #{model.compAbbr, jdbcType=VARCHAR} AND
				</if>
				<if test="model.adminID != null and '' != model.adminID">
					adminID = #{model.adminID, jdbcType=INTEGER} AND
				</if>
				<if test="model.compGrade != null and '' != model.compGrade">
					compGrade = #{model.compGrade, jdbcType=INTEGER} AND
				</if>
				<if test="model.compType != null and '' != model.compType">
					compType = #{model.compType, jdbcType=INTEGER} AND
				</if>
				<if test="model.compArea != null and '' != model.compArea">
					compArea = #{model.compArea, jdbcType=INTEGER} AND
				</if>
				<if test="model.effectDate != null and '' != model.effectDate">
					effectDate = #{model.effectDate, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.lawyer != null and '' != model.lawyer">
					lawyer = #{model.lawyer, jdbcType=VARCHAR} AND
				</if>
				<if test="model.address != null and '' != model.address">
					address = #{model.address, jdbcType=VARCHAR} AND
				</if>
				<if test="model.regAddress != null and '' != model.regAddress">
					regAddress = #{model.regAddress, jdbcType=VARCHAR} AND
				</if>
				<if test="model.tel != null and '' != model.tel">
					tel = #{model.tel, jdbcType=VARCHAR} AND
				</if>
				<if test="model.fax != null and '' != model.fax">
					fax = #{model.fax, jdbcType=VARCHAR} AND
				</if>
				<if test="model.postCode != null and '' != model.postCode">
					postCode = #{model.postCode, jdbcType=VARCHAR} AND
				</if>
				<if test="model.webSite != null and '' != model.webSite">
					webSite = #{model.webSite, jdbcType=VARCHAR} AND
				</if>
				<if test="model.isDisabled != null and '' != model.isDisabled">
					isDisabled = #{model.isDisabled, jdbcType=BIT} AND
				</if>
				<if test="model.disabledDate != null and '' != model.disabledDate">
					disabledDate = #{model.disabledDate, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.remark != null and '' != model.remark">
					remark = #{model.remark, jdbcType=VARCHAR} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					compCode like CONCAT("%", #{fuzzy}, "%") or
					compName like CONCAT("%", #{fuzzy}, "%") or
					compAbbr like CONCAT("%", #{fuzzy}, "%") or
					lawyer like CONCAT("%", #{fuzzy}, "%") or
					address like CONCAT("%", #{fuzzy}, "%") or
					regAddress like CONCAT("%", #{fuzzy}, "%") or
					tel like CONCAT("%", #{fuzzy}, "%") or
					fax like CONCAT("%", #{fuzzy}, "%") or
					postCode like CONCAT("%", #{fuzzy}, "%") or
					webSite like CONCAT("%", #{fuzzy}, "%") or
					remark like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </select>
</mapper>