<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.ehr.dao.EhrEmpPowerMapper">
  <resultMap id="BaseResultMap" type="com.dp.plat.ehr.entity.EhrEmpPower">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="empID" jdbcType="INTEGER" property="empID" />
    <result column="workNo" jdbcType="VARCHAR" property="workNo" />
    <result column="compID" jdbcType="INTEGER" property="compID" />
    <result column="depIDs" jdbcType="VARCHAR" property="depIDs" />
    <result column="extraDepIDs" jdbcType="VARCHAR" property="extraDepIDs" />
    <result column="adminDepIDs" jdbcType="VARCHAR" property="adminDepIDs" />
    <result column="empIDs" jdbcType="VARCHAR" property="empIDs" />
    <result column="extraEmpIDs" jdbcType="VARCHAR" property="extraEmpIDs" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="createBy" jdbcType="VARCHAR" property="createBy" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updateBy" jdbcType="VARCHAR" property="updateBy" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, empID, workNo, compID, depIDs, extraDepIDs, adminDepIDs, empIDs, extraEmpIDs, 
    state, createBy, createTime, updateBy, updateTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ehr_emp_power
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ehr_emp_power
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dp.plat.ehr.entity.EhrEmpPower">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ehr_emp_power (empID, workNo, compID, 
      depIDs, extraDepIDs, adminDepIDs, 
      empIDs, extraEmpIDs, state, 
      createBy, createTime, updateBy, 
      updateTime)
    values (#{empID,jdbcType=INTEGER}, #{workNo,jdbcType=VARCHAR}, #{compID,jdbcType=INTEGER}, 
      #{depIDs,jdbcType=VARCHAR}, #{extraDepIDs,jdbcType=VARCHAR}, #{adminDepIDs,jdbcType=VARCHAR}, 
      #{empIDs,jdbcType=VARCHAR}, #{extraEmpIDs,jdbcType=VARCHAR}, #{state,jdbcType=BIT}, 
      #{createBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dp.plat.ehr.entity.EhrEmpPower">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ehr_emp_power
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="empID != null">
        empID,
      </if>
      <if test="workNo != null">
        workNo,
      </if>
      <if test="compID != null">
        compID,
      </if>
      <if test="depIDs != null">
        depIDs,
      </if>
      <if test="extraDepIDs != null">
        extraDepIDs,
      </if>
      <if test="adminDepIDs != null">
        adminDepIDs,
      </if>
      <if test="empIDs != null">
        empIDs,
      </if>
      <if test="extraEmpIDs != null">
        extraEmpIDs,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="createBy != null">
        createBy,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="updateBy != null">
        updateBy,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="empID != null">
        #{empID,jdbcType=INTEGER},
      </if>
      <if test="workNo != null">
        #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="compID != null">
        #{compID,jdbcType=INTEGER},
      </if>
      <if test="depIDs != null">
        #{depIDs,jdbcType=VARCHAR},
      </if>
      <if test="extraDepIDs != null">
        #{extraDepIDs,jdbcType=VARCHAR},
      </if>
      <if test="adminDepIDs != null">
        #{adminDepIDs,jdbcType=VARCHAR},
      </if>
      <if test="empIDs != null">
        #{empIDs,jdbcType=VARCHAR},
      </if>
      <if test="extraEmpIDs != null">
        #{extraEmpIDs,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dp.plat.ehr.entity.EhrEmpPower">
    update ehr_emp_power
    <set>
      <if test="empID != null">
        empID = #{empID,jdbcType=INTEGER},
      </if>
      <if test="workNo != null">
        workNo = #{workNo,jdbcType=VARCHAR},
      </if>
      <if test="compID != null">
        compID = #{compID,jdbcType=INTEGER},
      </if>
      <if test="depIDs != null">
        depIDs = #{depIDs,jdbcType=VARCHAR},
      </if>
      <if test="extraDepIDs != null">
        extraDepIDs = #{extraDepIDs,jdbcType=VARCHAR},
      </if>
      <if test="adminDepIDs != null">
        adminDepIDs = #{adminDepIDs,jdbcType=VARCHAR},
      </if>
      <if test="empIDs != null">
        empIDs = #{empIDs,jdbcType=VARCHAR},
      </if>
      <if test="extraEmpIDs != null">
        extraEmpIDs = #{extraEmpIDs,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=BIT},
      </if>
      <if test="createBy != null">
        createBy = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        updateBy = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dp.plat.ehr.entity.EhrEmpPower">
    update ehr_emp_power
    set empID = #{empID,jdbcType=INTEGER},
      workNo = #{workNo,jdbcType=VARCHAR},
      compID = #{compID,jdbcType=INTEGER},
      depIDs = #{depIDs,jdbcType=VARCHAR},
      extraDepIDs = #{extraDepIDs,jdbcType=VARCHAR},
      adminDepIDs = #{adminDepIDs,jdbcType=VARCHAR},
      empIDs = #{empIDs,jdbcType=VARCHAR},
      extraEmpIDs = #{extraEmpIDs,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT},
      createBy = #{createBy,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateBy = #{updateBy,jdbcType=VARCHAR},
      updateTime = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="com.dp.plat.ehr.entity.EhrEmpPower" resultMap="BaseResultMap">
    select * from ehr_emp_power
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null and '' != id">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="empID != null and '' != empID">
				empID = #{empID, jdbcType=INTEGER} AND
			</if>
			<if test="workNo != null and '' != workNo">
				workNo = #{workNo, jdbcType=VARCHAR} AND
			</if>
			<if test="compID != null and '' != compID">
				compID = #{compID, jdbcType=INTEGER} AND
			</if>
			<if test="depIDs != null and '' != depIDs">
				depIDs = #{depIDs, jdbcType=VARCHAR} AND
			</if>
			<if test="extraDepIDs != null and '' != extraDepIDs">
				extraDepIDs = #{extraDepIDs, jdbcType=VARCHAR} AND
			</if>
			<if test="adminDepIDs != null and '' != adminDepIDs">
				adminDepIDs = #{adminDepIDs, jdbcType=VARCHAR} AND
			</if>
			<if test="empIDs != null and '' != empIDs">
				empIDs = #{empIDs, jdbcType=VARCHAR} AND
			</if>
			<if test="extraEmpIDs != null and '' != extraEmpIDs">
				extraEmpIDs = #{extraEmpIDs, jdbcType=VARCHAR} AND
			</if>
			<if test="state != null and '' != state">
				state = #{state, jdbcType=BIT} AND
			</if>
			<if test="createBy != null and '' != createBy">
				createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="createTime != null and '' != createTime">
				createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null and '' != updateTime">
				updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="countBySelective" parameterType="com.dp.plat.ehr.entity.EhrEmpPower" resultType="long">
    select count(1) from ehr_emp_power
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="id != null and '' != id">
				id = #{id, jdbcType=INTEGER} AND
			</if>
			<if test="empID != null and '' != empID">
				empID = #{empID, jdbcType=INTEGER} AND
			</if>
			<if test="workNo != null and '' != workNo">
				workNo = #{workNo, jdbcType=VARCHAR} AND
			</if>
			<if test="compID != null and '' != compID">
				compID = #{compID, jdbcType=INTEGER} AND
			</if>
			<if test="depIDs != null and '' != depIDs">
				depIDs = #{depIDs, jdbcType=VARCHAR} AND
			</if>
			<if test="extraDepIDs != null and '' != extraDepIDs">
				extraDepIDs = #{extraDepIDs, jdbcType=VARCHAR} AND
			</if>
			<if test="adminDepIDs != null and '' != adminDepIDs">
				adminDepIDs = #{adminDepIDs, jdbcType=VARCHAR} AND
			</if>
			<if test="empIDs != null and '' != empIDs">
				empIDs = #{empIDs, jdbcType=VARCHAR} AND
			</if>
			<if test="extraEmpIDs != null and '' != extraEmpIDs">
				extraEmpIDs = #{extraEmpIDs, jdbcType=VARCHAR} AND
			</if>
			<if test="state != null and '' != state">
				state = #{state, jdbcType=BIT} AND
			</if>
			<if test="createBy != null and '' != createBy">
				createBy = #{createBy, jdbcType=VARCHAR} AND
			</if>
			<if test="createTime != null and '' != createTime">
				createTime = #{createTime, jdbcType=TIMESTAMP} AND
			</if>
			<if test="updateBy != null and '' != updateBy">
				updateBy = #{updateBy, jdbcType=VARCHAR} AND
			</if>
			<if test="updateTime != null and '' != updateTime">
				updateTime = #{updateTime, jdbcType=TIMESTAMP} AND
			</if>
		</trim>
	</where>
  </select>
  <select id="selectBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultMap="BaseResultMap">
    select * from ehr_emp_power
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.empID != null and '' != model.empID">
					empID = #{model.empID, jdbcType=INTEGER} AND
				</if>
				<if test="model.workNo != null and '' != model.workNo">
					workNo = #{model.workNo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.compID != null and '' != model.compID">
					compID = #{model.compID, jdbcType=INTEGER} AND
				</if>
				<if test="model.depIDs != null and '' != model.depIDs">
					depIDs = #{model.depIDs, jdbcType=VARCHAR} AND
				</if>
				<if test="model.extraDepIDs != null and '' != model.extraDepIDs">
					extraDepIDs = #{model.extraDepIDs, jdbcType=VARCHAR} AND
				</if>
				<if test="model.adminDepIDs != null and '' != model.adminDepIDs">
					adminDepIDs = #{model.adminDepIDs, jdbcType=VARCHAR} AND
				</if>
				<if test="model.empIDs != null and '' != model.empIDs">
					empIDs = #{model.empIDs, jdbcType=VARCHAR} AND
				</if>
				<if test="model.extraEmpIDs != null and '' != model.extraEmpIDs">
					extraEmpIDs = #{model.extraEmpIDs, jdbcType=VARCHAR} AND
				</if>
				<if test="model.state != null and '' != model.state">
					state = #{model.state, jdbcType=BIT} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null and '' != model.createTime">
					createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null and '' != model.updateTime">
					updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					workNo like CONCAT("%", #{fuzzy}, "%") or
					depIDs like CONCAT("%", #{fuzzy}, "%") or
					extraDepIDs like CONCAT("%", #{fuzzy}, "%") or
					adminDepIDs like CONCAT("%", #{fuzzy}, "%") or
					empIDs like CONCAT("%", #{fuzzy}, "%") or
					extraEmpIDs like CONCAT("%", #{fuzzy}, "%") or
					createBy like CONCAT("%", #{fuzzy}, "%") or
					updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
	<if test="orderBy != null">
        order by ${orderBy}
    </if>
    <if test="orderBy == null">
        order by id desc
    </if>
    <if test="start != null and pageSize != -1">
        limit #{start}, #{pageSize}
    </if>
  </select>
  <select id="countBySelectivePageable" parameterType="com.dp.plat.core.vo.PageParam" resultType="long">
    select count(1) from ehr_emp_power
	<where>
		<trim prefixOverrides="and |or" suffixOverrides="and |or">
			<if test="model != null ">
				<if test="model.id != null and '' != model.id">
					id = #{model.id, jdbcType=INTEGER} AND
				</if>
				<if test="model.empID != null and '' != model.empID">
					empID = #{model.empID, jdbcType=INTEGER} AND
				</if>
				<if test="model.workNo != null and '' != model.workNo">
					workNo = #{model.workNo, jdbcType=VARCHAR} AND
				</if>
				<if test="model.compID != null and '' != model.compID">
					compID = #{model.compID, jdbcType=INTEGER} AND
				</if>
				<if test="model.depIDs != null and '' != model.depIDs">
					depIDs = #{model.depIDs, jdbcType=VARCHAR} AND
				</if>
				<if test="model.extraDepIDs != null and '' != model.extraDepIDs">
					extraDepIDs = #{model.extraDepIDs, jdbcType=VARCHAR} AND
				</if>
				<if test="model.adminDepIDs != null and '' != model.adminDepIDs">
					adminDepIDs = #{model.adminDepIDs, jdbcType=VARCHAR} AND
				</if>
				<if test="model.empIDs != null and '' != model.empIDs">
					empIDs = #{model.empIDs, jdbcType=VARCHAR} AND
				</if>
				<if test="model.extraEmpIDs != null and '' != model.extraEmpIDs">
					extraEmpIDs = #{model.extraEmpIDs, jdbcType=VARCHAR} AND
				</if>
				<if test="model.state != null and '' != model.state">
					state = #{model.state, jdbcType=BIT} AND
				</if>
				<if test="model.createBy != null and '' != model.createBy">
					createBy = #{model.createBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.createTime != null and '' != model.createTime">
					createTime = #{model.createTime, jdbcType=TIMESTAMP} AND
				</if>
				<if test="model.updateBy != null and '' != model.updateBy">
					updateBy = #{model.updateBy, jdbcType=VARCHAR} AND
				</if>
				<if test="model.updateTime != null and '' != model.updateTime">
					updateTime = #{model.updateTime, jdbcType=TIMESTAMP} AND
				</if>
			</if>
			<if test="fuzzySearch == true and fuzzy != ''">
				(
					workNo like CONCAT("%", #{fuzzy}, "%") or
					depIDs like CONCAT("%", #{fuzzy}, "%") or
					extraDepIDs like CONCAT("%", #{fuzzy}, "%") or
					adminDepIDs like CONCAT("%", #{fuzzy}, "%") or
					empIDs like CONCAT("%", #{fuzzy}, "%") or
					extraEmpIDs like CONCAT("%", #{fuzzy}, "%") or
					createBy like CONCAT("%", #{fuzzy}, "%") or
					updateBy like CONCAT("%", #{fuzzy}, "%")
				)
			</if>
		</trim>
	</where>
  </select>
  
  <select id="selectByEmpID" parameterType="int" resultMap="BaseResultMap">
  	select * from ehr_emp_power where empID = #{empID} limit 1
  </select>
  
  <!-- <insert id="insertEhrDepPower">
    INSERT INTO `ehr_emp_power` (
	    empID, workNo, compID, depIDs, createBy, updateBy
	) 
	SELECT 
	    t.director empID, e.`workNo`, e.`compID`, GROUP_CONCAT(DISTINCT t.depID) AS depIDs, 'sys', 'sys' 
	FROM
	    ehr_employee e 
	    INNER JOIN 
	        (SELECT 
	            d.`director`, depID 
	        FROM
	            ehr_department d 
	        UNION
	        SELECT 
	            d2.`director2` AS director, depID 
	        FROM
	            ehr_department d2) t 
	        ON t.director = e.`empID` 
	WHERE e.empStatus = 1 
	GROUP BY t.director 
	ORDER BY t.director ASC, t.depID ASC 
	ON DUPLICATE KEY UPDATE
	empID = VALUES(empID), workNo = VALUES(workNo), compID = VALUES(compID), depIDs = VALUES(depIDs), updateBy = VALUES(updateBy)
  </insert> -->
  
  <update id="clearEhrDepPower">
  	update ehr_emp_power set depIDs = ''
  </update>
  <insert id="insertEhrDepPower">
    INSERT INTO `ehr_emp_power` (
	    empID, workNo, compID, depIDs, createBy, updateBy
	) 
	SELECT 
	    ttt.director empID, e.`workNo`, e.`compID`, GROUP_CONCAT(DISTINCT ttt.depID) AS depIDs, 'sys', 'sys' 
	FROM
	    ehr_employee e 
	    INNER JOIN 
	        (SELECT 
	            tt.director, vd.depID 
	        FROM
	            (SELECT 
	                t.director, GROUP_CONCAT(DISTINCT t.depID) AS depIDs 
	            FROM
	                (SELECT 
	                    d.`director`, d.depID 
	                FROM
	                    `ehr_department` d 
	                UNION
	                SELECT 
	                    d2.`director2` AS director, d2.depID 
	                FROM
	                    `ehr_department` d2) t 
	            GROUP BY director) tt 
	            LEFT JOIN view_ehr_department vd 
	                ON 1 = 1 
	        WHERE (
	                FIND_IN_SET(vd.`depID`, tt.depIDs) 
	                OR FIND_IN_SET(vd.`depLV1ID`, tt.depIDs) 
	                OR FIND_IN_SET(vd.`depLV2ID`, tt.depIDs) 
	                OR FIND_IN_SET(vd.`depLV3ID`, tt.depIDs)
	            )) ttt 
	        ON ttt.director = e.`empID` 
	WHERE e.empStatus = 1 
	GROUP BY ttt.director 
	ORDER BY ttt.director ASC, ttt.depID ASC 
	ON DUPLICATE KEY UPDATE
	empID = VALUES(empID), workNo = VALUES(workNo), compID = VALUES(compID), depIDs = VALUES(depIDs), updateBy = VALUES(updateBy)
  </insert>
  
  <update id="clearEhrEmpPower">
  	update ehr_emp_power set empIDs = ''
  </update>
  <insert id="insertEhrEmpPower">
    INSERT INTO `ehr_emp_power` (
	    empID, workNo, compID, empIDs, createBy, updateBy
	) 
	SELECT 
	    t.reportTo empID, e.`workNo`, e.`compID`, GROUP_CONCAT(DISTINCT t.empID) AS empIDs, 'sys', 'sys'
	FROM
	    ehr_employee e 
	    INNER JOIN 
	        (SELECT 
	            e1.`reportTo`, e1.`empID` 
	        FROM
	            ehr_employee e1 
	        WHERE e1.`reportTo` IS NOT NULL 
	        UNION
	        SELECT 
	            e2.`wfreportTo` AS reportTo, e2.empID 
	        FROM
	            ehr_employee e2 
	        WHERE e2.`wfreportTo` IS NOT NULL 
	        UNION
	        SELECT 
	            ar.appraiserId AS reportTo, ar.appraiseeId AS empID 
	        FROM
	            `perf_appraiser_relationship` ar 
	        WHERE ar.priority = 2
	            AND ar.appraiserId IS NOT NULL 
	            AND ar.state = TRUE) t 
	        ON t.reportTo = e.`empID` 
	WHERE e.empStatus = 1 
	GROUP BY t.reportTo 
	ORDER BY t.reportTo ASC, t.empID ASC
	ON DUPLICATE KEY UPDATE
		empID = VALUES(empID), workNo = VALUES(workNo), compID = VALUES(compID), empIDs = VALUES(empIDs), updateBy = VALUES(updateBy) 
  </insert>
  
  <!-- 设置group_concat()返回的最大长度，默认1024；无限制-1 -->
  <select id="setGroupConcatMaxLen" parameterType="int">
    <if test="_parameter != null and _parameter != 0">
        set group_concat_max_len = #{_parameter};
    </if>
  </select>
</mapper>