<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dp.plat.ehr.dao.EhrSynchronizeMapper">
    <select id="selectAllCompany" resultType="com.dp.plat.ehr.entity.Company">
        select * from view_ehr_company_4_pams
    </select>
    
    <select id="selectAllDepartment" resultType="com.dp.plat.ehr.entity.Department">
        select * from view_ehr_department_4_pams
    </select>
    
    <select id="selectAllJob" resultType="com.dp.plat.ehr.entity.Job">
        select * from view_ehr_job_4_pams
    </select>
    
    <select id="selectAllEmployee" resultType="com.dp.plat.ehr.entity.Employee">
        select * from view_ehr_employee_4_pams
    </select>
    
    <select id="selectAllEHRLoginAccount" resultType="com.dp.plat.ehr.entity.EHRLoginAccount">
        select * from view_ehr_loginAccount_4_pams
    </select>
    
    <select id="selectAllHoliday" resultType="com.dp.plat.ehr.entity.Holiday">
        select special_day as date, is_holiday as isHoliday from dp_special_holiday
    </select>
    
    <select id="clearAllHoliday">
        truncate ehr_holiday
    </select>
    
    <insert id="insertCompany" parameterType="java.util.List">
	    insert into ehr_company (compID, compCode, compName, compAbbr, 
	      adminID, compGrade, compType, 
	      compArea, effectDate, lawyer, 
	      address, regAddress, tel, 
	      fax, postCode, webSite, 
	      isDisabled, disabledDate, remark
	      )
	    values
	    <foreach collection="list" item="item" index="index" separator="," >  
	     (#{item.compID,jdbcType=INTEGER}, #{item.compCode,jdbcType=VARCHAR}, #{item.compName,jdbcType=VARCHAR}, #{item.compAbbr,jdbcType=VARCHAR}, 
	      #{item.adminID,jdbcType=INTEGER}, #{item.compGrade,jdbcType=INTEGER}, #{item.compType,jdbcType=INTEGER}, 
	      #{item.compArea,jdbcType=INTEGER}, #{item.effectDate,jdbcType=TIMESTAMP}, #{item.lawyer,jdbcType=VARCHAR}, 
	      #{item.address,jdbcType=VARCHAR}, #{item.regAddress,jdbcType=VARCHAR}, #{item.tel,jdbcType=VARCHAR}, 
	      #{item.fax,jdbcType=VARCHAR}, #{item.postCode,jdbcType=VARCHAR}, #{item.webSite,jdbcType=VARCHAR}, 
	      #{item.isDisabled,jdbcType=BIT}, #{item.disabledDate,jdbcType=TIMESTAMP}, #{item.remark,jdbcType=VARCHAR}
	      )
        </foreach>
        ON DUPLICATE KEY UPDATE compCode = VALUES(compCode), compName = VALUES(compName), compAbbr = VALUES(compAbbr), 
			adminID = VALUES(adminID), compGrade = VALUES(compGrade), compType = VALUES(compType), 
			compArea = VALUES(compArea), effectDate = VALUES(effectDate), lawyer = VALUES(lawyer), 
			address = VALUES(address), regAddress = VALUES(regAddress), tel = VALUES(tel), 
			fax = VALUES(fax), postCode = VALUES(postCode), webSite = VALUES(webSite), 
			isDisabled = VALUES(isDisabled), disabledDate = VALUES(disabledDate), remark = VALUES(remark)
    </insert>
    
    <insert id="insertDepartment" parameterType="java.util.List">
        insert into ehr_department (depID, depCode, depName, depAbbr, 
	      compID, adminID, depGrade, 
	      depType, depProperty, depCost, 
	      director, director2, depEmp, 
	      depNum, effectDate, xOrder, 
	      isDisabled, disabledDate, remark, 
	      depCustom1, depCustom2, depCustom3, 
	      depCustom4, depCustom5)
	    values 
        <foreach collection="list" item="item" index="index" separator="," >  
         (#{item.depID,jdbcType=INTEGER}, #{item.depCode,jdbcType=VARCHAR}, #{item.depName,jdbcType=VARCHAR}, #{item.depAbbr,jdbcType=VARCHAR}, 
          #{item.compID,jdbcType=INTEGER}, #{item.adminID,jdbcType=INTEGER}, #{item.depGrade,jdbcType=INTEGER}, 
          #{item.depType,jdbcType=INTEGER}, #{item.depProperty,jdbcType=INTEGER}, #{item.depCost,jdbcType=INTEGER}, 
          #{item.director,jdbcType=INTEGER}, #{item.director2,jdbcType=INTEGER}, #{item.depEmp,jdbcType=INTEGER}, 
          #{item.depNum,jdbcType=INTEGER}, #{item.effectDate,jdbcType=TIMESTAMP}, #{item.xOrder,jdbcType=VARCHAR}, 
          #{item.isDisabled,jdbcType=BIT}, #{item.disabledDate,jdbcType=TIMESTAMP}, #{item.remark,jdbcType=VARCHAR}, 
          #{item.depCustom1,jdbcType=INTEGER}, #{item.depCustom2,jdbcType=INTEGER}, #{item.depCustom3,jdbcType=INTEGER}, 
          #{item.depCustom4,jdbcType=INTEGER}, #{item.depCustom5,jdbcType=INTEGER})
        </foreach>
        ON DUPLICATE KEY UPDATE depCode = VALUES(depCode), depName = VALUES(depName), depAbbr = VALUES(depAbbr), 
			compID = VALUES(compID), adminID = VALUES(adminID), depGrade = VALUES(depGrade), 
			depType = VALUES(depType), depProperty = VALUES(depProperty), depCost = VALUES(depCost), 
			director = VALUES(director), director2 = VALUES(director2), depEmp = VALUES(depEmp), 
			depNum = VALUES(depNum), effectDate = VALUES(effectDate), xOrder = VALUES(xOrder), 
			isDisabled = VALUES(isDisabled), disabledDate = VALUES(disabledDate), remark = VALUES(remark), 
			depCustom1 = VALUES(depCustom1), depCustom2 = VALUES(depCustom2), depCustom3 = VALUES(depCustom3), 
			depCustom4 = VALUES(depCustom4), depCustom5 = VALUES(depCustom5)
    </insert>
    
        <insert id="insertJob" parameterType="java.util.List">
        insert into ehr_job (jobID, jobCode, jobName, jobAbbr, 
          depID, adminID, jobGrage, 
          jobType, jobProperty, jobNum, 
          isCore, effectDate, xorder, 
          isDisabled, disabledDate, remark, 
          xType, jobCustom1, jobCustom2, 
          jobCustom3, jobCustom4, jobCustom5
          )
        values
        <foreach collection="list" item="item" index="index" separator="," >  
          (#{item.jobID,jdbcType=INTEGER}, #{item.jobCode,jdbcType=VARCHAR}, #{item.jobName,jdbcType=VARCHAR}, #{item.jobAbbr,jdbcType=VARCHAR}, 
          #{item.depID,jdbcType=INTEGER}, #{item.adminID,jdbcType=INTEGER}, #{item.jobGrage,jdbcType=INTEGER}, 
          #{item.jobType,jdbcType=INTEGER}, #{item.jobProperty,jdbcType=INTEGER}, #{item.jobNum,jdbcType=INTEGER}, 
          #{item.isCore,jdbcType=BIT}, #{item.effectDate,jdbcType=TIMESTAMP}, #{item.xorder,jdbcType=VARCHAR}, 
          #{item.isDisabled,jdbcType=BIT}, #{item.disabledDate,jdbcType=TIMESTAMP}, #{item.remark,jdbcType=VARCHAR}, 
          #{item.xType,jdbcType=INTEGER}, #{item.jobCustom1,jdbcType=INTEGER}, #{item.jobCustom2,jdbcType=INTEGER}, 
          #{item.jobCustom3,jdbcType=INTEGER}, #{item.jobCustom4,jdbcType=INTEGER}, #{item.jobCustom5,jdbcType=INTEGER}
          )
        </foreach>
        ON DUPLICATE KEY UPDATE jobCode = VALUES(jobCode), jobName = VALUES(jobName), jobAbbr = VALUES(jobAbbr), 
            depID = VALUES(depID), adminID = VALUES(adminID), jobGrage = VALUES(jobGrage), 
            jobType = VALUES(jobType), jobProperty = VALUES(jobProperty), jobNum = VALUES(jobNum), 
            isCore = VALUES(isCore), effectDate = VALUES(effectDate), xorder = VALUES(xorder), 
            isDisabled = VALUES(isDisabled), disabledDate = VALUES(disabledDate), remark = VALUES(remark), 
            xType = VALUES(xType), jobCustom1 = VALUES(jobCustom1), jobCustom2 = VALUES(jobCustom2), 
            jobCustom3 = VALUES(jobCustom3), jobCustom4 = VALUES(jobCustom4), jobCustom5 = VALUES(jobCustom5)
    </insert>
    
    <insert id="insertEmployee" parameterType="java.util.List">
        insert into ehr_employee (empID, workNo, name, eName, 
	      compID, depID, jobID, 
	      reportTo, wfreportTo, empStatus, 
	      jobStatus, empType, joinDate, 
	      workBeginDate, jobBeginDate, pracBeginDate, 
	      pracEndDate, probBeginDate, probEndDate, 
	      leaveDate, gender, email, 
	      mobile, officePhone, remark, 
	      disabled, empCustom1, empCustom2, 
	      empCustom3, empCustom4, empCustom5
	      )
	    values 
        <foreach collection="list" item="item" index="index" separator="," >  
         (#{item.empID,jdbcType=INTEGER}, #{item.workNo,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.eName,jdbcType=VARCHAR}, 
          #{item.compID,jdbcType=INTEGER}, #{item.depID,jdbcType=INTEGER}, #{item.jobID,jdbcType=INTEGER}, 
          #{item.reportTo,jdbcType=INTEGER}, #{item.wfreportTo,jdbcType=INTEGER}, #{item.empStatus,jdbcType=INTEGER}, 
          #{item.jobStatus,jdbcType=INTEGER}, #{item.empType,jdbcType=INTEGER}, #{item.joinDate,jdbcType=TIMESTAMP}, 
          #{item.workBeginDate,jdbcType=TIMESTAMP}, #{item.jobBeginDate,jdbcType=TIMESTAMP}, #{item.pracBeginDate,jdbcType=TIMESTAMP}, 
          #{item.pracEndDate,jdbcType=TIMESTAMP}, #{item.probBeginDate,jdbcType=TIMESTAMP}, #{item.probEndDate,jdbcType=TIMESTAMP}, 
          #{item.leaveDate,jdbcType=TIMESTAMP}, #{item.gender,jdbcType=INTEGER}, #{item.email,jdbcType=VARCHAR}, 
          #{item.mobile,jdbcType=VARCHAR}, #{item.officePhone,jdbcType=VARCHAR}, #{item.remark,jdbcType=VARCHAR}, 
          #{item.disabled,jdbcType=INTEGER}, #{item.empCustom1,jdbcType=INTEGER}, #{item.empCustom2,jdbcType=INTEGER}, 
          #{item.empCustom3,jdbcType=INTEGER}, #{item.empCustom4,jdbcType=VARCHAR}, #{item.empCustom5,jdbcType=INTEGER}
          )
        </foreach>
        ON DUPLICATE KEY UPDATE workNo = VALUES(workNo), name = VALUES(name), 
			eName = VALUES(eName), compID = VALUES(compID), depID = VALUES(depID), 
			jobID = VALUES(jobID), reportTo = VALUES(reportTo), wfreportTo = VALUES(wfreportTo), 
			empStatus = VALUES(empStatus), jobStatus = VALUES(jobStatus), empType = VALUES(empType), 
			joinDate = VALUES(joinDate), workBeginDate = VALUES(workBeginDate), jobBeginDate = VALUES(jobBeginDate), 
			pracBeginDate = VALUES(pracBeginDate), pracEndDate = VALUES(pracEndDate), probBeginDate = VALUES(probBeginDate), 
			probEndDate = VALUES(probEndDate), leaveDate = VALUES(leaveDate), gender = VALUES(gender), 
			email = VALUES(email), mobile = VALUES(mobile), officePhone = VALUES(officePhone), 
			remark = VALUES(remark), disabled = VALUES(disabled), empCustom1 = VALUES(empCustom1), 
			empCustom2 = VALUES(empCustom2), empCustom3 = VALUES(empCustom3), empCustom4 = VALUES(empCustom4), 
			empCustom5 = VALUES(empCustom5)
    </insert>
    
    <insert id="insertEHRLoginAccount" parameterType="java.util.List">
        insert into ehr_login (id, title, account, empID, 
	      workNo, name, isDisabled
	      )
	    values
        <foreach collection="list" item="item" index="index" separator="," >  
          (#{item.id,jdbcType=INTEGER}, #{item.title,jdbcType=VARCHAR}, #{item.account,jdbcType=VARCHAR}, #{item.empID,jdbcType=INTEGER}, 
          #{item.workNo,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.isDisabled,jdbcType=VARCHAR}
          )
        </foreach>
        ON DUPLICATE KEY UPDATE title = VALUES(title), account = VALUES(account), empID = VALUES(empID), 
            workNo = VALUES(workNo), name = VALUES(name), isDisabled = VALUES(isDisabled)
    </insert>
    
    <insert id="insertHoliday" parameterType="java.util.List">
        insert into ehr_holiday (id, date, isHoliday)
	    values
        <foreach collection="list" item="item" index="index" separator="," >  
          (#{item.id,jdbcType=INTEGER}, #{item.date,jdbcType=TIMESTAMP}, #{item.isHoliday,jdbcType=BIT}
          )
        </foreach>
        ON DUPLICATE KEY UPDATE date = VALUES(date), isHoliday = VALUES(isHoliday)
    </insert>
</mapper>